#set set_val=hi there

Testing ##set_val##.
value=##value##.
#set value=cat
value=##value##.

#set val=<##value##>
val=##val##.

my_array1=##my_array[1]##.
#set valx=<##my_array[1]##>

valx=##valx##.
