before include2
#include include2.dat
after include2


#sub sub1

before call sub3
#callsub sub3
after call sub3

#endsub sub1

#sub sub2

before call sub1
#callsub sub1
after call sub1

#endsub

before call sub2
#callsub sub2
after call sub2

done
