Makefile
Makefile.old
*.tar.gz
*.bak
*.swp
pm_to_blib
blib/
Net-Protocol-OBSRemote-*
Net-Protocol-OBSRemote-*/
.releaserc
cover_db
firefox-versions/
chrome-versions/
MYMETA.*
frame-*.png
*.pl
.prove
.patch
