BODY {color: black; font-weight: normal; font-style: normal; font-family: arial, helvetica, sans-serif; background-color: white; background-image: url(/static/back.jpg)}
TH {background-color: #7777BB}