</div>
<div>
	<p class="www_xml_exec_stats">
		Execution time:&nbsp;<tmpl_var _exec_time><br/>
		Queries time:&nbsp;<tmpl_var _queries_time><br/>
		Clean exec time:&nbsp;<tmpl_var _clean_time><br/>
		Queries used:&nbsp;<tmpl_var _queries><br/>
	</p>
</div>
</body>
</html>