Source: libqbit-application-model-db-mysql-authorization-perl
Section: perl
Priority: extra
Maintainer: Igor Sverdlov <igor-sverdlov@mail.ru>
Build-Depends: debhelper (>= 8.0.0), perl, libqbit-perl, libqbit-application-model-db-mysql-perl, libqbit-application-model-authorization-perl
Standards-Version: 3.9.4

Package: libqbit-application-model-db-mysql-authorization-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libqbit-perl, libqbit-application-model-db-mysql-perl, libqbit-application-model-authorization-perl
Description: MySQL table for QBit::Application::Model::Authorization.
 MySQL table for QBit::Application::Model::Authorization.
