Source: libqbit-webinterface-ownserver-perl
Section: perl
Priority: extra
Maintainer: Sergei Svistunov <sergei-svistunov@yandex.ru>
Build-Depends: debhelper (>= 8.0.0), perl, libqbit-perl, libqbit-webinterface-perl, libqbit-webinterface-perl, libmime-types-perl
Standards-Version: 3.9.4

Package: libqbit-webinterface-ownserver-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libqbit-perl, libqbit-webinterface-perl, libqbit-webinterface-perl, libmime-types-perl
Description: WebInterface with own HTTP server.
