[% USE YAMLVal -%]
[% IF mark -%]
mark: [% mark.yamlval %]
[% END -%]
time: [% time.yamlval %]
task: [% task.yamlval %]
cust: [% cust.yamlval %]
proj: [% proj.yamlval %]
tags: [% tags.yamlval %]
refs: [% refs.yamlval %]
note: [% note.yamlval %]
