!!! 5
%html
  %head
    %meta(charset = $settings->{charset})
    %title= $settings->{appname}
  %body
    %div(style="color: green")= $content
    #footer
      Powered by
      %a(href="https://metacpan.org/release/Dancer2") Dancer2
