[%- IF ( output_type == 'plain' or c.stash.no_wrapper ) -%]
[%-    debug("Passing page through as text: $template.name \n"); -%]
[%-    content | none -%]
[%- ELSE -%]
[%-    debug("Applying HTML page layout wrappers to $template.name \n"); -%]
[% IF c.config.application_style %]
[% PROCESS application_wrapper.tt %]
[% ELSE %]
[% PROCESS intranet_wrapper.tt %]
[% END %]
[%- END -%]
