	body {
		margin:0px 0px 20px 0px;
		background:#000;
		}
	A			{ color: #FFCC99; text-decoration: underline; }
	A:link		{ color: #FFCC99; text-decoration: underline; }
	A:visited	{ color: #CC9966; text-decoration: underline; }
	A:active	{ color: #666666;  }
	A:hover		{ color: #666666;  }

	h1, h2,	h3 {
		margin:	0px;
		padding: 0px;
	}

	abbr, acronym, .help {
		cursor: help;
	}

	pre {
		font-family:geneva, verdana, arial, sans-serif;
		font-size:13px;
		color:#EEE;
		line-height:15px;
		background-color: #333;
		border: 1px dashed #EEE;
		padding: 2px;
		padding-left: 10px;
		margin-left: 30px;
		margin-right: 75px;
	}

	strong {
		color:yellow;
	}

	input:focus,
	textarea:focus {
		background:yellow;
	}

	input[type="button"]:focus {
		background:button-highlight;
	}

	code {
		color:#9999CC;
	}

	#banner	{
		position:relative;
		width:95%;
		font-family:palatino,  georgia,	verdana, arial,	sans-serif;
		color:#CCC;
		font-size:x-large;
		font-weight:normal;
		padding:15px;
		border-top:4px double #999;
		z-index:10;
		}

	#banner	a,
	#banner	a:link,
	#banner	a:visited,
	#banner	a:active,
	#banner	a:hover	{
		font-family: palatino,	georgia, verdana, arial, sans-serif;
		font-size: xx-large;
		color: #CCC;
		text-decoration: none;
		}

	.description {
		font-family:palatino,  georgia,	"times new roman", serif;
		color:#CCC;
		font-size:medium;
		text-transform:none;
		}

	.caticon {
		float:left;
		text-align:center;
		font-family:verdana, arial, sans-serif;
		color:#CCC;
		font-size:small;
		font-weight:normal;
		background:#000;
		line-height:140%;
		padding:2px;
		width:50px;
		}

	#content {
		position:absolute;
		background:#000;
		margin-right:20px;
		margin-bottom:20px;
		border:1px solid #000;
		top: 75px;
		left: 225px;
		width: 60%;
		}

	#container {
		background:#000;
		border:1px solid #000;
		}

	#links {
		padding:15px;
		border:1px solid #000;
		width:200px;
		margin-left:0;
		}

	.blog {
		padding:15px;
		background:#000;
		}

	.blogbody {
		font-family:palatino, georgia, verdana,	arial, sans-serif;
		color:#CCC;
		font-size:medium;
		font-weight:normal;
		background:#000;
		line-height:200%;
		}

	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: normal;
		text-decoration: underline;
	}

	.title	{
		font-family: palatino, georgia,	"times new roman", serif;
		font-size: x-large;
		color: #999;
		}

	.pre {
		font-family:geneva, verdana, arial, sans-serif;
		color:#EEE;
		background-color: #222;
		border: 1px solid #EEE;
		padding: 2px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 30px;
		margin-right: 75px;
	}

	.codenote {
		color:#888;
		float:right;
	}

	#menu {
		color:#CCC;
		margin-bottom:15px;
		background:#000;
		text-align:center;
		}

	.date	{
		font-family:palatino, georgia, "times new roman", serif;
		font-size: large;
		color: #CCC;
		border-bottom:1px solid	#999;
		margin-bottom:10px;
		font-weight:bold;
		}

	.posted	{
		font-family:verdana, arial, sans-serif;
		font-size: small;
		color: #FFFFFF;
		margin-bottom:25px;
		clear:both;
		}


	.calendar {
		font-family:verdana, arial, sans-serif;
		color:#999;
		font-size:x-small;
		font-weight:normal;
		background:#000;
		line-height:140%;
		padding:2px;
		text-align:left;
		}

	.calendarhead {
		font-family:palatino, georgia, "times new roman", serif;
		color:#9999FF;
		font-size:small;
		font-weight:normal;
		padding:2px;
		letter-spacing:	.3em;
		background:#000;
		text-transform:uppercase;
		text-align:right;
		}

	.side {
		font-family:verdana, arial, sans-serif;
		color:#CCC;
		font-size:small;
		font-weight:normal;
		background:#000;
		line-height:140%;
		padding:2px;
		}

	.sidetitle {
		font-family:palatino, georgia, "times new roman", serif;
		color:#9999FF;
		font-size:medium;
		font-weight:normal;
		padding:2px;
		margin-top:30px;
		letter-spacing:	.3em;
		background:#000;
		text-transform:uppercase;
		}

	.syndicate {
		font-family:verdana, arial, sans-serif;
		font-size:xx-small;
		line-height:140%;
		padding:2px;
		margin-top:15px;
		background:#000;
		}

	.powered {
		font-family:palatino, georgia, "times new roman", serif;
		color:#999;
		font-size:x-small;
		line-height:140%;
		text-transform:uppercase;
		padding:2px;
		margin-top:50px;
		letter-spacing:	.2em;
		background:#000;
		}


	.comments-body {
		font-family:palatino, georgia, verdana,	arial, sans-serif;
		color:#999;
		font-size:medium;
		font-weight:normal;
		background:#000;
		line-height:140%;
		padding-bottom:10px;
		padding-top:10px;
		border-bottom:1px dotted #666;
		}

	.comments-post {
		font-family:verdana, arial, sans-serif;
		color:#999;
		font-size:medium;
		font-weight:normal;
		background:#000;
		}


	.trackback-url {
		font-family:palatino, georgia, verdana,	arial, sans-serif;
		color:#999;
		font-size:large;
		font-weight:normal;
		background:#000;
		line-height:140%;
		padding:5px;
		border:1px dotted #666;
		}


	.trackback-body	{
		font-family:palatino, georgia, verdana,	arial, sans-serif;
		color:#999;
		font-size:large;
		font-weight:normal;
		background:#000;
		line-height:140%;
		padding-bottom:10px;
		padding-top:10px;
		border-bottom:1px dotted #666;
		}

	.trackback-post	{
		font-family:verdana, arial, sans-serif;
		color:#999;
		font-size:medium;
		font-weight:normal;
		background:#000;
		}


	.comments-head	{
		font-family:palatino, georgia, verdana,	arial, sans-serif;
		font-size:medium;
		color: #999;
		border-bottom:1px solid	#666;
		margin-top:20px;
		font-weight:bold;
		background:#000;
		}

	#banner-commentspop {
		font-family:palatino, georgia, verdana,	arial, sans-serif;
		color:#000;
		font-size:large;
		font-weight:bold;
		border-left:1px	solid #000;
		border-right:1px solid #000;
		border-top:1px solid #000;
		background:#FFCC99;
		padding-left:15px;
		padding-right:15px;
		padding-top:5px;
		padding-bottom:5px;
		}

	div#content div.blog div.blogbody { 
		padding-top:1em;
		}
