body { background: #303030; color: #E0E0E0; }
#banner { position: relative; background:black; text-align: right; }
#banner h1 { text-align: left; }
#banner span.description:before { content: '--  '; }
#banner span.description { width: 60%; }

a.empty:after {
font-size: xx-small;
font-style: italic;
content: '?';
}

div#content {
position: absolute;;
left: 25ex;
width: 70%;
}

div#links {
margin-left: 0;
padding-top: 0.5em;
width: 25ex;
}

div#links div.sidetitle {
padding-top: 0.5em;
padding-bottom: 0.40em;
}

div#links div.side {
}

div.powered {
margin-top: 5em;
}

blockquote pre {
line-height: 1.1em;
padding-top: 0.5em;
padding-bottom: 0.5em;
background-color: black;
margin-left: 0px;
margin-right: 0px;
}
