Source: libqbit-application-model-kvstore-perl
Section: perl
Priority: extra
Maintainer: Sergei Svistunov <sergei-svistunov@yandex.ru>
Build-Depends: debhelper (>= 8.0.0), perl, libqbit-perl, libqbit-application-perl, libqbit-application-model-db-perl
Standards-Version: 3.9.4

Package: libqbit-application-model-kvstore-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libqbit-perl, libqbit-application-perl, libqbit-application-model-db-perl
Description: Key/Value store.
 Key/Value store.
