Makefile
Makefile.old
*.tar.gz
*.bak
*.swp
pm_to_blib
blib/
Weather-MOSMIX-*
Weather-MOSMIX-*/
.releaserc
MYMETA.*
frame-*.png
*.pl
db/
*.sqlite
svg/
*.kmz
*.kml
*.pdf
*.URL
.prove
