    c11_file                           =             
    c13_file                           =             
    c15_file                           =             
    c33_file                           =            
    c35_file                           =            
    c44_file                           =             
    c55_file                           =             
    c66_file                           =             
    deltafile                          =                
    epsfile                            =                
    gammafile                          =                 
    nx                                 = 101                 
    nz                                 = 101                 
    paramtype                          = 1                   
    phi_file                           =               
    rhofile                            =                 
    vpfile                             =                 
    vsfile                             =                