@import url("tvguide/default.css") ;

/* Extras */
@import url("plugin/log.css") ;
@import url("plugin/profile.css") ;

/* UI */
@import url("ui/dialog.css") ;
@import url("ui/popup.css") ;

/* Application */
@import url("tvguide/toolbar.css") ;
@import url("tvguide/grid.css") ;
@import url("tvguide/reclist.css") ;
@import url("tvguide/searchlist.css") ;
@import url("tvguide/recorded.css") ;
@import url("tvguide/chanSel.css") ;
@import url("tvguide/scan.css") ;
