    cdp                                =             
    dx                                 =                     
    key                                =                     
    lmute                              =                     
    minlag                             =                     
    smute                              =                     
    sscale                             =                     
    tmute                              = 
    tnmo                               =           
    vnmo                               =             