    dtratio                            =                     
    dv                                 =                     
    dvh                                =                     
    fv                                 =                     
    fvh                                =                     
    j                                  =                     
    nsmooth                            =           
    nv                                 =                     
    nvh                                =                     
    vavg                               =               
    verbose                            =                     
    xod                                =                     