Source: libqbit-application-model-db-mysql-users-perl
Section: perl
Priority: extra
Maintainer: Igor Sverdlov <igor-sverdlov@mail.ru>
Build-Depends: debhelper (>= 8.0.0), perl, libqbit-perl, libqbit-application-model-db-mysql-perl, libqbit-application-model-dbmanager-users-perl
Standards-Version: 3.9.4

Package: libqbit-application-model-db-mysql-users-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libqbit-perl, libqbit-application-model-db-mysql-perl, libqbit-application-model-dbmanager-users-perl
Description: MySQL tables for QBit::Application::Model::DBManager::Users.
 MySQL tables for QBit::Application::Model::DBManager::Users.
