    Q                                  = 1e6                 
    ceil                               = 1e6                 
    dt                                 =                 
    dtau                               =                    
    dx                                 =                 
    ft                                 = 0.0                 
    ftau                               =                   
    ntau                               =                   
    tmig                               = 0.0                 
    tmpdir                             =                     
    verbose                            = 0                   
    vfile                              =                     
    vmig                               = 1500.0              
