    a1111file                          =                     
    a1113file                          =                     
    a1133file                          =                     
    a1313file                          =                     
    a3313file                          =                     
    a3333file                          =                     
    amax                               =                     
    amin                               =                   
    bwh                                =                     
    deltafile                          =                     
    dt                                 =                     
    dx                                 =                     
    dz                                 =                     
    epsilonfile                        =                     
    fmax                               =                     
    fmin                               =                     
    nx                                 =                     
    nz                                 =                     
    verbose                            =                     
    vfile                              =                     
