    dt                                 =                     
    dx                                 =                     
    etafile                            =                     
    etamig                             =                     
    ltaper                             =                     
    nxpad                              =                     
    tmig                               =                     
    verbose                            =                     
    vfile                              =                     
    vmig                               =                     
    vnfile                             =                     
    vnmig                              =                     
