    dx                                 =                     
    dz                                 =                     
    f1                                 =                     
    f2                                 =                     
    f3                                 =                     
    f4                                 =                     
    fmax                               =                     
    lpad                               =                     
    nxo                                =                     
    nxshot                             =                     
    nz                                 =                     
    rpad                               =                     
    verbose                            =                     
    vfile                              =                     
