    dt                                 =                     
    dx                                 =                     
    dz                                 =                     
    nz                                 =                     
    tmpdir                             =                     
    vfile                              =                     
