  <title>[% meta_title %]</title>
  <meta name="Generator" content="Babble">

[% IF meta_desc -%]
  <meta name="description" content="[% meta_desc %]">
[%- END %]
[% IF meta_css_link -%]
  <link rel="stylesheet" media="screen" type="text/css" href="[% meta_css_link %]">
[%- END %]
[% IF meta_charset -%]
  <meta http-equiv="Content-Type" content="text/html; charset=[% meta_charset %]">
[%- END %]

[%#
arch-tag: c92dc586-6900-42dc-ba35-40477475a4b0
%]
