body {
    background: url(background.gif);
    background: url(/background.gif);
    background: url('background.gif');
    background: url('/background.gif');
    background: url("background.gif");
    background: url("/background.gif");
}
