
[%- INCLUDE theme_html_doctype.html %]
[% INCLUDE theme_html_begin.html %]
<table id="group"><tr>
<td id="group_1">
<div class="navigation">
[% INCLUDE theme_title_pane.html %]
[% INCLUDE theme_toolbar_pane.html %]
[% INCLUDE theme_status_pane.html %]
</div>

<hr />
[% INCLUDE theme_content_pane.html %]
<hr />

<div class="navigation">
[% INCLUDE theme_toolbar2_pane.html %]
</div>
</td>

<td id="group_2">
<div class="navigation">
[% INCLUDE theme_logo_pane.html %]
<br/>
[% INCLUDE theme_widgets_pane.html %]
</div>

</td>
</tr></table>
[% INCLUDE theme_html_end.html -%]

