Makefile
Makefile.old
*.tar.gz
*.bak
pm_to_blib
blib/
Net-Pcap-*
Net-Pcap-*/
.releaserc
cover_db
MYMETA.*
*.bs
*.def
Pcap.c
*.a
*.o
const-c.inc
const-xs.inc
funcs.txt
macros.all
pcap_version.exe
