body {
  font-family: "Verdana", sans-serif;
  font-size: small;
}

code, pre, tt {
  font-family: "Monaco", "Courier New", monospace;
}

table.board {
  float: left;
  margin: 1em 2em;
  border: solid 1px #ddd;
  border-collapse: collapse;
}

table.board caption {
  font-style: italic;
  font-weight: bold;
}

table.board th {
  font-weight: bold;
  background-color: #ddd;
}

table.board th, table.board td {
  padding: 2px;
}

table.board tr:hover {
  background-color: #eef;
}

table.board tr:hover td a:first-child {
  font-weight: bold;
}

table.board tr .popup {
  display: none;
}

table.board tr:hover .popup {
  display: block;
  position: relative;
}

table.board tr:hover .popup div {
  position: absolute;
  border: solid 1px #999;
  border-left: solid 1px #ccc;
  border-top: none;
  background-color: #fee;
  padding: 2px;
}

.used-by {
  width: 400%;
}

.prereqs {
  width: 200%;
}
