<HTML>
<HEAD><TITLE>Add Event to Calendar</TITLE>
<BODY bgcolor="ffffff" <TMPL_VAR NAME=BODY_INCLUDE>>
<b><center><font face=verdana size=3>Calendar Administration</font></center></b>
<br><br>
<center><TMPL_VAR NAME=ADD_CAL></center>
</BODY>
</HTML>

