		<div id="sidebar" >
		
			<div class="sidebox">
			
				<h1>Short About</h1>
				
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
				posuere nunc justo tempus leo.</p>	
						
			</div>			

			<div class="sidebox">	
			
        [% menu = menus.3 ; menu_class = 'sidemenu' %]
        [% INCLUDE "public/navigation.html" %]
				
			</div>	
						
			<div class="sidebox">	
						
				<h1>Search Box</h1>	
				<form action="#" class="searchform">
					<p>
					<input name="search_query" class="textbox" type="text" />
  					<input name="search" class="button" value="Search" type="submit" />
					</p>			
				</form>			
				
			</div>
		</div>	
					
