Source: libqbit-application-model-multistate-db-perl
Section: perl
Priority: extra
Maintainer: Sergei Svistunov <sergei-svistunov@yandex.ru>
Build-Depends: debhelper (>= 8.0.0), perl, libqbit-perl, libqbit-application-model-multistate-perl
Standards-Version: 3.9.4

Package: libqbit-application-model-multistate-db-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libqbit-perl, libqbit-application-model-multistate-perl
Description: Class for working with multistates DB entries.
 Class for working with multistates DB entries. It extend QBit::Application::Model::Multistate.
