Source: libqbit-base-perl
Section: perl
Priority: extra
Maintainer: Igor Sverdlov <igor-sverdlov@mail.ru>
Build-Depends: debhelper (>= 8.0.0), perl, libqbit-perl, libqbit-class-perl
Standards-Version: 3.9.4
Vcs-Git: git@github.com:QBitFramework/QBit-Base.git
Vcs-Browser: https://github.com/QBitFramework/QBit-Base

Package: libqbit-base-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, libqbit-perl, libqbit-class-perl
Description: inheritance pattern.
 inheritance pattern.
