# ----- Example 2 - Include MetaNames -------------
#
#  Please see the swish-e documentation for
#  information on configuration directives.
#  Documentation is included with the swish-e
#  distribution, and also can be found on-line
#  at http://swish-e.org
#
#
#  This example demonstrates how to include
#  MetaNames in your index.
#  The metanames can be used when searching:
#
#     swish-e -w foo author=shakespeare
#
#---------------------------------------------------

# Specify what you want to be indexed.
# (see example1.config)

IndexFile /home/indexfiles/docs.index
IndexDir docs /home/otherdocs
IndexOnly .htm .html
FollowSymLinks yes

# Now, specify which meta name to include in the index.
MetaNames author description


# By default, undefined meta names are indexed as plain text
# This feature can change this behaviour.  Here we say
# don't index text in metatags unless defined in MetaNames

UndefinedMetaTags ignore


# end of example

