language: perl
perl:
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
install:
  - "cpanm -n Text::Haml Mojolicious"
  - "cpanm -n --installdeps ."
script:
  perl Build.PL && ./Build test
notifications:
  email: false
