[% page_title = c.user.first_name _ ' ' _ c.user.last_name _ ' Account' %]

<ul class="account_links">
<li><a href="[% c.uri_for('/logout') %]" title="Logout">Logout</a>
<li><a href="[% c.uri_for('/change_password') %]">Change password</a>
</ul>
