#
#
#
# Sample Perl VTK Config file for RedHat
#   Copy this file to VTK.config and modify for your installation
#    (Tested on Redhat 7.1)

%vtkConfigMacro = (
    'CC' => 'c++',
    'LIBS' => ['-L/usr/local/lib/vtk -lvtkCommon -lvtkFiltering -lvtkImaging -lvtkPatented -lvtkRendering -lvtkHybrid -lpthread -L/usr/lib -L/usr/X11R6/lib -lGL -ldl -lXext -lXt -lSM -lICE -lX11 -lm'],

# INC should contain the paths to your VTK include files
#   Note: Extra hybrid and Rendering path included here, because the standard VTK 4.0
#     fails to put vtkVRML.h and vtk3DS.h with the rest of the include when 
#      installing.
#    Also, vtkXRenderwindow.h is missing from the Rendering directory
    'INC' => '-I/usr/local/include/vtk -I/home/cerney/vtk/vtk40/Hybrid -I/home/cerney/vtk/vtk40/Rendering'
);
