=head1 NAME

<& /maslib/defaults.mas:pkg &> - <& /maslib/defaults.mas:info &>

=head1 VERSION

<& /maslib/defaults.mas:version &> (<& /maslib/defaults.mas:buildtm &>)

=head1 DESCRIPTION
<& /maslib/defaults.mas:short_desc &>

=head1 SYNOPSIS
<& /maslib/defaults.mas:synopsis_as_pod &>
=head1 EXAMPLES

Visit the L<Data::Type::Docs::Howto> to explore how to use this module
for DBI, CGI, Getopt and more scenarios.

=head1 INSTALLATION
<& /maslib/defaults.mas:install &>

=head1 SUPPORTED TYPES

<& /maslib/catalog.mas:collections_as_pod &>

=head1 PREREQUISITES

Following modules get automatically installed via the CPAN module. See INSTALLATION above. Data::Type has a mechanism
for delayed loading of modules. This means modules are loaded only when the used types require
them, not all at once.

=head1 READON

Visit the L<Data::Type> main documentation or advance directly to the L<Data::Type::Docs> manpage.

=head1 COPYRIGHT/LICENSE
