name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        perl: ['5.10', '5.16', '5.24', '5.32', 'latest']

    name: Perl ${{ matrix.perl }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}

      - name: Perl version
        run: perl -V

      - name: Configure
        run: perl Makefile.PL

      - name: Build
        run: make

      - name: Test
        run: make test
