<div id="banner"><img src="[% static('images/header.jpg') %]" alt="ME GRIMLOCK KING" /></div>
<div id="banner-text">GRIMLOCK</div>
[% # Include the navigation
IF page.nav && page.nav != 'none';
    PROCESS "nav/${page.nav}.tt";
END;
~%]
