# ==========================================================================
#
# Test Program   : t/12-validate_sections.t
#
# This File      : t/config/12-use_sections.cfg
#
# ==========================================================================
#
# This config file is for testing out using sections.
# Both in exclude & inherit modes.
#
# ==========================================================================


main_01 = one
main_02 = two
main_03 = three

override_1 = ONE
override_2 = TWO

self = ${section}

[ section 01 ]
override_1 = Help me One!
extra_1    = Extra Help
self = ${section}



[ section 02 ]
override_1 = Two vs One no fair! (${override_1})            # (ONE)
override_2 = Two vs Two isn't fair either! (${override_2})  # (TWO)
extra_1    = Crispy
self = ${section}


[ section 01 ]
override_2 = No help here One!
extra_2    = Extra ${extra_1}           # Extra Extra Help


[ section 03 ]
override_1 = Three to One odds are great!
override_2 = Three to Two odds not so great!
extra_2    = Sweet
self = ${section}


[ main ]
main_04 = four
main_05 = five

override_1 = =ONE=
override_2 = =TWO=
main_06    = ${section 02.extra_1}/${section 03.extra_2}    # Crispy/Sweet

