# ==========================================================================
#
# Test Program   : t/15-validate_multi_source_cfg.t
#
# This File      : t/config/15-multi_source_01_main.cfg
#
# ==========================================================================
#
# This config file is for testing out sourcing in multiple
# files into a single Advanced::Config object.
#
# For this test all sourced in files use the same operators!
#

. 15-multi_source_02_first.cfg

main_01 = "Hello World!"
hello = again!

. 15-multi_source_03_second.cfg

[ common ]
common_01 = "Humpty Dumpty!"

[ overwrite ]
overwrite = "From file 01"

. 15-multi_source_04_third.cfg

[ first ]
hello = 1st!

