#
# A Sourced in config file.
#

main_04 = "Good bye cruel world!"

[ common ]
common_04 = "They couldn't put humpty together again!"

[ overwrite ]
overwrite = "From file 04!"

[fourth]
hello = 4th!?!

