#
# KEEP THIS TEST RIGHT BEFORE THE TWO EMULATED TESTS ... (#'s 71 & 72)
# BUT AFTER THE VALIDATION OF THE 2 INDIVIDUAL CONFIG FILES USED!
#

# Each config file loads it's data into different sections.
# But each section should have the same tag/value pairs inside ...

# Each config file uses different parse options.
# So the "callback_cb" option is required for them to load propertly.

# Things work since each config file had a stand alone test as well
# where it defined what options it needed to use!
# --------------------------------------------------------------------------

. 30-alt_symbols_03.cfg

. 30-alt_symbols_04 multi section test.cfg

