#
# This is a sample test file I'm using to validate the variable modifiers!
# It's used by t/config/50-merge_b.cfg
#
# Every time you modify this config file, you must update the test script as
# well!  That script must reference everything defined in this file and
# vice versa!
#

c_main_lbl = "Hello World"

[ section C ]

section_c_lbl = "another label"

. 50-merge_d.cfg     # Mode: TWO

# ---------------------------------------------------------------------------

