#
# This is a sample test file I'm using to validate the variable modifiers!
# It's used by t/50-validate-merge.t
#
# Every time you modify this config file, you must update the test script as
# well!  That script must reference everything defined in this file and
# vice versa!
#

a_main_lbl = "Hello World"

[ section A ]

section_a_lbl = "another label"

. ../config/50-merge_b.cfg     # Mode: ONE TWO

# ---------------------------------------------------------------------------

