#
# This is a sample test file I'm using to validate recursion in config files.
# It's used by t/60-recursion-test.t
#
# Every time you modify this config file, you must update the test script as
# well!  That script must reference everything defined in this file and
# vice versa!
#

# Recursion should fail!!!
. 60-recursion-test.cfg

# OK to repeat sourcing in files ...
. 50-merge_d.cfg
. 50-merge_c.cfg

# Recursion should fail!!!
. ../config/60-recursion-test.cfg

# OK to repeat again ...
. ../config/50-merge_d.cfg

# Used to detect how many times recursion worked!
recursion = ${recursion} OK        # Value is "OK" if recursion was blocked!
recursion2 = '${recursion2} OK'    # Value is " OK" if recursion was blocked!

# ---------------------------------------------------------------------------

