*.sh
*.txt
*.bck
*.old
*.swp
*.pyc
test.pl
TO_DO.md
clean.sh
nytprof.out
/blib/
__pycache__/
/cover_db/
/Makefile
/MANIFEST
/META*
/MYMETA*
/pm_to_blib
bck/
old/
_Inline/
/share/db/ohdsi.db
/t/test.json
