/* ================================================================== */
/* THEME: Midnight Blue - fonts
 */

/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: Ethnocentric, "Flipside BRK", "Metal Lord", Fantazian, ESP, Scott, Illusion, Slant, verdana, arial, helvetica, sans-serif;
	font-weight: normal;
	color: white;
}

