/* ================================================================== */
/* THEME: Turkwoise - fonts
 */
/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: Arabia, ArnoldBoecklin, Becker, Aduren, Abbey-Medium, verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
}
