/* ================================================================== */
/* THEME: Matrix - fonts
 */

/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: Plasmatic, LarabieFont, verdana, sans-serif;
	font-weight: normal;
	color: black;
}
