/* ================================================================== */
/* THEME: Team - red, black and white
 * Fonts
 */

/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
        font-family: "Comic Sans", "Comic Sans MS", verdana, helvetica, arial, sans-serif;
	color: black;
}
body {
        font-family: verdana, helvetica, arial, sans-serif;
}

