/* ================================================================== */
/* THEME: Sentinels for Christ - fonts
 */

/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: 'agency fb', agency, creedmore, AvantGarde, helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
}

