/* ================================================================== */
/* THEME: Sand - fonts
 */
/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: Semiramis, Priory, "Relish Gargler", Montana, verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
}

