/* ================================================================== */
/* THEME: Grue - fonts
 */
/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: "Black", blackchancery, ZurichCalligraphic, verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
}

