/* ================================================================== */
/* THEME: Light Blue - fonts
 */
/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: merlin, hancock, black, barcool, "lucida calligraphy", Merced, sans-serif;
	font-weight: normal;
	color: black;
}
