/* ================================================================== */
/* THEME: Green - fonts
 */
/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: Merced, "Lucida Calligraphy", "Black", ZurichCalligraphic, verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
}

