/* ================================================================== */
/* THEME: Grey-Blue 2 - fonts
 */

/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: Bahamas, Blippo, "Bauhaus 93", HomewardBound, Vogue, Totem, Crescent, verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
}

