/* ================================================================== */
/* THEME: Green3 - fonts
 */

/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2 {
	font-family: rudelsberg, fantaisieartistique, forte, castanet, altamontenf, sans-serif;
	color: black;
}

h3, h4 {
	font-family: "aerolite bold", blueplatespecialsw, aduren, sans-serif;
	color: black;
}

