/* ================================================================== */
/* THEME: Burgundy - fonts
 */

/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: Merlin, verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
}

