/* ================================================================== */
/* THEME: Gold - fonts
 */

/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
	font-family: galleria, FancyPants, BravoEngraved, serif;
	font-weight: normal;
	color: black;
}

