/* ================================================================== */
/* THEME: Jungle - fonts
 */

/* ------------------------------------------------------------------ */
/* Fonts */
h1 {
	font-family: Hurry Up, kids, verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
}
h2, h3, h4 {
	font-family: mead, sloppy, kids, verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
}

