/* ================================================================== */
/* THEME: Violet - fonts
 */
/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4, h5 {
	font-family: Soucisans, Creedmore, Aduren, Brisk, verdana, helvetica, arial, sans-serif;
	color: black;
}
h6 {
	font-family: verdana, helvetica, arial, sans-serif;
	color: black;
}

