/* ================================================================== */
/* THEME: Rainbow - fonts
 */
/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2 {
	font-family: Dauphin, 'zaph chancery', ZurichCalligraphic, verdana, sans-serif;
	font-weight: normal;
	color: black;
}
h3, h4 {
	font-family: verdana, helvetica, arial, sans-serif;
	color: black;
}

