/* ================================================================== */
/* THEME: Sentinels for Christ
 */
@import 'functions';
@import 'fonts_sfc';
@import 'icon_light_on_dark';

// -------------------------------------------------------------------
// VARIABLES

$verge-bg: #333399;
$verge-fg: set-fg($verge-bg);
$verge-border: #9999ff;
$button-bg: #333399;
$button-fg: set-fg($button-bg);
$button-border: #9999ff;
$main-bg: hsl(120, 10%, 100%);
$main-fg: set-fg($main-bg);
$link-fg: set-link($main-bg);
$link-visited: set-visited($main-bg);
$verge-link-fg: set-link($verge-bg);
$verge-link-visited: set-visited($verge-bg);

/* ================================================================== */
/* General */
.verge {
    color: $verge-fg;
    background: $verge-bg;
    border-color: $verge-border;
}

header,
footer {
	@extend .verge;
	background-image: url(sfcb_b3.jpg);
}

.side {
	@extend .verge;
	background: #000066;
}

body {
	color: $main-fg;
	background: $main-bg;
}
main {
	background: $main-bg url(vine.jpg) repeat-x;
}

@include many-links($link-fg, $link-visited, $verge-link-fg, $verge-link-visited);
@include fancy($verge-fg, $verge-bg, "vine.jpg");
@include make-buttons;

header nav li {
    	border-color: #7777dd;
}
header nav .selflink,
header nav em,
header nav .current a {
	color: #336699;
	background-color: white;
}

