/* ================================================================== */
/* THEME: Matrix
 */
@import 'functions';
@import 'fonts_matrix';
@import 'icon_light_on_dark';

// -------------------------------------------------------------------
// VARIABLES

$verge-bg: #001100;
$verge-fg: set-fg($verge-bg);
$verge-border: #005500;
$button-bg: #113311;
$button-fg: set-fg($button-bg);
$button-border: #005500;
$main-bg: #aaf2aa;
$main-fg: set-fg($main-bg);
$link-fg: set-link($main-bg);
$link-visited: set-visited($main-bg);
$verge-link-fg: set-link($verge-bg);
$verge-link-visited: set-visited($verge-bg);

/* ================================================================== */
/* General */
.verge {
    color: $verge-fg;
    background: $verge-bg;
    border-color: $verge-border;
}

header,
footer {
	@extend .verge;
	background-image: url(matrix_h.jpg);
}

.side {
	@extend .verge;
	background-image: url(matrix_side.jpg);
}

body {
	color: $main-fg;
	background-color: $main-bg;
	background-image: url(matrix_main.jpg);
}

@include many-links($link-fg, $link-visited, $verge-link-fg, $verge-link-visited);
@include fancy($verge-fg, $verge-bg, "matrix_side.jpg");
@include make-buttons;

header nav li {
	border-color: #113311;
}
header nav .selflink,
header nav em,
header nav .current a {
	color: black;
	background-color: #aaf2aa;
}

