/* ================================================================== */
/* THEME: Team - red, black and white
 */
@import 'functions';
@import 'fonts_team';
@import 'icon_light_on_dark';

// -------------------------------------------------------------------
// VARIABLES

$verge-bg: #660000;
$verge-fg: set-fg($verge-bg);
$verge-border: black;
$button-bg: #440000;
$button-fg: set-fg($button-bg);
$button-border: #550000;
$main-bg: hsl(0, 10%, 100%);
$main-fg: set-fg($main-bg);
$link-fg: set-link($main-bg);
$link-visited: set-visited($main-bg);
$verge-link-fg: set-link($verge-bg);
$verge-link-visited: set-visited($verge-bg);

/* ================================================================== */
/* General */
.verge {
    color: $verge-fg;
    background: $verge-bg;
    border-color: $verge-border;
}

header,
footer {
	@extend .verge;
	background-image: url(red1.jpg);
}

.side {
	@extend .verge;
}

body {
	color: $main-fg;
	background: $main-bg;
}

@include many-links($link-fg, $link-visited, $verge-link-fg, $verge-link-visited);
@include fancy($verge-fg, $verge-bg, "red1.jpg");
@include make-buttons;

header nav li {
	border-color: #550000;
}
header nav .selflink,
header nav em,
header nav .current a {
	background: #f2aaaa;
	color: #660000;
}

