/* ================================================================== */
/* THEME: Green
 */
@import 'functions';
@import 'fonts_green';
@import 'icon_dark_on_light';

// -------------------------------------------------------------------
// VARIABLES

$verge-bg: #33aa33;
$verge-fg: set-fg($verge-bg);
$verge-border: #005500;
$button-bg: #33aa33;
$button-fg: set-fg($button-bg);
$button-border: #003300;
$main-bg: #66cc66;
$main-fg: set-fg($main-bg);
$link-fg: set-link($main-bg);
$link-visited: set-visited($main-bg);
$verge-link-fg: set-link($verge-bg);
$verge-link-visited: set-visited($verge-bg);

/* ================================================================== */
/* General */
.verge {
    color: $verge-fg;
    background: $verge-bg;
    border-color: $verge-border;
}

header,
footer,
.side {
	@extend .verge;
	background-image: url(green1a.jpg);
}

body {
	color: $main-fg;
	background: $main-bg;
}

@include many-links($link-fg, $link-visited, $verge-link-fg, $verge-link-visited);
@include fancy($verge-fg, $verge-bg, "green1a.jpg");
@include make-buttons;

header nav li {
	border-color: #116611;
}
header nav .selflink,
header nav em,
header nav .current a {
	background-color: #66cc66;
	color: #003333;
}

