/* $Id$ */

body {
    background:  rgb(171,121,100);
    background:  #fff;
    color:       #000;
    font-family: verdana, arial, helvetica, sans-serif;
    margin:      0px 0px 0px 0px;
    padding:     0px 0px 0px 0px;
    font-size:   12px;
}


/* sections of the screen */
#top {
    background: url("images/logo.png") top left no-repeat rgb(171,121,100);
    border:     0px;
    margin:     0px 0px 0px 0px;
    padding:    10px;
    height:     70px; 
}
#left {
    background: transparent;
    border:     0px;
    left:       0px;
    margin:     0px;
    padding-left:    10px;
    padding-right:    10px;
    position:   absolute;
    top:        100px;
    width:      150px; 
    font-size: 0.9em;
}
#middle {
    background: transparent;
    border:      0px;
    padding:     10px;
    top:         90px;
    margin-left: 170px;
    margin-top:  20px;
    margin-bottom: 0px;
}

#footer {
    border: 0px;
    background: transparent;
    margin: 0px 0px 0px 150px;
    clear: both;
    text-align:     right;
    padding-top: 1em;
    padding-right: 1em;
}

#footer p {
    color: #999;
    font-size: 0.9em;
    margin: 0;
}


#statusbar {
    background-color: #97b3cf;
    background-color: rgb(213,158,128);

    border:        none;
    border:        2px ridge #ccc;
    
    height:        1.6em;
    left:          0px;
    margin-left:   0px;
    margin-right:  0px;
    position:      absolute;
    right:         0px;
    text-align:    right;
    top:           70px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1em;

    font-size: 0.9em;
}

#statusbar table {
    margin-left: 5px;
    border: 0px solid #999;
    padding: 0px;
}
#statusbar td {
    border: 0px solid #999;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    margin: 5px;
    padding: 0px;
}
#statusbar td.left {
    text-align: left;
}
#statusbar td.right {
    text-align: right;
}


/* use dl/dt/dd to make left nav */
dd {
    /* hide dd from graphical browsers, they should appear for text-only
    * browsers, giving a nice description of the link */
    display: none;
}

dt.nav_header {
    display:block;
    width: 140px;
    color: black;

    background: #ccc;
    border: solid black 1px;
    border-style: outset;
    font-weight: bold;
    list-style-image: none;
    list-style-type: none;
    margin-top: 0.4em;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-decoration: none;
}

/* class for nav stuff in left menu */
a.nav, a.nav:visited, a.nav:link, a.nav:active {
    display:block;
    width: 120px;

    background: #ccc;
    border: solid black 1px;
    border-style: outset;
    font-weight: bold;
    list-style-image: none;
    list-style-type: none;
    margin-top: 0px;
    margin-left: 20px;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-decoration: none;
    font-size: 0.8em;
}

a.nav:hover {
    background:#000;
    color:#fff;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: blue;
    /*border-bottom: 1px dotted #bbb;*/
    background: transparent;
}

/*
table {
    border: 1px solid #999;
    width:  100%;
}

td {
    border: 1px solid #999;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    margin: 5px;
    padding: 5px;
}
th {
    padding-left: 0.4em;
    text-align: left;
    border: 1px solid #999;
}
*/
h1 {
    font-size: 1.1em;
    font-weight: bold;
}
h2 {
    font-size: 1em;
    font-weight: bold;
}

/* colour things differently if they're deleted */
.deleted, .deleted a {
    background: #622;
    color: #ff0;
}

/* colour users differently if they're not-active/usthenticated */
.nonauth, .nonauth a {
    background: orange;
    color: #000;
}

.right_align {
    text-align: right;
    /*background: #f00;*/
}

.header_row {
    background: #666;
    color:      #ff0;
}

.codeblock {
        border:         solid black 1pt;
        background:     #ccc;
        font-family:    "courier new", courier, fixed;
        color:          #000;
        margin-left:    0px;
        margin-right:   0px;
        margin-top:     5px;
        margin-bottom:  5px;
        padding:        5px;
        line-height:    1.5em;

        display: block;
        overflow: auto;
        white-space: pre;
}

.codeblockhilite {
        background:                     #ff6;
        border:                         dashed black 1px;
}


.quoted_reply_textarea {
    background-color: #ccc;
    background-color: #c4cacf;
    background-color: rgb(250,180,180);
    border: 2px inset #fff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   0.8em;
}

.input_text {
    background-color: #ccc;
    background-color: #c4cacf;
    background-color: rgb(251,215,194);
    border: 2px inset #fff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   1em;
}

.input_button {
    background-color: #97b3cf;
    background-color: rgb(251,215,194);
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   1em;
    border: 2px ridge #000;
}

.small_input_button {
    background-color: #97b3cf;
    background-color: rgb(251,215,194);
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   0.8em;
    border: 2px ridge #000;
}

.niceform {
    background-color: #369;
    color: #fff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   1em;
}

.forum_link {
    font-weight:    bold;
}
.forum_description {
    font-size:      0.8em;
}

.topic_link {
    font-weight:    bold;
}
.topic_creator {
    display:        block;
    font-size:      0.8em;
    /*text-align:     right;*/
    float: right;
}
.forum_mini_pager {
    display:        block;
    font-size:      0.8em;
    /*text-align:     right;*/
    float: left;
}
.topic_last_post {
    font-size:      0.8em;
}

.post_subject {
    font-weight:    bold;
}

.post_creator {
    font-weight:    bold;
    font-style:     italic;
    font-size:      0.9em;
}

.post_created {
    text-align:     right;
    font-size:      0.8em;
}

.reply_post_message {
    width: 100%;
    background-color: rgb(251,215,194);
    border: 2px inset #fff;
}

.post_message {
    width: 100%;
    background-color: rgb(251,215,194);
    border: 2px inset #fff;
    display: block;
}

.in_response_to {
    margin-left:    20px;
    font-weight:    bold;
    font-style:     italic;
    font-size:      0.8em;
}

.quoted_message {
        border:         solid black 1pt;
        background:     #ccc;
        /*font-family:    "courier new", courier, fixed;*/
        color:          #000;
        margin-left:    20px;
        margin-right:   0px;
        margin-top:     0px;
        margin-bottom:  0px;
        padding:        2px;
        font-size:      0.9em;

        display: block;
        overflow: auto;
}


.no_table_border table {
    border: none;
}
.no_table_border td {
    border: none;
}

.inline_form {
    display: inline;
}

.post_edited_alert {
    font-weight:    bold;
    font-style:     italic;
    font-size:      0.8em;
}


a.button:visited, a.button:link, a.button:active, .button, a.button {
    border:             2px solid;
    border-color:       #FC9 #630 #330 #F96;
    padding:            2px 7px 2px 7px;
    font:               bold 0.8em verdana,sans-serif;
    color:              #000;
    background:         #ccc;
    text-decoration:    none;
    margin:             0;
}


/* login dialog styling */
#login_dialog form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
    margin: 0;
    padding: 0;
    min-width: 400px;
    max-width: 600px;
}
#login_dialog form fieldset {
    / * clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    padding: 10px;        /* padding in fieldset support spotty in IE */
    margin: 0;
}
#login_dialog form label { 
    display: block;  /* block float the labels to left column, set a width */
    float: left; 
    width: 150px; 
    padding: 0; 
    margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
    text-align: right; 
    font-weight: bold;
    margin-bottom : 0;
}
#login_dialog form input, form textarea {
    /* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
    width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
    margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}
#login_dialog form p {
    font-size: 0.8em;
}

 

/* search dialog styling */
#search_dialog form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
    margin: 0;
    padding: 0;
    min-width: 400px;
    max-width: 600px;
}
#search_dialog form fieldset {
    / * clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    padding: 10px;        /* padding in fieldset support spotty in IE */
    margin: 0;
}
#search_dialog form label { 
    display: block;  /* block float the labels to left column, set a width */
    float: left; 
    width: 150px; 
    padding: 0; 
    margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
    text-align: right; 
    font-weight: bold;
    margin-bottom : 0;
}
#search_dialog form input, form textarea {
    /* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
    width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
    margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}
#search_dialog form p {
    font-size: 0.8em;
}




/* dojo dialog styling - initially taken from dojo demo */
.dojoDialog {
    background : #eee;
    border : 1px solid #999;
    -moz-border-radius : 5px;
    padding : 4px;
}

form {
    margin-bottom : 0;
}



/* Borrowed from ModelMayhem */
body {
font-family:Trebuchet, Verdana, Lucida Grande, Sapir Sans, Tahoma, Sans-Serif;
font-size:80%;
/*background-color:#E7E7E7;*/
color:#000;
letter-spacing:2%;
line-height:1.3em;
margin:0;
padding:0;
}

#pic_wrapper {
margin-bottom:6px;
}

.forum_title {
font-size:110%;
font-weight:700;
}


.ribbon {
background-color:#F9FBFF;
padding: 3px;
border:1px solid #EBEEF2;

}

.g1 {
border-bottom:1px solid red;
}

.g2 {
border-bottom:1px solid blue;
}

.light {
color:#666;
}

.small {
font-size:85%;
line-height:1.1em;
}

#navbox,#navbox a {
height:20px;
background-color:#000;
text-align:center;
font-weight:700;
color:#FFF;
font-size:105%;
margin:0;
}

.searchhead {
width:120px;
text-align:right;
font-weight:700;
font-size:90%;
background-color:#E1E4EA;
}

.linkbar {
background-color:#F5F5F5;
border:1px solid #E5E4E4;
padding: 4px;
margin-bottom: 8px;
}

.linkbar2 {
width: 90%;
background-color:#F5F5F5;
border:1px solid #9CA0AD;
padding: 4px;
margin-bottom: 8px;
}

#searchtable {
background-color:#F5F5F5;
}

#searchtable td {
padding:3px;
}

.menubox {
background-color:#F9FBFF;
border:1px solid #9CA0AD;
clear:both;
width:150px;
white-space:nowrap;
vertical-align:middle;
margin:2px 0;
padding:2px;
}

.mycoms {
border-bottom:1px solid #333333;
}

.menubox2 {
background-color:#F9FBFF;
border:1px solid red;
clear:both;
width:150px;
white-space:nowrap;
vertical-align:middle;
margin:2px 0;
padding:2px;
}

.headerbar {
background-color:#666;
color:#FFF;
padding:4px;
}

.thepagenums {
font-size:92%;
}

.thepagenums b {
font-style:normal;
font-weight:700;
font-size:120%;
padding:2px;
}

.thepagenums a {
font-weight:400;
margin:0;
padding:3px 2px;
}

.googlead {
background-color:#333;
width:728px;
margin:4px auto;
}

.forumtop {
background-color:#999;
border: none;
padding: 0;
margin: 0;
border-bottom:1px solid #9CA0AD;
}

.forumtop2 {
background-color:#333;
color:#FFF;
font-size:85%;
padding:2px;
}

.postwrap {
margin: 0;
padding: 0;
border-bottom:1px dashed #9CA0AD;
background-color: transparent;
}

.postbit {
margin: 0;
padding: 0;
padding:6px 0 8px 9px;
}

.post {
border: none;
margin: 0;
padding: 0;
padding:10px 6px 8px 8px;
}

.labelpicpage {
width: 150px;
font-size: 90%;
font-weight: bold;
background-color:#EBEEF2;
text-align: right;
}

.post_b {
background-color:#f9f9fb;
border-bottom:1px solid #999;
padding:2px;
}

.quote {
width:90%;
border:1px solid #333;
font-size:95%;
background-color:#F9FBFF;
margin:0 0 2px 14px;
padding:6px;
}

.last_post {
font-family:Tahoma, Sans-Serif;
font-size:95%;
color:#7C879D;
text-align:justify;
}

.caption {
margin-bottom:14px;
margin-left:auto;
margin-right:auto;
width:400px;
font-weight:700;
text-align:center;
padding:0 9px 6px 24px;
}

textarea,.bginput {
font:10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

img.leftie {
border:none;
margin-right:9px;
margin-bottom:6px;
}

.logobar {
background:#FFF;
width:800px;
margin-left:auto;
margin-right:auto;
padding:0;
}

table.navbarwrap {
width:800px;
font-weight:700;
background:#000;
margin-left:auto;
border-top:1px solid #000;
border-bottom:1px solid #000;
margin-right:auto;
}

table.navbar {
margin:0;
}

.lineit {
color:#000;
border-right:1px solid #666;
}

.lineit a {
color:#333;
display:block;
position:relative;
text-decoration:none;
padding:2px 10px;
}

.lineit a:hover {
background-color:#292B2C;
}

table.maintable {
width:100%;
background-color:#FFF;
margin-left:auto;
margin-right:auto;
padding:15px 24px 16px;
border: none;
}

td, th, tr {
    border: none;
    margin: none;
    padding: none;
}

.footerbox {
width:100%;
color:#333;
background-color:#F4F4F5;
font-size:90%;
text-align:right;
border-top:1px solid #ccc;
margin-botom:16px;
margin-left:auto;
margin-right:auto;
padding:5px;
}

.footerbox a:990000 {
color:#FFF;
}

hr {
border-top:1px solid #ddd;
color:#fff;
background-color:#fff;
height:1px;
width:90%;
margin-top:22px;
margin-bottom:12px;
}

#bg_wrap {
width:800px;
margin-left:auto;
margin-right:auto;
padding:0;
}

.head {
background:url(/images/head.gif) #F4F4F5 repeat-x;
border:1px solid #CCC;
clear:both;
color:#333;
font-weight:700;
text-align:left;
white-space:nowrap;
margin:16px 2px 4px 0;
padding:2px 5px;
}

.head_thin {
background:url(/images/head.gif) #F4F4F5 repeat-x;
border:1px solid #CCC;
clear:both;
color:#333;
font-weight:700;
text-align:left;
white-space:nowrap;
margin:4px 2px 4px 0;
padding:2px 5px 2px 0;
}

.dotline {
border:1px dashed #CCC;
clear:both;
text-align:left;
white-space:nowrap;
margin:4px 2px 4px 0;
padding:2px 5px 2px 0;
}

.head_top {
background:url(/images/head.gif) #F4F4F5 repeat-x;
border:1px solid #CCC;
clear:both;
color:#333;
font-weight:700;
text-align:left;
white-space:nowrap;
margin:0 2px 4px 0;
padding:2px 5px;
}

.head_forums {
background:url(/images/head.gif) #F4F4F5 repeat-x;
border:1px solid #CCC;
clear:both;
font-size:90%;
color:#666;
font-weight:700;
text-align:center;
white-space:nowrap;
margin:0 0 4px;
padding:1px 5px 1px 2px;
}

.big_image {
border:1px solid #CCC;
background-color:#fff;
padding:5px;
}

form {
margin:0;
padding:0;
}

ul {
margin:2px 0 0 15px;
padding:0;
}

.number {
border-right:1px solid #666;
padding:0 4px;
}

.numbers {
line-height:1.1em;
margin-top:5px;
margin-bottom:3px;
}

.number_no {
font-weight:700;
color:#000;
background-color:#F0F1F4;
border-right:1px solid #666;
padding:0 4px;
}

.number_wrap {
background-color:#fff;
border-top:1px solid #666;
border-bottom:1px solid #666;
border-left:1px solid #666;
}

.alert {
width:90%;
color:red;
text-align:center;
font-size:100%;
border:3px solid red;
margin-botom:16px;
margin-left:auto;
margin-right:auto;
padding:5px;
}

.mm_input {
width:100px;
border:1px solid #999;
background:#333;
color:#fff;
font-size:9px;
}

.mm_button {
font-size:9px;
}

.dots {
color:#000;
background:#F5F5F5;
border:2px dotted orange;
margin-left:auto;
margin-right:auto;
margin-bottom:5px;
padding:5px;
}

.dots2 {
color:#000;
background:#E1E4EA;
border-bottom:2px dashed #ccc;
margin:0 auto 5px;
padding:10px;
}

.foo {
color:#599CB3;
}

#tab {
margin-top:0.5em;
width:100%;
margin-bottom:0;
}

#tab a {
text-align:center;
border:0;
text-decoration:none;
padding:0.5em 0.5em 0;
}

#tab .button {
background:#F5F5F5;
color:#000;
}

#tab .active {
background:#E1E4EA;
color:#000;
font-weight:700;
border-bottom:2px solid #E1E4EA;
}

a:link,a:visited,a:active {
color:#22229C;
}

a:hover,.red {
color:#C00;
}

h1,.big {
font-size:110%;
font-weight:700;
color:#900;
margin:0;
padding:0;
}

h2 {
font-size: 120%;
font-weight: bold;
color:#666666;
margin-bottom:4px;
}

.g3,.g4 {
color:green;
}

.light a:link,.light a:visited,.light a:active,.light a:hover {
color:#ccc;
}

.headerbar a:link,.headerbar a:visited,.headerbar a:active,.headerbar a:hover {
color:#FFF;
text-decoration:none;
}

.navbar a:link,.navbar a:visited,.navbar a:active {
color:#fff;
}

.navbar a:hover,.numbers a:link,.numbers a:visited,.numbers a:active,.numbers a:hover {
text-decoration:none;
}

.footerbox a:visited,.footerbox a:link {
color:#900;
}
/* Borrowed from ModelMayhem (end) */

