<style type = 'text/css'>
<!--

.submit
{
background: #80c0ff;
border-top-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
color: navy;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 8pt;
font-weight: bold;
width: auto;
}

-->
</style>
