/* baseline defaults for a slide-like environment */
html { margin: 0; padding: 0; }
body {
	margin: 0 0 -4em 0; padding: 0;
	background-color: #333; color: #EEE;
}
table { border-collapse: collapse; }
ul, ol { list-style: outside; padding: 0px 0px 0px 1em; text-align:left; }
h1 { font-size: 150%; }
h2 { font-size: 130%; margin: .5em; }
h3 { font-size: 110%; margin: .5em; }
.slide {
	padding: 1em;
	margin: 1em 0;
	font-size: 40px;
	min-width: 900px;
}
.slide.dense { font-size: 30px; }
.slide > h1 { margin-top: .2em; }
.slide > ul, .slide > ol { display: inline-block; max-width: 90%; }
.slide > ul > li { margin-bottom: .5em; }
.slide > figure {
	position: relative;
	/* top:50%; left:50%; transform: translate(-50%,-50%); */
	display: inline-block; max-width: 80%; width: auto;
	margin: 0; padding: 0;
}
.slide > figure > figcaption {
	position: absolute;
	bottom: 0; left:50%; transform: translate(-50%,100%);
	display: block; white-space:nowrap;
	text-align: center;
}
.slide .notes { display: none; }
.slide ul ul { padding-top: .4em; }
li { margin-bottom: .2em; }
a { text-decoration: none; color: #DEF; }
.slide pre { text-align: left; }
.slide code { white-space: pre; font-size: 40%; margin:4px; text-align: left; }

/* styles for this presentation *
body.high-contrast { background-color: #000; color: #FFF; }
th { vertical-align: baseline; text-align: left; }
td { vertical-align: baseline; text-align: left; }
table.data {
	font-size: 90%;
	font-family: sans-serif;
	border-collapse: separate;
	border-spacing: 8px;
}
table.data th { padding: 4px 8px; background-color: #222; }
.high-contrast table.data th { background-color: #151515; }
.high-contrast table.data td { background-color: #303030; }

.chat-app { font-size: 14px; }
.chatlog {
	background-color: #EEE; color: black;
	text-align: left;
	width: 775px;
	height: 400px;
	padding: 4px;
	border: 1px solid black;
	font-family: courier, sans-serif, monospace;
	white-space: pre-wrap;
	overflow-y: scroll;
}
.chatline { width: 640px; }
.chatline input { display: inline-block; background-color: #EEE; color: black; width: 80%; }
.chatline button { display: inline-block; width: 15%; }

h1.loud { font-size: 200%; }
h1.lesson { display:inline-block; white-space: nowrap; text-align:center; font-size: 150%; }
figure.lesson { width: 90%; }
figure img { height: 10em; }
.slide figure.extern { min-height: 8em; }
.slide figcaption.small { font-size: 60%; }
figure pre { margin:0px; }
.slide figure.code { text-align: left; }
.slide figure.code.wider { width: 80%; }
.slide figure.code.wider code { font-size: 35%; }
 .slide ul.bare li { list-style-type: none; }
.slide ul li.bare { list-style-type: none; }
*/