# Copyright 2010, 2011, 2012, 2013, 2014 Kevin Ryde

# This file is part of Filter-gunzip.
#
# Filter-gunzip is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 3, or (at
# your option) any later version.
#
# Filter-gunzip is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with Filter-gunzip.  If not, see <http://www.gnu.org/licenses/>.


Source: libfilter-gunzip-perl
Section: perl
Priority: optional
Build-Depends: cdbs, debhelper (>= 5), libtest-more-perl | perl (>= 5.6.2)
Maintainer: Kevin Ryde <user42_kevin@yahoo.com.au>
Standards-Version: 3.9.5
Homepage: http://user42.tuxfamily.org/filter-gunzip/index.html
Bugs: mailto:user42_kevin@yahoo.com.au

Package: libfilter-gunzip-perl
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: perl (>= 5.006), libperlio-perl | perl (>= 5.6), libperlio-gzip-perl, ${perl:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: Source filter uncompressing gzip files
 Filter::gunzip uncompresses gzipped Perl source files for execution.
 It can run .pl.gz files or make a self-uncompressing executable.
