    dt                                 = from                
    mode                               = imag                
    sign                               = 1                   
    trend                              = 1                   
    unwrap                             = minimum             
    verbose                            = 1                   
    zeromean                           = 0                   
