    dt                                 = domega              
    dv                                 = 25                  
    fmax                               = 0                   
    fv                                 = 330                 
    key                                = offset              
    norm                               = 1                   
    nv                                 = 100                 
    verbose                            = 0                   
