    dt                                 = from                
    dx                                 = from                
    tmpdir                             = if                  
    verbose                            = 0                   
    w                                  = 2                   
