    d1                                 = from                
    d2                                 = from                
    tmpdir                             = if                  
    verbose                            = 0                   
    w                                  = 2                   
