Integet const:   <TMPL_var 123>
Float sc. const: <TMPL_var 3.14>
Float sc. const: <TMPL_var 3.14E+2>
"" string const: <TMPL_var "Te's\"t1 \x54\x45\u0053\u0054 \124\105\123\124">
'' string const: <TMPL_var 'Te\'s"t1'>

String:   <TMPL_var s1>
Integer:  <TMPL_var s2>
Negative: <TMPL_var s3>
Float:    <TMPL_var s4>
Negative: <TMPL_var s5>
True:     <TMPL_if s6>TRUE<TMPL_else>FALSE</TMPL_if>
False:    <TMPL_if s7>TRUE<TMPL_else>FALSE</TMPL_if>
