{
  "openapi": "3.0.1",
  "info": {
    "title": "Bills API",
    "description": "API to get and search for information regarding Bills, their stages, associated amendments and publications.",
    "contact": {
      "name": "UK Parliament",
      "url": "https://www.parliament.uk",
      "email": "softwareengineering@parliament.uk"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://bills-api.parliament.uk"
    }
  ],
  "paths": {
    "/api/v1/Bills/{billId}/Stages/{billStageId}/Amendments": {
      "get": {
        "tags": [
          "Amendments"
        ],
        "summary": "Returns a list of amendments.",
        "operationId": "GetAmendments",
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "description": "Amendments relating to a Bill with Bill ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "billStageId",
            "in": "path",
            "description": "Amendments relating to a Bill stage with Bill stage ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SearchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Decision",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Decision"
            }
          },
          {
            "name": "MemberId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentSearchItemSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentSearchItemSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentSearchItemSearchResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages/{billStageId}/Amendments/{amendmentId}": {
      "get": {
        "tags": [
          "Amendments"
        ],
        "summary": "Returns an amendment.",
        "operationId": "GetAmendment",
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "description": "Amendment relating to a bill with bill ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "billStageId",
            "in": "path",
            "description": "Amendment relating to a bill stage with bill stage ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "amendmentId",
            "in": "path",
            "description": "Amendment with amendment ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendmentDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/NewsArticles": {
      "get": {
        "tags": [
          "BillNews"
        ],
        "summary": "Returns a list of news articles for a Bill.",
        "operationId": "GetNewsArticles",
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NewsArticlesSummarySearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsArticlesSummarySearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsArticlesSummarySearchResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Returns a list of Bills.",
        "operationId": "GetBills",
        "parameters": [
          {
            "name": "SearchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Session",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentHouse",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/House"
            }
          },
          {
            "name": "OriginatingHouse",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OriginatingHouse"
            }
          },
          {
            "name": "MemberId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "DepartmentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "BillStage",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "BillStagesExcluded",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "IsDefeated",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsWithdrawn",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "BillType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "SortOrder",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BillSortOrder"
            }
          },
          {
            "name": "BillIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillSummarySearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillSummarySearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillSummarySearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Return a Bill.",
        "operationId": "GetBill",
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "description": "Bill with ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages/{billStageId}": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Returns a Bill stage.",
        "operationId": "GetBillStageDetails",
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "description": "Bill stage relating to Bill with Bill ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "billStageId",
            "in": "path",
            "description": "Bill stage with ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Returns all Bill stages.",
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "description": "Stages relating to a Bill with Bill ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StageSummarySearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageSummarySearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageSummarySearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/BillTypes": {
      "get": {
        "tags": [
          "BillTypes"
        ],
        "summary": "Returns a list of Bill types.",
        "parameters": [
          {
            "name": "Category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BillTypeCategory"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillTypeSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillTypeSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillTypeSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Publications/{publicationId}/Documents/{documentId}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Return information on a document.",
        "parameters": [
          {
            "name": "publicationId",
            "in": "path",
            "description": "Document with publication Id specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "Document with Id specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDocument"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDocument"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDocument"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Publications/{publicationId}/Documents/{documentId}/Download": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Return a document.",
        "parameters": [
          {
            "name": "publicationId",
            "in": "path",
            "description": "Document with publication Id specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "Document with Id specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Publications": {
      "get": {
        "tags": [
          "Publications"
        ],
        "summary": "Return a list of Bill publications.",
        "operationId": "GetBillPublication",
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "description": "Publications relating to Bill with Bill ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillPublicationList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPublicationList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPublicationList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Bills/{billId}/Stages/{stageId}/Publications": {
      "get": {
        "tags": [
          "Publications"
        ],
        "summary": "Return a list of Bill stage publications.",
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "stageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillStagePublicationList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStagePublicationList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStagePublicationList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/PublicationTypes": {
      "get": {
        "tags": [
          "PublicationTypes"
        ],
        "summary": "Returns a list of publication types.",
        "parameters": [
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationTypeSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationTypeSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationTypeSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Rss/allbills.rss": {
      "get": {
        "tags": [
          "Rss"
        ],
        "summary": "Returns an Rss feed of all Bills.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/Rss/publicbills.rss": {
      "get": {
        "tags": [
          "Rss"
        ],
        "summary": "Returns an Rss feed of public Bills.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/Rss/privatebills.rss": {
      "get": {
        "tags": [
          "Rss"
        ],
        "summary": "Returns an Rss feed of private Bills.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/Rss/Bills/{id}.rss": {
      "get": {
        "tags": [
          "Rss"
        ],
        "summary": "Returns an Rss feed of a certain Bill.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Bill",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Sittings": {
      "get": {
        "tags": [
          "Sittings"
        ],
        "summary": "Returns a list of Sittings.",
        "operationId": "GetSittings",
        "parameters": [
          {
            "name": "House",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/House"
            }
          },
          {
            "name": "DateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageSittingSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageSittingSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillStageSittingSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Stages": {
      "get": {
        "tags": [
          "Stages"
        ],
        "summary": "Returns a list of Bill stages.",
        "parameters": [
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StageReferenceSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageReferenceSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageReferenceSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AmendmentDecision": {
        "enum": [
          "NoDecision",
          "Withdrawn",
          "Disagreed",
          "NotMoved",
          "Agreed"
        ],
        "type": "string"
      },
      "AmendmentDetail": {
        "type": "object",
        "properties": {
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "amendmentId": {
            "type": "integer",
            "format": "int32"
          },
          "amendmentType": {
            "$ref": "#/components/schemas/AmendmentType"
          },
          "sponsors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmendmentMember"
            },
            "nullable": true
          },
          "clause": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "schedule": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lineNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "amendmentPosition": {
            "type": "string",
            "nullable": true
          },
          "decision": {
            "$ref": "#/components/schemas/AmendmentDecision"
          },
          "marshalledListText": {
            "type": "string",
            "nullable": true
          },
          "amendmentLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmendmentLine"
            },
            "nullable": true
          },
          "explanatoryTextPrefix": {
            "type": "string",
            "nullable": true
          },
          "explanatoryText": {
            "type": "string",
            "nullable": true
          },
          "amendmentNote": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AmendmentLine": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "nullable": true
          },
          "indentation": {
            "type": "integer",
            "format": "int32"
          },
          "hangingIndentation": {
            "type": "string",
            "nullable": true
          },
          "isImage": {
            "type": "boolean"
          },
          "imageType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AmendmentMember": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "party": {
            "type": "string",
            "nullable": true
          },
          "partyColour": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          },
          "memberPhoto": {
            "type": "string",
            "nullable": true
          },
          "memberPage": {
            "type": "string",
            "nullable": true
          },
          "memberFrom": {
            "type": "string",
            "nullable": true
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          },
          "isLead": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "AmendmentSearchItem": {
        "type": "object",
        "properties": {
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "amendmentId": {
            "type": "integer",
            "format": "int32"
          },
          "amendmentType": {
            "$ref": "#/components/schemas/AmendmentType"
          },
          "sponsors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmendmentMember"
            },
            "nullable": true
          },
          "clause": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "schedule": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lineNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "amendmentPosition": {
            "type": "string",
            "nullable": true
          },
          "decision": {
            "$ref": "#/components/schemas/AmendmentDecision"
          },
          "marshalledListText": {
            "type": "string",
            "nullable": true
          },
          "summaryText": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AmendmentSearchItemSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmendmentSearchItem"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "AmendmentType": {
        "enum": [
          "EditLongTitle",
          "EditBillBody",
          "AddClauseOrSchedule",
          "DeleteClauseOrSchedule"
        ],
        "type": "string"
      },
      "Bill": {
        "type": "object",
        "properties": {
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "shortTitle": {
            "type": "string",
            "nullable": true
          },
          "currentHouse": {
            "$ref": "#/components/schemas/House"
          },
          "originatingHouse": {
            "$ref": "#/components/schemas/House"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "billWithdrawn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isDefeated": {
            "type": "boolean"
          },
          "billTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "introducedSessionId": {
            "type": "integer",
            "format": "int32"
          },
          "includedSessionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "isAct": {
            "type": "boolean"
          },
          "currentStage": {
            "$ref": "#/components/schemas/StageSummary"
          },
          "longTitle": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "sponsors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sponsor"
            },
            "nullable": true
          },
          "promoters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Promoter"
            },
            "nullable": true
          },
          "petitioningPeriod": {
            "type": "string",
            "nullable": true
          },
          "petitionInformation": {
            "type": "string",
            "nullable": true
          },
          "agent": {
            "$ref": "#/components/schemas/BillAgent"
          }
        },
        "additionalProperties": false
      },
      "BillAgent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "phoneNo": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BillPublication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "publicationType": {
            "$ref": "#/components/schemas/PublicationType"
          },
          "displayDate": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicationLink"
            },
            "nullable": true
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicationDocument"
            },
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          }
        },
        "additionalProperties": false
      },
      "BillPublicationList": {
        "type": "object",
        "properties": {
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "publications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillPublication"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BillSortOrder": {
        "enum": [
          "TitleAscending",
          "TitleDescending",
          "DateUpdatedAscending",
          "DateUpdatedDescending"
        ],
        "type": "string"
      },
      "BillStageDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "stageId": {
            "type": "integer",
            "format": "int32"
          },
          "sessionId": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "abbreviation": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          },
          "stageSittings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillStageSitting"
            },
            "nullable": true
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          },
          "committee": {
            "$ref": "#/components/schemas/Committee"
          },
          "nextStageBillStageId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "previousStageBillStageId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "BillStagePublicationList": {
        "type": "object",
        "properties": {
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "publications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Publication"
            },
            "nullable": true
          },
          "sittings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillStageSittingPublicationList"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BillStageSitting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "stageId": {
            "type": "integer",
            "format": "int32"
          },
          "billStageId": {
            "type": "integer",
            "format": "int32"
          },
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BillStageSittingPublicationList": {
        "type": "object",
        "properties": {
          "sittingId": {
            "type": "integer",
            "format": "int32"
          },
          "publications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Publication"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BillStageSittingSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillStageSitting"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "BillSummary": {
        "type": "object",
        "properties": {
          "billId": {
            "type": "integer",
            "format": "int32"
          },
          "shortTitle": {
            "type": "string",
            "nullable": true
          },
          "currentHouse": {
            "$ref": "#/components/schemas/House"
          },
          "originatingHouse": {
            "$ref": "#/components/schemas/House"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "billWithdrawn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isDefeated": {
            "type": "boolean"
          },
          "billTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "introducedSessionId": {
            "type": "integer",
            "format": "int32"
          },
          "includedSessionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "isAct": {
            "type": "boolean"
          },
          "currentStage": {
            "$ref": "#/components/schemas/StageSummary"
          }
        },
        "additionalProperties": false
      },
      "BillSummarySearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillSummary"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "BillType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "category": {
            "$ref": "#/components/schemas/BillTypeCategory"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BillTypeCategory": {
        "enum": [
          "Public",
          "Private",
          "Hybrid"
        ],
        "type": "string"
      },
      "BillTypeSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillType"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Committee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/CommitteeHouse"
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommitteeHouse": {
        "enum": [
          "Commons",
          "Lords",
          "Joint"
        ],
        "type": "string"
      },
      "Decision": {
        "enum": [
          "All",
          "NoDecision",
          "Withdrawn",
          "Disagreed",
          "NotMoved",
          "Agreed"
        ],
        "type": "string"
      },
      "House": {
        "enum": [
          "All",
          "Commons",
          "Lords",
          "Unassigned"
        ],
        "type": "string"
      },
      "Member": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "party": {
            "type": "string",
            "nullable": true
          },
          "partyColour": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          },
          "memberPhoto": {
            "type": "string",
            "nullable": true
          },
          "memberPage": {
            "type": "string",
            "nullable": true
          },
          "memberFrom": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NewsArticlesSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string",
            "nullable": true
          },
          "displayDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NewsArticlesSummarySearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewsArticlesSummary"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OriginatingHouse": {
        "enum": [
          "All",
          "Commons",
          "Lords"
        ],
        "type": "string"
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": { }
      },
      "Promoter": {
        "type": "object",
        "properties": {
          "organisationName": {
            "type": "string",
            "nullable": true
          },
          "organisationUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Publication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "publicationType": {
            "$ref": "#/components/schemas/PublicationType"
          },
          "displayDate": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicationLink"
            },
            "nullable": true
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicationDocument"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicationDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "filename": {
            "type": "string",
            "nullable": true
          },
          "contentType": {
            "type": "string",
            "nullable": true
          },
          "contentLength": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "PublicationLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "contentType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicationType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicationTypeSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicationType"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Sponsor": {
        "type": "object",
        "properties": {
          "member": {
            "$ref": "#/components/schemas/Member"
          },
          "organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "StageReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          }
        },
        "additionalProperties": false
      },
      "StageReferenceSearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StageReference"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "StageSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "stageId": {
            "type": "integer",
            "format": "int32"
          },
          "sessionId": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "abbreviation": {
            "type": "string",
            "nullable": true
          },
          "house": {
            "$ref": "#/components/schemas/House"
          },
          "stageSittings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillStageSitting"
            },
            "nullable": true
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "StageSummarySearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StageSummary"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      }
    }
  }
}