
use X10::Macro;

{
	f08on => new X10::Macro(
		description => 'Kitchen On',
		events => [ qw(f5on f6on f7on) ]
		),
	f08off => new X10::Macro(
		description => 'Kitchen Off',
		events => [ qw(f5off f6off f7off) ]
		),
	m01on => new X10::Macro(
		description => 'Test Macro',
		events => [ qw(m2on) ]
		),
#	m03on => new X10::Macro(
#		description => 'Office Motion',
#		events => [ qw(f15on) ]
#		),
	m05on => new X10::Macro(
		description => 'Come Home Remote',
		events => [ qw(f6on f13on) ]
		),
	m05off => new X10::Macro(
		description => 'Leaving Remote',
		events => [ qw(falloff) ]
		),
	m06on => new X10::Macro(
		description => 'Ouside Remote On',
		events => [ qw(olightson) ]
		),
	m06off => new X10::Macro(
		description => 'Ouside Remote Off',
		events => [ qw(oalloff) ]
		),
	m08on => new X10::Macro(
		description => 'Easy Lights On',
		events => [ qw(flightson) ]
		),
	m08off => new X10::Macro(
		description => 'Easy All Off',
		events => [ qw(falloff) ]
		),
};


