[% USE JSON %]
[% var1 %]
[% var1 | uri %]
[% var1.json %]
[% var1.json | html %]
a||b   [% a || b | html %]
(a||b) [% (a || b) | html %]
b||c   [% b || c | html %]
a      [% a | html %]
b      [% b | html %]
