<ul id="nav">
    <li><a href="[% c.uri_for_action('/index') %]"><span>Home</span></a></li>
    [%- UNLESS c.user_exists %]
    <li><a href="[% c.uri_for_action('/user/login') %]"><span>Login</span></a></li>
    [% END %]
    [% IF c.user_exists %]
      [% INCLUDE 'nav/authed.tt' %]    
    [%- END %]
    <li><span class="search">Search:<input type="text" name="q" /></span></li>
</ul>
