Build
MYMETA.yml
_build/
blib/
logs/development.log
.*sw?
t/var/*
mimosa*.db
logs/
t/logs
.#*
#*
MYMETA.json
t/data/blastdb_test.protein/seq.fasta.psi
t/data/blastdb_test.protein/seq.fasta.psd
t/data/blastdb_test.nucleotide/seq.fasta.nsd
t/data/blastdb_test.nucleotide/seq.fasta.nsi
t/data/extraomgbbq.seq
*.mimosa_cache*
t/data/blastdb_test.nucleotide.nsd
t/data/blastdb_test.nucleotide.nsi
META.json
META.yml
Makefile.PL
MANIFEST
MANIFEST.bak
MANIFEST.SKIP.bak
