/* ================================================================== */
/* THEME: Lavender
 */
/* ================================================================== */
/* THEME: Lavender - fonts
 */
/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2 {
  font-family: Anagram, Flatley, "Killer Boots", crillee, verdana, helvetica, sans-serif;
  font-weight: normal;
  color: black;
}

h3, h4 {
  font-family: verdana, helvetica, arial, sans-serif;
  color: black;
}

/* ================================================================== */
/* ICONS - dark on light
 * Nav arrows with transparent backgrounds
 */
.side nav li > ul {
  list-style-image: url(nav_black.png);
}

/* ================================================================== */
/* General */
.verge, header,
footer,
.side, .fancy {
  color: #1c0033;
  background: #cfb3e6;
  border-color: navy;
}

header,
footer,
.side {
  background-image: url(lav3.jpg);
}

body {
  color: #1f0033;
  background: #e9c7ff;
}

a:link {
  color: #0b0066;
}

a:visited {
  color: #66005b;
}

.fancy {
  color: #1c0033;
  background-image: url("lav3.jpg");
  border: 5px double #a05cd7;
  padding: 0;
}
.fancy li {
  padding: 0.5em;
  margin: 5px;
  border: 5px solid #a05cd7;
  background-color: #cfb3e6;
  background: linear-gradient(#cfb3e6, #9479d3);
}
.fancy li a:link {
  color: #050066;
}
.fancy li a:visited {
  color: #660061;
}

.button, input[type=submit], header nav a,
header nav .selflink,
header nav em,
header nav .current a {
  color: #1c0033;
  border-color: #9966cc;
  background-color: #cfb3e6;
}

.button a:link, input[type=submit] a:link, header nav a a:link,
header nav .selflink a:link,
header nav em a:link,
header nav .current a a:link, a.button:link, header nav a:link {
  color: #1c0033;
}

.button a:visited, input[type=submit] a:visited, header nav a a:visited,
header nav .selflink a:visited,
header nav em a:visited,
header nav .current a a:visited, a.button:visited, header nav a:visited {
  color: #660061;
}

header nav li {
  border-color: #aa77dd;
}

header nav .selflink,
header nav em,
header nav .current a {
  color: #990000;
  background-color: #e9c7ff;
}
