/* ================================================================== */
/* THEME: Matrix
 */
/* ================================================================== */
/* THEME: Matrix - fonts
 */
/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
  font-family: Plasmatic, LarabieFont, verdana, sans-serif;
  font-weight: normal;
  color: black;
}

/* ================================================================== */
/* ICONS - light on dark
 * Nav arrows with transparent backgrounds
 */
.side nav li > ul {
  list-style-image: url(nav_white.png);
}

/* ================================================================== */
/* General */
.verge, header,
footer, .side, .fancy {
  color: #e0ebe0;
  background: #001100;
  border-color: #005500;
}

header,
footer {
  background-image: url(matrix_h.jpg);
}

.side {
  background-image: url(matrix_side.jpg);
}

body {
  color: #003300;
  background-color: #aaf2aa;
  background-image: url(matrix_main.jpg);
}

a:link {
  color: #006633;
}

a:visited {
  color: #1a3300;
}

header a:link,
footer a:link,
.side a:link,
.verge a:link,
header a:link,
footer a:link,
.side a:link,
.fancy a:link {
  color: #a3f5cc;
}

header a:visited,
footer a:visited,
.side a:visited,
.verge a:visited,
header a:visited,
footer a:visited,
.side a:visited,
.fancy a:visited {
  color: #b3f76e;
}

.fancy {
  color: #e0ebe0;
  background-image: url("matrix_side.jpg");
  border: 5px double #075607;
  padding: 0;
}
.fancy li {
  padding: 0.5em;
  margin: 5px;
  border: 5px solid #075607;
  background-color: #001100;
  background: linear-gradient(#001100, black);
}
.fancy li a:link {
  color: #a3f5cc;
}
.fancy li a:visited {
  color: #b3f76e;
}

.button, input[type=submit], header nav a,
header nav .selflink,
header nav em,
header nav .current a {
  color: #e0ebe0;
  border-color: #005500;
  background-color: #113311;
}

.button a:link, input[type=submit] a:link, header nav a a:link,
header nav .selflink a:link,
header nav em a:link,
header nav .current a a:link, a.button:link, header nav a:link {
  color: #e0ebe0;
}

.button a:visited, input[type=submit] a:visited, header nav a a:visited,
header nav .selflink a:visited,
header nav em a:visited,
header nav .current a a:visited, a.button:visited, header nav a:visited {
  color: #b3f76e;
}

header nav li {
  border-color: #113311;
}

header nav .selflink,
header nav em,
header nav .current a {
  color: black;
  background-color: #aaf2aa;
}
