MYMETA.json
MYMETA.yml
Makefile
blib/
ARSperl-*/
ARS.c
ARS.o
ARS/_h2ph_pre.ph
ARS/ar-h.pm
ARS/arerrno-h.pm
serverTypeInfoHints.h
support.h
support.o
supportrev.o
supportrev_generated.o
t/config.cache
pm_to_blib

