	<div id="dynamicnav">
		<span class="link"><a href='[% EXAMPLE_1 %] '>One</a></span>
		<span class="link"><a href='[% EXAMPLE_2 %] '>Two</a></span>
		<span class="link"><a href='[% EXAMPLE_3 %] '>Three</a></span>
		<span class="link"><a href='[% EXAMPLE_4 %] '>Four</a></span>
		<span class="link"><a href='[% EXAMPLE_5 %] '>Five</a></span>
	</div>

