<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>[% meta_title %] - Mozilla Sidebar</title>
[% IF meta_refresh %]
  <meta http-equiv='Refresh' content='[% meta_refresh %]'>
[% END %]
  <meta name="Generator" content="Babble">
[% IF meta_desc -%]
  <meta name="description" content="[% meta_desc %]">
[%- END %]
[% IF meta_charset -%]
  <meta http-equiv="Content-Type" content="text/html; charset=[% meta_charset %]">
[%- END %]
<style type="text/css">
td {
	font-family: verdana, helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #FAEBD7;
	vertical-align: top;
}

a {
	color: #363636;
	font-size: 10px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

th {
	background-color: #efefef;
}
</style>
</head>
<body>

[% my_collection = babble_collection || collection.sort %]

<div align="center">
	
	<table border="0" align="center">
		<tr>
			<th>Title</th>
			<th>Date</th>
		</tr>
		[% FOREACH item = my_collection %]
		<tr>
			<td>
				[% IF item.author %]
				  <a href="[% item.master %]">[% item.author %]</a>
				[% END %]
				[% IF item.title || item.date %]
				  [% IF item.author %]&mdash;[% END %]
				  <a href="[% item.link %]">[% item.title || item.date_date %]</a>
				[% END %]
			</td>
			<td>[% item.date_text %]</td>
		<tr>
		[% END %]
	</table>
</body>
</html>

[%#
arch-tag: c0eb9384-4830-4256-b350-759771b5f4cd
%]
