[Desktop Entry]
Encoding=UTF-8
Name=Link to CIOとITマネージャーの課題を解決するオンラインメディア - ZDNet Japan
Type=Link
URL=http://japan.zdnet.com/
Icon=text-html
Name[en_US]=1
