     # NOTES for future improvements
     #base_file_name  			= cdp100
     #gather_header  		= 'cdp
     #offset_type  			= tracr
     # TODO: have specific options for SP, CDP COG etc.
     # write up options in subroutines
     # gather_type    		= CDP

     base_file_name  		= All_cmp
     # for sorting
     gather_header  		= ep
     # binheader,offset type pairs must be unique within a gather
     offset_type  			= tracr
     first_gather   		= 2 
     gather_inc    			= 1 
     last_gather    		= 49 
     freq    		        = 0,3,150,200
     gather_type    		= SP
     min_amplitude    	    = -5 
     max_amplitude    	    = 5 
