  first_file_number_in   	= 
  last_file_number_in    	= 
  number_of_files_in     	=  
  input_suffix	  	  	= 
  input_name_prefix			= 
  input_name_extension      	= 
  list               = test
  output_file_name    	= mute_file
  alternative_inbound_directory   = 
  alternative_outbound_directory  = 
