    base_file_name                     = All_cmp             
    sudipfilter_1_dt                   = 1                   
    sudipfilter_1_dx                   = 1                   
    sudipfilter_1_bias                 = 0                   
    sudipfilter_1_slopes               = 3,8,15,25,80                 
    sudipfilter_1_amps                 = 0,0,1,0,0                     
    sudipfilter_2_dt                   = 1                   
    sudipfilter_2_dx                   = 1                   
    sudipfilter_2_bias                 = 0                         
    sudipfilter_2_slopes               = -40,-10,-3,0        
    sudipfilter_2_amps                 = 0,0,0,1
    suinterp_ninterp                     = 1         
    suwind_1_tmin                      = 0                   
    suwind_1_tmax                      = 1                   
    suwind_2_key                       = ep               
    suwind_2_min                       = 2                   
    suwind_2_max                       = 2                  
    suspecfk_1_dt                      = 1                   
    suspecfk_1_dx                      = 1                   
    sufilter_1_freq                    = 0,3,80,200          
    sufilter_1_amplitude               = 1,1,1,0             
    TOP_LEFT_sugain_pbal_switch	       = 0
    TOP_LEFT_sugain_agc_switch         = 1                   
    TOP_LEFT_sugain_agc_width          = .1                                   
    BOTTOM_RIGHT_suximage_absclip      = 5                   
