img { border:0px; }
body { 
    font-family: arial,sans-serif;
    font-size: 9pt;
    margin: 0;
}
pre {
	line-height: 100%;
	margin-left: 2%;
	margin-right: 2%;
	border: 1px solid #888888;
	padding: 1em;
	white-space: pre;
	white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
	white-space: -pre-wrap;      /* Opera 4 - 6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation)
                                 http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word;       /* IE 5.5+ */
}
td, div, form, option, p, th { font-family: arial,sans-serif; font-size: 9pt }
input, textarea, select { border-width: 1px; padding: 1px; font-size: 9pt; border-color: #cccccc; }

/* bar header */
#gbar { float:left; height:22px; padding-top: 4px; margin-left: 11px; }
#gbar .gbarp { font-size:13px; padding-right:1em }
#guser { font-size:13px; padding-bottom:7px !important; padding-top:4px; padding-right:11px; }

#footer {
    clear:both;
    text-align:center;
}

.tabs {
    padding-left: 2em;
    padding-right: 2em;
}

.pager {
    margin:2px;
    padding:0;
    font-size:12px;
}
.pager a {
    display: inline;
    margin:0 3px;
    width:20px;
    height:18px;
    border:1px solid #BFDD97;
    text-align:center;
    text-decoration:none;
    color:#434F33;
    padding:2px;
}
.pager a:hover {
    background:#DCFFAE;
    font-weight:bold;
}

.notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.notice a {color:#514721;}
.success a {color:#264409;}