form.valid fieldset {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}
form.valid fieldset legend {
    font-weight: bolder;
    font-size: 130%;
    color: #000000;
}
form.valid fieldset p {
	padding: 5px;
	margin: 0;
}
form.valid fieldset p label {
	display: block;
	line-height: 1.8;
	vertical-align: top;
	font-weight: bold;
	width: 30%;
	float: left;
	text-align: right;
	padding-right: 10px;
}
form.valid fieldset input.checkbox {
    float: left;
}
form.valid fieldset p label.other {
    width: auto;
    float: none;
    padding-left: 10px;
    text-align: left;
}
form.valid input.submit {
    margin-left: 33%;
}
form.valid label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
	color: red;
	font-style: italic;
	float: none;
}