Source: libqbit-webinterface-apache2-perl
Section: perl
Priority: extra
Maintainer: Sergei Svistunov <sergei-svistunov@yandex.ru>
Build-Depends: debhelper (>= 8.0.0), perl, libqbit-perl, libqbit-webinterface-perl, libapache2-mod-perl2, liburi-perl
Standards-Version: 3.9.4

Package: libqbit-webinterface-apache2-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libqbit-perl, libqbit-webinterface-perl, libapache2-mod-perl2, liburi-perl
Description: Package for connect WebInterface to Apache 2.
 Package for connect WebInterface to Apache 2.
