    jack                               =                   
    mode                               = 'amp'                      
    r                                  =                 
    smooth                             =                    
    trend                              =                   
    unwrap                             =                   
    zeromean                           =                    