    jack                               =                   
    mode                               = 'amp'            
    op                                 =              
    r                                  =                 
    smooth                             =                    
    trend                              =                   
    unwrap                             =                   
    zeromean                           =                    