    c                                  =                   
    df                                 =                  
    dt                                 =               
    fmax                               =                  
    fs                                 = 2                   
    k                                  = 1                   
    noct                               = 5                   
    nscale                             =              
    ntr                                = 1                   
    nv                                 = 10                  
    p                                  = -0.5                
    verbose                            = 0                   