    base                               = 10                  
    divisor                            = 1.0                 
    expinc                             = 0.01                
    first                              = -1                  
    holder                             = 1                   
    last                               = 1.5                 
    nwavelet                           = 1024                
    sigma                              = 1                   
    verbose                            = 0                   
    wtype                              = 0                   
    xcenter                            = 0                   
    xmax                               = 20                  
    xmin                               = -20                 