    alpha                              =         
    band                               =          
    beta                               = 3.0                 
    dt                                 =               
    fmax                               =              
    fmin                               = 0                   
    holder                             = 1                                                
    verbose                            = 0                   