/* Be careful to only edit the *.tmpl file. [-*-C-*- source] */

#ifndef _tv_setup_
#define _tv_setup_

#include <osp-preamble.h>
#include <osperl.h>

/*
  Why 41?
  - 41 slots gives .48 bytes per element average overhead & 41 is a prime number
  - Array ops are plenty fast for most reasonable sizes.
*/
#define TnWIDTH		41

#define NEW_TN(ret, near)\
	NEW_OS_OBJECT(ret, os_segment::of(near), TN::get_os_typespec(), TN)

#define TnDATA_T		OSPVptr
#define TV_PLANT_DAT(d)
#define TV_UPROOT_DAT(d)
#define TV_UNSET_DAT(d)		d.set_undef()

#define TnCLEARSLOT(k,d)	d.FORCEUNDEF()

#define TnSTOREDATA_T OSSVPV*
#define TnDAT_ASSIGN(lval,rval) lval.operator=(rval)

#define TnFETCHDATA_T OSSVPV**
#define TnDAT_FETCH(lval,rval) *lval = rval

#include "tv.public"

#endif
