<TMPL_INCLUDE header.tmpl>
<h1><a href="<TMPL_VAR self_url>">Index</a> &gt; <TMPL_VAR title> &gt; Error</h1>

<div class="contents">
  <p>There was an error:</p>
  <p>
  <font face="Courier New" color="#ff0000"><TMPL_VAR error></font>
  </p>
</div>

<TMPL_INCLUDE footer.tmpl>
