INT: <tmpl_var expr="int(float)">
SQRT: <tmpl_var expr="sqrt(four)">
SQRT2: <tmpl_var expr="sqrt((four * 4))">
SUM: <tmpl_var expr="int(four + 10.1)">
SPRINTF: <tmpl_var expr="sprintf('%0.4f', (four + 10.1))"> 

