    ang                                = 180                 
    dt                                 =                     
    dx                                 = 50.0                
    dxm                                =                     
    dxo                                = 15.0                
    dz                                 = 50.0                
    dzo                                = 15.0                
    fmax                               =               
    fx                                 = 0.0                 
    fxm                                = 0                   
    fxo                                = 0.0                 
    fzo                                = 0.0                 
    ls                                 = 0                   
    nx                                 =                     
    nxb                                =                 
    nxc                                = 0                   
    nxd                                = 5                   
    nxm                                =                     
    nxo                                = 101                 
    nz                                 =                     
    nzc                                = 0                   
    nzo                                = 101                 
    offs                               =                     
    pert                               = 0                   
    verbose                            = 1                   
    vfile                              =                     
    vpfile                             =                     
