    ang                                = 180                 
    dt                                 =                     
    dx                                 = 50.0                
    dxm                                =                     
    dxo                                = 15.0                
    dyo                                = 15.0                
    dz                                 = 50.0                
    dzo                                = 15.0                
    fmax                               = 0.25/t              
    fx                                 = 0.0                 
    fxm                                = 0                   
    fxo                                = 0.0                 
    fyo                                = 0.0                 
    fzo                                = 0.0                 
    nxb                                = nx/2                
    nxd                                = 5                   
    nxm                                =                     
    nxo                                = 101                 
    ny                                 =                     
    nyo                                = 101                 
    nz                                 =                     
    nzo                                = 101                 
    offs                               =                     
    verbose                            = 1                   
    vfile                              =                     
