[% PROCESS header.tmpl %]


	<div id="section_one">
		<div class="center">
			<!-- CHOOSE WIFI COPY ************************ --> 
			<div class="two_thirds left padding_top">
			
	        [% PROCESS terms.tmpl %]		
			</div>
                       <!-- LOGO ************************ -->
                        <div class="one_third left">
                                <div id="custom_logo">
                                        <a id="logo_image" href="[% provider_href %]" style="background: url([% provider_logo %]) no-repeat center center ">
                                        <div id="gloss"> </div>
                                        </a>
                                </div>
[% PROCESS powered_by.tmpl %]
</div>
			<div class="clear"></div>
			
		                    
            </div>
    </div>

        [% PROCESS splash_ads.tmpl %]

 [% PROCESS our_pledge.tmpl %]


[% PROCESS footer.tmpl %]
