[% PROCESS header.tmpl %]


	<div id="section_one">
		<div class="center">
			<!-- CHOOSE WIFI COPY ************************ --> 
			<div class="two_thirds left padding_top">

	<p><strong>All WiFi purchases are final.</strong><br />Please choose from one of the available rate plans below.  The paid service allows access through all ports, so VPN and other network based applications will function properly.  If you have any questions regarding your purchase, please <a href="mailto:support@slwifi.com">email us.</a></p>
			</div>
			
                       <!-- LOGO ************************ -->
                        <div class="one_third left">
                                <div id="custom_logo">
                                        <a id="logo_image" href="[% provider_href %]" style="background: url([% provider_logo %]) no-repeat center center ">
                                        <div id="gloss"> </div>
                                        </a>
                                </div>
[% PROCESS powered_by.tmpl %]
                        </div>
			<div class="clear"></div>

                [% PROCESS buttons.tmpl %]                    

			<div class="clear"></div>

</div>
</div>
        [% PROCESS splash_ads.tmpl %]

 [% PROCESS our_pledge.tmpl %]

[% PROCESS footer.tmpl %]
