    <form name="terms" method="post" action="/free">
						<dd class="standard_margin">
						<div id="terms_of_service">  
								<p>This WiFi internet connection is provided free of charge, and contains no warranty.  You hereby agree to assume all liability for your use of this internet connection.  Per Federal CALEA compliance, your mac address may be recorded to uniquely identify you as a user.
								</p>
							</div>
    <div>&nbsp;</div>
							<input type="checkbox" id="terms" name="terms"/>
							<label class="terms" for="terms">I agree to the terms of service
							</label>
							<div class="clear"></div>

						</dd>
    <input type="hidden" name="url" value="[% url %]">
<dd>
     <input tabindex="3" type="submit" id="submit" value="Submit" />
    <div>&nbsp;</div>
    <div class="clear"></div>
</dd>
</form>           
