<!-- TMPL_INCLUDE NAME='_header.tmpl' -->
<h2><a href='<TMPL_VAR NAME=href_prolog>'>Prolog</a></h2>
<h2><a href='<TMPL_VAR NAME=href_elt>'>Elements index.</a></h2>
<h2><a href='<TMPL_VAR NAME=href_ent>'>Entities index.</a></h2>
<h2><a href='<TMPL_VAR NAME=href_not>'>Notations index.</a></h2>
<h2><a href='<TMPL_VAR NAME=href_ex>'>Examples list.</a></h2>
<!-- TMPL_IF NAME="tree" -->
<hr />
<h2>Element tree.</h2>
  <!-- TMPL_VAR NAME="tree" -->
<!-- /TMPL_IF -->
<!-- TMPL_INCLUDE NAME='_footer.tmpl' -->

