

<html>
	<head>
		<title>浙江省食品药品监督管理局</title>
		
		<meta name="subsite" content="浙江省食品药品监督管理局">	
		<meta name="location" content="330000">
		<meta name="department" content="036">
		<meta name="title"  content="省局医改督查组赴温州开展深化医药卫生体制改革工作督查">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="category" content="009">
		<meta name="pubDate" content="2011-03-11 10:42:07">
		<meta name="guid" content="33000003600920110022869">
		<meta name="effectiveTime" content="0">
		<meta name="level" content="0">
		<meta name="source" content="政策法规处">
		<meta name="language" content="1">	
		
		<meta http-equiv="Content-Type" content="text/html; charset=GBK">
		<link type="text/css" rel="stylesheet" href="/facade/styles/jlhh.css" />
		<style type="text/css">
		<!--
		.en1 {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			color: #3366CC;
			text-decoration: none;
		}
		.wen1 {
			font-size: 12px;
			line-height: 16px;
			text-decoration: none;
		}
		.down {
			font-size: 12px;
			line-height: 15px;
			color: #006600;
			text-decoration: none;
		}
		.wen11 {	font-size: 12px;
			line-height: 18px;
			text-decoration: none;
		}
		.style8 {color: #003399}
		.style9 {
			font-size: 14px;
			font-weight: bold;
			color: #1069CE;
		}
		.style10 {
			color: #000000;
			font-size: 12px;
		}
		.style11 {font-size: 12px}
		-->
		</style>
	</head>
	<body>
	

<table width="900" height="180" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#3366cc">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
          <td align="right"><img src="/facade/image/logo_top1.jpg" width="165" height="40"></td>
        </tr>
        <tr>
          <td><img src="/facade/image/logo_zjfda.jpg" width="146" height="80"></td>
          <td><img src="/facade/image/logo_title.jpg" width="400" height="80"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="right"><img src="/facade/image/logo_bot1.jpg" width="165" height="60"></td>
        </tr>
      </table></td>
    <td width="354" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/facade/image/logo_top2.jpg" width="234" height="40"></td>
          <td><img src="/facade/image/logo_top3.jpg" width="120" height="40"></td>
        </tr>
        <tr>
          <td><img src="/facade/image/logo_mid1.jpg" width="234" height="80"></td>
          <td><img src="/facade/image/logo_mid2.jpg" width="120" height="80"></td>
        </tr>
        <tr>
          <td><img src="/facade/image/logo_bot2.jpg" width="234" height="60"></td>
          <td><a href="http://www.zj.gov.cn" target="_blank"><img src="/facade/image/logo_bot3.jpg" width="120" height="60" border="0"></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ccff66">
  <tr>
    <td height="3"> </td>
  </tr>
</table>
<table width="900" height="30" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000" class="wenben">
  <tr> 
    <td width="807" align="center"><a href="/"> <font color="#FFFFFF">首 页</font></a> 
       <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/news/organization.html"><font color="#FFFFFF">机构设置</font></a> 
       <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/news/regulations.html"><font color="#FFFFFF">政策法规</font></a> 
       <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/news/licensing.html"><font color="#FFFFFF">行政许可 </font></a> 
       <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/news/announcement.html"><font color="#FFFFFF">公告通告</font></a> 
       <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/news/worknews.html"><font color="#FFFFFF">工作动态</font></a> 
       <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/news/paper.html"><font color="#FFFFFF">工作文件</font></a> 
       <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/news/brief.html"><font color="#FFFFFF">简报</font></a> 
       <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/news/independent.html"><font color="#FFFFFF">廉政建设</font></a> 
       <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/topics.html"><font color="#FFFFFF">专 
      栏</font></a> <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/repast/blacklist/index.html" target="_blank"><font color="#FF6600"><strong>餐饮监管</strong></font></a> 
      <font color="#FFFFFF">|</font>&nbsp;&nbsp;<a href="/columns/cadres/index.html" target="_blank"><font color="#FFFFFF">老干部专题</font></a> 
    </td>
    <td width="93" align="center"><font color="#FFFFFF">
	<script class="black" language="JavaScript">
		<!---             
				today=new Date();             
				var hours = today.getHours();             
				var minutes = today.getMinutes();             
				var seconds = today.getSeconds();             
				var timeValue = "<FONT COLOR=\"#000000\">" + (hours); timeValue += ((minutes < 10) ? "<BLINK><FONT COLOR=#000000>:</FONT></BLINK>0" : "<BLINK><FONT COLOR=#000000>:</FONT></BLINK>") + minutes+"</FONT></FONT>";             
		 function initArray(){             
		 this.length=initArray.arguments.length             
		 for(var i=0;i<this.length;i++)             
		 this[i+1]=initArray.arguments[i]  }             
			 var d=new initArray("<font color=\"#ffffff\">星期日","<font color=\"#ffffff\">星期一","<font color=\"#ffffff\">星期二","<font color=#ffffff>星期三","<font color=#ffffff>星期四","<font color=#ffffff>星期五","<font color=#ffffff>星期六");              
		//document.write("<font color=\"#ffffff\"><font color=\"#ffffff\">",today.getYear(),"<font color=\"#ffffff\">年","<font color=\"#ffffff\">",today.getMonth()+1,"<font color=\"#ffffff\">月","<font color=\"#ffffff\">",today.getDate(),"<font color=\"#ffffff\">日 </FONT>",d[today.getDay()+1]," "); 
		document.write("<font color=\"#ffffff\"><font color=\"#ffffff\">",today.getYear(),"<font color=\"#ffffff\">年","<font color=\"#ffffff\">",today.getMonth()+1,"<font color=\"#ffffff\">月","<font color=\"#ffffff\">",today.getDate(),"<font color=\"#ffffff\">日 </FONT>"); 
		-->
	</script>
	</font></td>
  </tr>
</table>

	
	<table width="900" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
  <tbody><tr>
    <td width="180" valign="top" bgcolor="#e4e4e4" align="center">
    	<!-- left -->
    	
    	
	    
	    	
			
			
			

<table width="180" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr> 
    <td bgcolor="#ffffff"> 
    

<table width="180" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
          
    <td height="5"> </td>
        </tr>
        <tr> 
          
    <td height="34"><img height="34" width="186" src="/facade/image/pic_sousuo.jpg"/></td>
        </tr>
        <tr> 
		
          <td height="40" valign="middle" bgcolor="#5a8eff" align="center">
         <INPUT class=txtbox id=searchInputTxt size=15 name=textfield2 value="" />
			    <INPUT class=txtbox onclick=javascript:search(); type=button value=提交 name=Submit2 />
            
            </td>
			
        </tr>
        <tr> 
			<td height="6" valign="middle" align="center">
			</td>
        </tr>
        <tr> 
          
    <td height="42" valign="top"><a target="_blank" href="/interac/jzemail.html"><img height="36" width="186" border="0" src="/facade/image/pic_xinxiang.jpg"/></a></td>
        </tr>
        <tr> 
          
    <td height="42" valign="top"><a target="_blank" href="/interac/complaints.html"><img height="36" width="186" border="0" src="/facade/image/pic_tousu.jpg"/></a></td>
        </tr>
        <tr> 
          
    <td height="42" valign="top"><a target="_blank" href="/interac/consultative/list.html"><img height="36" width="186" border="0" src="/facade/image/pic_zixun.jpg"/></a></td>
        </tr>
      </tbody></table>
<script type="text/javascript">
<!--
function search(){
    var name=document.getElementById("searchInputTxt").value;
    //window.location.href="/news/search/"+name+".html";
    if(name.replace(/(^\s*)|(\s*$)/g, "") == "" || name.length==0){
    	alert("请输入搜索内容！");
    }else{
    	window.open("/search/all/"+name+".html","_blank");
    }
    
}
//-->
</script>
    </td>
  </tr>
  <tr> 
    <td bgcolor="#ffffff"><img height="30" width="186" src="/facade/image/lanmu_worknews.jpg"/></td>
  </tr>
  <tr> 
    <td height="400" valign="top" align="center"> <table width="80%" cellspacing="0" cellpadding="0" border="0" class="wen1">
        <tbody><tr> 
          <td height="5" width="25%"> </td>
          <td width="75%"/>
        </tr>
		 
        <tr> 
          <td height="30" align="center" class="tab-bot-line"><img height="9" width="8" src="/facade/image/yellow.gif"/></td>
          <td class="tab-bot-line"><strong><a href="/news/worknews/province.html">省局动态</a></strong></td>
        </tr>
         
        <tr> 
          <td height="30" align="center" class="tab-bot-line"><img height="9" width="8" src="/facade/image/yellow.gif"/></td>
          <td class="tab-bot-line"><strong><a href="/news/worknews/city.html">市县动态</a></strong></td>
        </tr>
        
        
        <tr> 
          <td height="30">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody></table></td>
  </tr>
</tbody></table>		    	
    	
    	
		
	</td>
    <td width="10" valign="top" bgcolor="#ffffff" align="center">&nbsp;</td>
    <td valign="top">
<table width="99%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
        <tr>
        <td height="27">
        <!-- position -->
        
		
        
        	
			
			
			
			

<div align="left">
	<span class="wen1"><img src="/facade/image/dian.jpg" />&nbsp;<span class="style8">您现在的位置是：</span>
	<a href="/" class="span1">主页</a>
	
		&gt;&gt;&nbsp;<a href="/news/worknews.html">工作动态</a>
	
	
		&gt;&gt;&nbsp;<a href="/news/worknews/province.html">省局动态</a>
	
	
		&gt;&gt;&nbsp;详细信息
	
	</span>
</div>
	
        	            
         </td>
      </tr>
      <tr>
          <td align="right"><img height="50" width="700" alt="" src="/facade/image/lanmu_tit_worknews.jpg"/></td>
      </tr>
      <tr>
        <td valign="top">
        <br />
        <!-- 详细信息 -->
		<table  width="550" cellspacing="0" cellpadding="0" border="0" align="center" class="wen1">

            <tbody><tr>
              <td><div align="center" id=my_title ><span class="style10" id=my_content>省局医改督查组赴温州开展深化医药卫生体制改革工作督查</span></div></td>
            </tr>
            <tr>
              <td><hr width="100%" size="1"/></td>
            </tr>
            <tr>
              <td><div align="center"><span class="style10" id=my_content>发布部门：办公室&nbsp;
              发布时间:
            
			2011-03-11
			
            </span></div></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td ><span class="style10">
              <!--ZJEG_RSS.content.begin--><p id=my_content >&nbsp;&nbsp;&nbsp; 根据省医改领导小组工作部署和陈敏尔副省长关于&ldquo;加大医改工作推进力度和加强医改典型经验、案例宣传&rdquo;的指示精神，3月8日-9日，以吴宁一副局长为组长，政策法规处、药品流通监管处、食品药品稽查局组成督查组赴温州开展深化医药卫生体制改革工作督查。<br />
&nbsp;&nbsp;&nbsp; 督查组先后听取了温州市政府、永嘉县政府2010年医改面上工作和任务指标完成情况汇报，并就医改过程中基本医疗保障制度、基本药物实施、绩效工资制度、农村医疗卫生服务体系建设等问题进行了探讨和交流，督查组一行深入温州鹿城区广化街道社区卫生服务中心、永嘉县妇幼保健院、永嘉县上塘镇社区卫生服务站进行实地调研，与基层医务人员、患者面对面交流，全面了解医改实施过程医务人员绩效工资、工作量、门诊病人数、基本药物品种目录、基本药物配送、群众满意度等等情况。<br />
&nbsp;&nbsp;&nbsp; 通过这次调研活动，进一步了解我省医改工作中各地反映的突出问题，总结一些好的做法和经验，督查组将及时反馈省医改领导小组，推进我省深化医药卫生体制改革工作。</p>
<div style="text-indent: 15.75pt">&nbsp;</div>
<div style="text-indent: 15.75pt">&nbsp;</div>
<div style="text-indent: 15.75pt">&nbsp;</div>
<div style="text-indent: 15.75pt"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><img alt="" width="600" height="400" src="/userfiles/image/DSC02093.JPG" /></div><!--ZJEG_RSS.content.end-->
              </span></td>
            </tr>
            <tr>
              <td id=my_content align="right">&nbsp;
              
              信息来源： 政策法规处
              
              </td>
            </tr>
            <tr>
              <td><div align="center">【<a href="javascript:window.close()">关闭窗口</a>】</div></td>
            </tr>
        </tbody></table>	
        </td>
  </tr>
  <tr><td></td></tr>
</tbody></table>
</td></tr></tbody></table>
	

<table height="30" width="900" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody><tr>
    <td>
<!--table width="900" height="30" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000" class="wenben">
  <tr> 
    <td align="center"><font color="#FFFFFF">您为第<B></B>位访问者</font></td>
  </tr>
</table-->
<table height="30" width="900" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" align="center" class="wenben">
  <tbody><tr> 
    <td align="center"><a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.zjfda.gov.cn');" id="linkf" class="wenxia" title="设置本站为浏览器首页(启始页)" href="/"><font color="#ffffff">设为首页</font></a> 
      <font color="#ffffff">|</font> <a href="javascript:window.external.AddFavorite('http://www.zjfda.gov.cn','浙江省食品药品监督管理网')"><font color="#ffffff">加入收藏</font></a> 
      <font color="#ffffff">|</font> <a href="mailto:office@zjfda.gov.cn"><font color="#ffffff">联系我们</font></a> 
      <font color="#ffffff">|</font> <a href="/privacyStatement.html"><font color="#ffffff">隐私声明</font></a> 
      <font color="#ffffff">|</font> <a href="/map.html"><font color="#ffffff">网站地图</font></a> 
      <font color="#ffffff">|</font> <a href="/back.do" target="_blank"><font color="#ffffff">管理登录</font></a> 
      <!--font color="#FFFFFF">|</font> <a href="/old/index.jsp" target="_blank"><font color="#FFFFFF">旧版网站</font></a-->
	  <font color="#ffffff">|</font> <a href="/zjfda.gov.cn.reg"><font color="#ffffff">设为可信站点</font></a></td>
  </tr>
</tbody></table>
<table  width="900" cellspacing="0" cellpadding="0" border="0" bgcolor="#3366cc" align="center" class="wenben">
  <tbody><tr>
    <td height="100" align="center" class="wenben"> <a target="_blank" href="http://www.miibeian.gov.cn"><font color="#ffffff">浙ICP备05007175号</font></a> 
      <font color="#ffffff">中文域名：浙江省食品药品监督管理局.cn</font> <font color="#ffffff"><br/>
        主办：浙江省食品药品监督管理局 承办：浙江省食品药品监督管理局信息中心 技术支持：</font><font color="#ffffff">浙江海川医药科技有限公司</font><br/>
        <font color="#ffffff">建议使用微软公司IE5.0以上版本的浏览器 最佳浏览效果:1024＊768像素 小字体<br/>
      </font> </td>
  </tr>
</tbody></table>
</td>
  </tr>
</tbody></table>
	</body>
</html>
