<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>浙江法制报</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta content="浙江日报报业集团所属浙江日报、钱江晚报、今日早报、美术报、浙江老年报、浙江法制报等16张系列报刊和其16张数字报纸同步报道浙江潮、中国风。数字报的推出使读者可提前在网上阅读当天的报纸，同时数字报版面可以随意翻阅，图文可通过网页清晰阅读，见诸报端的新闻还可以转化成语音收听。"
        name="description" />
    <link href="../../../style/style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../../js/jquery-1.3.2.min.js"></script>

    <script type="text/javascript" src="../../../js/newpower1.js"></script>

    <script type="text/javascript" src="../../../js/mpNewPower.js"></script>

    <script type="text/javascript" src="../../../js/calendar2.js"></script>

    <script type="text/javascript" src="../../../js/newPower2.js"></script>

</head>
<body>
    <div class="top-ad">
    </div>
    <div class="main">
        <div class="main-top">
            <h1 class="main-top-logo">
                浙江法制报数字报纸</h1>
            <div class="main-top-nav">
                <ul class="issuelink">
                    <li id="issue-pre" class="pre"><a href="#" onclick="goPrePeriod()">上一期</a></li>
                    <li id="issue-next" class="next"><a href="#" onclick="goNextPeriod()">下一期</a></li>
                </ul>
                <ul class="edlink">
                    <li id="ed-pre" class="pre"><a class="preart" href="javascript:alert('已经是第一版')">上一版</a> </li>
                    <li id="ed-next" class="next"><a class="preart" href="node_2.htm">下一版</a> </li>
                </ul>
                <ul class="articlelink">
                    <li id="article-pre" class="pre"><a class="preart" href="javascript:alert('已经是第一篇')">上一篇</a>
                    </li>
                    <li id="article-next" class="next"><a class="preart" href="content_1_2.htm">下一篇</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-ed">
            <div class="main-ed-map-weapper">
                <div class="main-ed-map">
                    <map id="edmap" name="PagePicMap">
                        
                            <area coords="10,139,204,139,204,269,10,269,10,139,55,275,157,275,157,284,55,284,55,275,10,139,10,294,41,294,41,298,10,298,10,294,10,139,10,303,201,303,201,316,10,316,10,303" shape="poly" href="content_1_1.htm">
                        
                            <area coords="228,127,291,127,291,146,228,146,228,127,227,156,257,156,257,160,227,160,227,156,228,127,227,165,293,165,293,371,227,371,227,165" shape="poly" href="content_1_2.htm">
                        
                    </map>
                    <img src="../../../resfile/2011-03-15/01/Page_b.jpg" border="0" usemap="#PagePicMap" />
                    <div class="main-ed-side">
                    </div>
                </div>
            </div>
            <br class="clearfloat" />
            <div class="main-ed-pageifm">
                <span>01版：一版要闻</span>
                <ul>
                    <li id="pageifm-ed-pre"><a class="preart" href="javascript:alert('已经是第一版')">上一版</a> </li>
                    <li id="pageifm-ed-next"><a class="preart" href="node_2.htm">下一版</a> </li>
                </ul>
            </div>
            <div class="ed-left-pdfdownload">
                <ul class="main-ed-downnav">
                    <li id="print-ed"><a href="#">打印版面图</a> </li>
                    <li id="down-edpdf"><a target="_blank" href="../../../resfile/2011-03-15/01/ZJFZB2011031501.pdf">下载PDF文件</a>
                    </li>
                    <li id="down-jpg"><a target="_blank" href="../../../resfile/2011-03-15/01/Page_b.jpg">下载jpg图像</a>
                    </li>
                </ul>
            </div>
            <div id="ar-left1">

                <script type="text/javascript">
    //arleft1();
                </script>

            </div>
            <div class="main-ed-articlenav">
                <div class="main-ed-articlenav-top">
                    <h3>
                        文章导航</h3>
                    <a></a>
                </div>
                <ul class="main-ed-articlenav-list">
                    
                        <li id="content_1_1"><a href="content_1_1.htm">中国救援队昨展开救援</a> </li>
                    
                        <li id="content_1_2"><a href="content_1_2.htm">服务“十二五”大局增强法学研究实效</a> </li>
                    
                </ul>
                <div id="ar-left2">

                    <script type="text/javascript">
    //arleft2();
                    </script>

                </div>
            </div>
            <div class="main-ed-ad">
                <ol class="main-ed-ad-text">
                    <li id="ar-left-text1" class="ad-none"></li>
                    <li id="ar-left-text2" class="ad-none"></li>
                    <li id="ar-left-text3" class="ad-none"></li>
                    <li id="ar-left-text4" class="ad-none"></li>
                    <li id="ar-left-text5" class="ad-none"></li>
                    <li id="ar-left-text6" class="ad-none"></li>
                    <li id="ar-left-text7" class="ad-none"></li>
                </ol>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-a-300-70" class="ad main-ed-ad-img-70 ad-none">
                    </div>
                </div>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-b-300-70" class="ad main-ed-ad-img-70 ad-none">
                    </div>
                </div>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-ab-300-150" class="ad main-ed-ad-img-150 ad-none">
                    </div>
                </div>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-c-300-70" class="ad main-ed-ad-img-70 ad-none">
                    </div>
                </div>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-bc-300-150" class="ad main-ed-ad-img-150 ad-none">
                    </div>
                </div>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-abc-300-230" class="ad main-ed-ad-img-230 ad-none">
                    </div>
                </div>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-d-300-70" class="ad main-ed-ad-img-70 ad-none">
                    </div>
                </div>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-cd-300-150" class="ad main-ed-ad-img-150 ad-none">
                    </div>
                </div>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-bcd-300-230" class="ad main-ed-ad-img-230 ad-none">
                    </div>
                </div>
                <div class="main-ed-ad-imgwarp">
                    <div id="ar-left-img-abcd-300-310" class="ad main-ed-ad-img-310 ad-none">
                    </div>
                </div>
                <ol class="main-ed-ad-text">
                    <li id="ar-left-text8" class="ad-none"></li>
                    <li id="ar-left-text9" class="ad-none"></li>
                    <li id="ar-left-text10" class="ad-none"></li>
                    <li id="ar-left-text11" class="ad-none"></li>
                    <li id="ar-left-text12" class="ad-none"></li>
                    <li id="ar-left-text13" class="ad-none"></li>
                    <li id="ar-left-text14" class="ad-none"></li>
                </ol>
            </div>
            <div id="ar-left3">

                <script type="text/javascript">
    //arleft3();
                </script>

            </div>
            <div id="ar-left4">

                <script type="text/javascript">
    //arleft4();
                </script>

            </div>
        </div>
        <div class="main-article">
            <div id="ar-top-img-560-80" class="ad main-article-ad ad-none">
            </div>
            <ul class="main-article-toolbar">

                <script type="text/javascript">
    artoolbar();
                </script>

            </ul>
            <ul class="main-article-nav">
                <li id="usermanage"><a href="#">账户管理</a></li>
                <li id="ednav"><a href="node_1.htm">版面导航</a></li>
                <li id="titlenav"><a href="index_2011-03-15.htm">标题导航</a></li>
                <li class="last" id="homepage"><a href="../../../paperindex.htm">返回主页</a></li>
            </ul>

            <script type="text/javascript">
    //arnav();
            </script>

            <div id=my_content class="main-article-content">
                <div id=my_title class="main-article-alltitle">
                    <h3 class="main-article-pretitle">
                        <!--<npm:article-pretitle>--><!--</npm:article-pretitle>--></h3>
                    <h1 class="main-article-title">
                        <!--<npm:article-title>-->中国救援队昨展开救援<!--</npm:article-title>--></h1>
                    <h3 class="main-article-subtitle">
                        <!--<npm:article-subtitle>--><!--</npm:article-subtitle>--></h3>
                    <h6 class="main-article-author">
                        <!--<npm:article-author>-->■新华社吕小炜摄<!--</npm:article-author>--></h6>
                </div>
                <div class="main_ar_pic_text">
                    
                        <!--<npm:article-pic>--><img src="../../../resfile/2011-03-15/01/p27_b.jpg" style="border-style: none"/><!--</npm:article-pic>--><br />
                        <span><!--<npm:article-pic-text>-->    中国救援队昨展开救援
<!--</npm:article-pic-text>--></span><br />
                    
                </div>
                <div id="ozoom" class="main-article-con">
                    <!--<npm:article-content>-->&nbsp;&nbsp;来自中国的救援队当地时间13日抵达日本受灾严重的岩手县大船渡市，并于14日清晨7点从集合营地出发，与日本当地救援队一起展开搜救工作。这是地震发生后来到当地参与救援活动的第一支国际救援队。大船渡市靠近海滨，遭受地震和海啸双重袭击，是此次受灾最严重的地区之一。<P><!--</npm:article-content>-->
                    <input type="checkbox" value="0" name="titlecheckbox" sourceid="<Source>SourcePh</Source>"
                        style="display: none">
                </div>
            </div>
            <div id="ar-center1">

                <script type="text/javascript">
    arcenter1();
                </script>

            </div>
            <div id="ar-center2">

                <script type="text/javascript">
    //arcenter2();
                </script>

            </div>
        </div>
        <br class="clearfloat" />
        <div id="ar-bottom-img-900-80" class="main-bottom-ad ad-none">
        </div>
    </div>
    <div class="bottom">

        <script type="text/javascript">
    bottom();
        </script>

    </div>
    <div id="float">
    </div>
    <!-------阅读率统计分析系统------>

    <script language="Javascript" src="../../../js/SendNPDate.js" defer></script>

    <table style="display: none;">
        <tr>
            <td>
                <span id="NewsPaperName">浙江法制报</span><span id="NewsEditionName">一版要闻</span><span
                    id="NewsEditionNumber">01</span><span id="NewsArticleTitle">中国救援队昨展开救援</span>
                <span id="NewsArticleAuthor"></span><span id="NewsArticleTime">2011-03-15</span>
                <span id="NewsArticleID"></span>
                <span id="Class">2</span> <span id="jbdata">2011年03月15日  星期二</span>
            </td>
        </tr>
    </table>
    <!-------END------>
</body>
</html>

