    close                              = 1                   
    key                                =                  
    middle                             =                  
    numlength                          = 7                   
    stem                               = split_              
    suffix                             = .su                 
    verbose                            = 0                   
