    close                              = 1                   
    key                                =   
    list                               =                                           
    middle                             =                  
    numlength                          = 7                   
    stem                               = split_
    su_base_file_name                  =
    verbose                            = 1            
    suffix                             = .su                                   