Source: analizo
Section: devel
Priority: optional
Maintainer: Joenio Costa <joenio@joenio.me>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: libgit-wrapper-perl,
 libterm-ui-perl,
 liblist-moreutils-perl,
 libfile-sharedir-perl,
 libfile-share-perl,
 libtest-class-perl,
 libtest-mockmodule-perl,
 libenv-path-perl,
 libfile-libmagic-perl,
 libarchive-extract-perl,
 libmethod-signatures-perl,
 libtest-bdd-cucumber-perl,
 libtest-mockobject-perl,
 libtest-exception-perl
Standards-Version: 4.1.2
Homepage: http://analizo.org

Package: analizo
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libapp-cmd-perl,
 libapp-cmd-perl,
 libgraph-perl,
 libyaml-perl,
 libgraph-writer-dsm-perl,
 liblist-compare-perl,
 libmojolicious-perl,
 libterm-progressbar-perl,
 libjson-perl,
 libfindbin-libs-perl,
 libzmq-ffi-perl,
 libdbd-sqlite3-perl,
 libfile-homedir-perl,
 libclass-accessor-perl,
 libfile-copy-recursive-perl,
 libchi-perl,
 libstatistics-descriptive-perl,
 libdbi-perl,
 libyaml-tiny-perl,
 doxyparse,
 sloccount
Recommends: graphviz, man
Description: multi-language source code analysis toolkit
 Analizo parses source code in multiple languages and report useful information
 about it, such as module dependency, source code metrics and more.
 .
 Analizo uses doxyparse to parse the source code, and is currently tested and
 expected to work well with C, C++ and Java source code.
