@font-face {
font-family:Batch;
src:url('../icomoon.eot');
src:url('../icomoon.eot?#iefix') format('embedded-opentype'),
url('../icomoon.ttf') format('truetype'),
url('../icomoon.woff') format('woff'),
url('../icomoon.svg?#icomoon') format('svg');
}
.batch{
font-family:Batch, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size:14px;
}
body{
background-color:#eee;
background-size:100%;
background-attachment:fixed;
font-family:sans-serif;
color:black;
text-align:left;
vertical-align:middle;
padding:0em;
font-size:1em;
margin:0;
}
.toolbar{
background-color:#eee; 
text-align:left;
transition-property:all;
transition-duration:.5s;
max-height:24px; 
height:24px; 
min-height:2px;
line-height:1.8em;
padding:2.5px;
}
td.header{
text-align:left;
font-size:1.1em;
}
.toolbar2{
padding:2.5px;
height:24px;
background-color:#eee; 
text-align:left;
}
tr.top{
border-top:1px solid black;
}
.pagePerSite{
width:40%;
float:right;
text-align:right;
margin-right:2.5px;
}
.makePages{
width:40%;
text-align:left;
float:left
}
/* Export von SQL */
.dumpTextarea{
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
padding-top:1em;
width:100%;
height:800px;
overflow:auto;
}
.dumpBox{
width:100%;
padding-top:5px;
padding-right:2px;
overflow:auto;
}
.dbHeader{
padding:0px;
margin:0px;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-spacing: 0px;
border:1px solid #000;
width:100%;
box-shadow:0px 0px 10px black;
background-color:rgba(255, 255, 255,0.3);
}
table.MultipleAction{
width:100%;
text-align:left;
}
select.MultipleAction{
margin-right:0px;
}
a{
cursor:pointer;
color:black;
}
a:hover{
cursor:pointer;
color:#6c9dbd;
}
a.link{
cursor:pointer;
color:black;
}
a.link:visited{
cursor:pointer;
color:black;
}
a.link:hover{
cursor:pointer;
color:rgba(76, 158, 217,1);
}
a.menuLink{
color:black;
font-size:1em;
vertical-align:middle;
font-size:2.5em;
}
a.menuLink:hover{
color:rgba(76, 158, 217,1);
font-size:2.5em;
vertical-align:middle;
}
a.menuLink2{
color:black;
font-size:1.2em;
vertical-align:middle;
}
a.menuLink3{
color:black;
font-size:1.2em;
vertical-align:middle;
padding-left: 2px;
}
a.catLink{
cursor:pointer;
color:black;
}
a.catLink:hover{
cursor:pointer;
}
a.catLinkPressed{
cursor:pointer;
color:rgba(76, 158, 217,1);
}
a.catLinkPressed:hover{
cursor:pointer;
color:rgba(76, 158, 217,1);
}
/* forms */
input{
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
vertical-align:top;
border:1px solid black;
color:black;
height:1.5em;
}
.text{
border:1px solid black;
vertical-align:middle;
border:1px solid black;
color:black;
height:1em;
}
select{
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
vertical-align:middle;
border:1px solid black;
color:black;
height:1.5em;
margin: 0.2em;
}
textarea{
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid black;
vertical-align:top;
border:1px solid black;
color:black;
}
textarea.sqlEdit{
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid black;
vertical-align:top;
border:1px solid black;
color:black;
min-width:98%;
max-width:98%;
min-height:240px;
height:240px;
}
input[type=text] {
height:1.5em;
vertical-align:middle;
border: solid 1px;
/* background-color:#6c9dbd; */
color:black;
width:99%;
/* margin:0.2em; */
}
input[type=password] {
height:1.5em;
vertical-align:middle;
border: solid 1px;
/* background-color:#6c9dbd; */
color:black;
width: 99%;
margin: 0.2em;
}
label.caption{
font-size:1.2em;
padding-left: 0.1em;
}
}
.saveButton{
text-align:right;
}
input[type=checkbox]{
border-radius:25px;
-moz-border-radius:25px;
-webkit-border-radius:25px;
border: solid 1px;
vertical-align:middle;
/* background-color:#6c9dbd; */
color:black;
width:1em;
height:1em;
}
input[type=checkbox]:checked{
border-radius:25px;
-moz-border-radius:25px;
-webkit-border-radius:25px;
border: solid 1px;
vertical-align:middle;
/* background-color:#6c9dbd; */
color:rgba(76, 158, 217,1);
}
input[type=checkbox]:hover{
/* background-color:#6c9dbd; */
color:rgba(76, 158, 217,1);
box-shadow:0px 0px 10px black; 
}
.markBox{
cursor:pointer;
/* background-color:rgba(134,23,23,1); */
}
td.checkbox{
/*   width:22px; */
padding:0px;
}
.markBox:hover{
width:1em;
height:1em;
border:1px solid;
border-radius:25px;
-moz-border-radius:25px;
-webkit-border-radius:25px;
/* background-color:rgba(134,23,23,1); */
cursor:pointer;
}
.markBoxButton{
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border:1px solid black;
width:16px;
height:16px;
/* background-color:#6c9dbd; */
}
input[type=radio]{
/* background-color:#6c9dbd; */
}
input[type=radio]:checked{
color:rgba(76, 158, 217,1);
/* background-color:#6c9dbd; */
color:rgba(76, 158, 217,1);
}
input[type=radio]:hover{
/* background-color:#6c9dbd; */
box-shadow:1px 1px 11px black;
-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */		
-moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */
box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */
color:rgba(76, 158, 217,1);
}
.radioButton{
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
border:1px solid black;
width:1em;
height:1em;
vertical-align:middle;
/* background-color:#6c9dbd; */
}
.tablelist{
width:100%;height:100px;
}
input[type="submit"]{
cursor:pointer;
border:1px solid #000;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
/* background-color:#6c9dbd; */
color:black;
font-size:1em;
height:1.5em;
vertical-align:middle;
margin:0.2em;
margin-right:-1px;
}
input[type="submit"]:hover{
-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);/*black */
-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);/*black */
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);/*black */
/* color:rgba(76, 158, 217,1); */
}
/*<<allgemein*/
.ShowTables{
text-align:center;
margin:5px;
margin: 0.15em 0.15em 1.15em 0.15em;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
border-spacing: 0px;
border:1px solid #000;
width:100%;
-webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.4);/*black */
-moz-box-shadow:0px 0px 1px rgba(0,0,0,0.4);/*black */
box-shadow:0px 0px 1px black;
background-color:rgba(0,0,0,0.05);
}
td.submit{
padding-bottom:1%;
padding-right:1%;
text-align:right;
}
tr.caption{
text-align:left;
}
td.caption{
background: -webkit-linear-gradient(#d8d5d3, #eee); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#d8d5d3, #eee); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#d8d5d3, #eee); /* For Firefox 3.6 to 15 */
background: linear-gradient(#d8d5d3, #eee); /* Standard syntax (must be last) */
text-align:left;
height: 1.5em;
padding-left: 0.2em;
padding-right: 0.2em;
border-bottom:1px solid black;
cursor:pointer;
}
td.caption2{
text-align:left;
height: 1.1em;
padding-left: 0.4em;
padding-right: 0.2em;
border-bottom:1px solid black;
background: -webkit-linear-gradient(#eee, #d8d5d3); /* For Safari 5.1 to 6.0 */
background: -webkit-linear-gradient(#eee, #d8d5d3); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#eee, #d8d5d3); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#eee, #d8d5d3); /* For Firefox 3.6 to 15 */
background: linear-gradient(#eee, #d8d5d3); /* Standard syntax (must be last) */
}
td.caption3{
text-align:left;
height: 1.1em;
padding-left: 0.4em;
padding-right: 0.2em;
}
td.caption4{
text-align:left;
height: 1.1em;
padding-left: 0.6em;
padding-right: 0.2em;
}
td.captionRadius{
-webkit-border-top-left-radius:15px;  
-webkit-border-top-right-radius:15px;
-moz-border-top-left-radius:15px;  
-moz-border-top-right-radius:15px;
border-top-left-radius:15px;  
border-top-right-radius:15px;
background: -webkit-linear-gradient(#d8d5d3, #eee); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#d8d5d3, #eee); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#d8d5d3, #eee); /* For Firefox 3.6 to 15 */
background: linear-gradient(#d8d5d3, #eee); /* Standard syntax (must be last) */
cursor:pointer;
text-align:center;
}
.popupCaption{
-webkit-border-top-left-radius:15px;  
-webkit-border-top-right-radius:15px;
-moz-border-top-left-radius:15px;  
-moz-border-top-right-radius:15px;
border-top-left-radius:15px;  
border-top-right-radius:15px;
padding:0.4em;
border-bottom: 1px solid #000;
height:1.5em;
/* width:99%; */
background: -webkit-linear-gradient(#d8d5d3, #eee); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#d8d5d3, #eee); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#d8d5d3, #eee); /* For Firefox 3.6 to 15 */
background: linear-gradient(#d8d5d3, #eee); /* Standard syntax (must be last) */
}
td.captionLeft{
border-top-left-radius:15px;
-webkit-border-top-left-radius:15px;  
-moz-border-top-left-radius:15px;
cursor:pointer;
background: -webkit-linear-gradient(#d8d5d3, #eee); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#d8d5d3, #eee); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#d8d5d3, #eee); /* For Firefox 3.6 to 15 */
background: linear-gradient(#d8d5d3, #eee); /* Standard syntax (must be last) */
}
td.captionRight{
border-top-right-radius:15px;  
-webkit-border-top-right-radius:15px;
-moz-border-top-right-radius:15px;
cursor:pointer;
background: -webkit-linear-gradient(#d8d5d3, #eee); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#d8d5d3, #eee); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#d8d5d3, #eee); /* For Firefox 3.6 to 15 */
background: linear-gradient(#d8d5d3, #eee); /* Standard syntax (must be last) */
}
.firstValue{
  text-align:left;
padding-left: 0.4em;
}
.values{
color:black;
text-align:left;
padding-left: 0.4em;
padding-right: 0.2em;
}
td.nobr{
white-space:nowrap;
}
td.top{
vertical-align:top;
}
td.smallWnd{
padding:1%;
text-align:center;
}
td.right{
text-align:right;
padding-right:0.8em;
}
tr.overDb{
color:rgba(76, 158, 217,1);
/*background-color:rgba(76, 158, 217,1);blue*/
}
tr.overDb:hover{
color:rgba(76, 158, 217,1);
/*background-color:rgba(76, 158, 217,1);blue*/
}
td.overDb{
color:rgba(76, 158, 217,1);
background-color:#6c9dbd;
}
a.currentLink{
cursor:pointer;
}
a.currentLink:hover{
cursor:pointer;
color:#6c9dbd;
}
/*<<allgemein*/
/* datenbank headline */
.captionLink{
color:#000;
}
.captionLink:hover{
color:#2b4569;
}
.popup{
z-index:1;
position:fixed;
left:0px;
top:0px;
width:100%;
height:1000px;
background-color:rgba(255,255,255,0.7);
/* background-image:url('/mysql.png'); */
opacity:0.95;
background-size:100%;
background-position:top;
}
.popupContent1{
position:relative;
left:25%;
top:100px;
border:1px solid;
border-radius:15px;
-webkit-border-radius:15px; 
-moz-border-radius:15px;
/* padding:1%; */
opacity:0.9;
width:50%;
background-color:rgba(255,255,255,0.9);
}
.closeButton{
width:1.5em;
height:1.5em;
line-height:1.5em;
font-size:1em;
border:1px solid;
border-radius:25px;
-webkit-border-radius:25px; 
-moz-border-radius:25px;
background-color:#eee;/*blue*/
color:black;
cursor:pointer;
text-align:center;
}
.closeButton:hover{
width:1.5em;
height:1.5em;
line-height:1.5em;
border:1px solid;
border-color:black;
border-radius:25px;
-webkit-border-radius:25px; 
-moz-border-radius:25px;
background-color:#6c9dbd;/*blue*/
/* color:rgba(76, 158, 217,1); */
cursor:pointer;
text-align:center;
box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */ 
}
.closeMenu{
margin:5px;
width:1.5em;
height:1.5em;
line-height:1.5em;
font-size:1em;
border:1px solid;
border-radius:25px;
-webkit-border-radius:25px;
background-color:#eee;/*blue*/
-moz-border-radius:25px;
color:rgba(76, 158, 217,1);
color:black;
cursor:pointer;
text-align:center;
}
.closeMenu:hover{
background-color:#6c9dee;/*blue*/
box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */ 
}
.popupContent{
text-align:center;
width:100%;
/* overflow:auto; */
}
.menuCaption{
cursor:pointer;
text-align:center;
}
.menuContent{
width:100%;
text-align:left;
/* padding:4%; */
}
.verticalMenuLayout{
margin-top:1em;
width:80%;
text-align:center;
/* left:5%; */
border: 1px solid;
border-radius:15px;
-webkit-border-radius:15px; 
-moz-border-radius:15px;
box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */ 
-moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */ 
-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */ 
}
.menuContainer{
padding:0%;
margin-top: 1.65em;
  
}
textarea.sqlEdit{
border-radius:5px;
-webkit-border-radius:5px; 
-moz-border-radius:5px;
padding:5px;
width:100%;
height:253px;
}
select.sqlEdit{
width:100%;
height:119px;
}
select.keyWords{
width:100%;
height:238px;
}
/* <<form container */
.query{
color:black;
/* background-color:#eee; */
text-align:center;
}
.searchForm{
margin:1%;
width: 98%;
}
.dbForm{
padding:1%;
text-align:center;
width:98%;
}
.EditEntry{
text-align: center;
margin-top: 1.5em;
}
.CreateDatabase{
text-align:left;
left:5%;
padding:4%;
} 
.CreateUser{
text-align:left;
left:5%;
padding:4%;
} 
.CreateTable{
text-align:left;
left:5%;
padding:4%;
}
.ChangeCurrentDb{
text-align:left;
left:5%;
padding:4%;
}
.SqlEditor{
width:100%;
text-align:center;
padding:4%;
}
.SQLRIGHTS{
width:80%;
text-align:center;
left:5%;
padding:4%;
}
.execsql{
text-align:left;
min-height:0%;
}
/* Sidebar */
.menu{
text-align:center;
border:0px solid;
border-top:0px;
overflow:auto;
overflow-x: hidden;
transition-property:all;
transition-duration:.5s;
transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
width:300px;
overflow:auto;
opacity:0.9;
padding-bottom:1%;
min-height:800px;
border-right:2px solid #000;
background-color:rgba(0,0,0,0.05);
vertical-align:top;
border-bottom:2px solid #000;
-webkit-border-bottom-right-radius:15px;
-moz-border-bottom-right-radius:15px;
border-bottom-right-radius:15px;  
}
.menu.closed {
min-width:5px;
width:5px;
border-right:2px solid #000;
min-height:800px;
background-color:rgba(0,0,0,0.05);
cursor:pointer;
border-bottom:1px solid #000;
-webkit-border-bottom-right-radius:15px;
-moz-border-bottom-right-radius:15px;
border-bottom-right-radius:15px;  
}
/* "Haupt Inhalt" */
.content{
padding-bottom:0%;
padding-left:0%; 
padding-right:2%;
padding-top:0%;
text-align:left;
min-height:800px;
vertical-align:top;
}
.cnt{
text-align:center;
/* background-color:rgba(255,255,255,0.9); */
/* overflow-x: hidden; */
transition-property: all;
transition-duration: .5s;
transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
height:80px;
}
.cnt.closed {
/* width:10%; */
height:1px;
}
.menupoint{
text-align:left;
font-size:1.1em;
line-height:1.1em;
cursor:pointer;
}
/* <<TabWidget actions.xsl */
.menupoint:hover{
text-align:left;
font-size:1.1em;
line-height:1.1em;
cursor:pointer;
color:rgba(76, 158, 217,1);
}
.dynamicLink{
font-size:1.1em;
line-height:1.1em;
cursor:pointer;
}
a.menuLink{
font-size:1.1em;
line-height:1.1em;
color:black;
cursor:pointer;
}
a.menuLink:hover{
font-size:1.1em;
line-height:1.1em;
cursor:pointer;
color:rgba(76, 158, 217,1);
}
td.headerItem{
font-size:1.1em; 
line-height:1.1em;
border-left:2px solid;
border-top:2px solid;
border-right:2px solid;
border-bottom:2px solid;
border-top-left-radius:10px;
border-top-right-radius:10px;
-moz-border-top-left-radius:10px;
-moz-border-top-right-radius:10px;
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
border-color:#000;
background-color:rgba(0,0,0,0.05);
text-align:center;
padding:4px;
padding-left:8px;
padding-right:8px;
min-width:10px;
width:100px;
white-space:nowrap;
}
td.headerItemHover{
font-size:1.1em;
line-height:1.1em;
border-left:2px solid;
border-top:2px solid;
border-right:2px solid;
border-top-left-radius:10px;
border-top-right-radius:10px;
-moz-border-top-left-radius:10px;
-moz-border-top-right-radius:10px;
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
background-color:#eee;
border-color: #000;
text-align:center;
padding:4px;
padding-left:8px;
padding-right:8px;
min-width:10px;
width:100px;
}
.menuButton{
text-align:right;
font-size:1.5em;
cursor:pointer;
left:96%;
top:1%;
}
td.headerItemUnderline{
border-bottom:2px solid;
}
table.tabwidget{
margin:0;
border-spacing:0px;
vertical-align:top;
padding-top:5px;
width:110%;  
}
/* TabWidget actions.xsl>> */
/* Menu Layout menu.xsl */
.verticalMenuLayout{
margin:1em;
border-spacing:0px;
vertical-align:top;
width:80%;
min-width:100px;
background-color:rgba(255,255,255,0.6);
box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */ 
-moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */  
-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black*/
}
/*index.html main window*/
.window{
overflow:auto;
width:100%;
text-align:left;
vertical-align:middle;
min-height:800px;
}
/* make Pages Start < 1 2 3 4 > */ 
.pages{
width:100%;
padding:0.5em;
min-height:0em;
}
a.menuLink2{
color:rgba(76, 158, 217,1);
font-size:1.1em;
line-height:1.1em;
vertical-align:middle;
}
.toolbarButton{
border:1px solid #eee;
color:#000;
padding:0.1em;
margin-left:0.1em;
font-size:1.1em;
line-height:1.4em;
}
.toolbarButton:hover{
-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */		
-moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */
box-shadow:1px 1px 1px 1px rgba(0,0,0,0.4);/*black */
border:1px solid rgba(76, 158, 217,1);
color:rgba(76, 158, 217,1);
}
a.menuLink3{
color:black;
font-size:1.1em;
line-height:1.1em;
vertical-align:middle;
}
a.menuLink2:hover{
color:rgba(76, 158, 217,1);
font-size:1.1em;
line-height:1.1em;
vertical-align:middle;
padding-left: 2px;
}
a.menuLink3:hover{
color:rgba(76, 158, 217,1);
font-size:1.1em;
line-height:1.1em;
vertical-align:middle;
}
/* Animation die beim laden angezeigt wird  */
#animationContainer{
}
.animationBox{
position:static;
border:1px solid;
background-color:#eee;
margin:5px; 
float:left;
width:25px;
height:25px;
opacity:0.1;
border-radius:25px;
-moz-animation-name:animation;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.7);
-webkit-animation-name:animation;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
-ms-animation-name:animation;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.7);
-o-animation-name:animation;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.7);
animation-name:animation;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(0.7);
}
#animation_1{
-moz-animation-delay:0.10s;
-webkit-animation-delay:0.10s;
-ms-animation-delay:0.10s;
-o-animation-delay:0.10s;
animation-delay:0.10s;
}
#animation_2{
-moz-animation-delay:0.15s;
-webkit-animation-delay:0.15s;
-ms-animation-delay:0.15s;
-o-animation-delay:0.15s;
animation-delay:0.15s;
}
#animation_3{
-moz-animation-delay:0.20s;
-webkit-animation-delay:0.20s;
-ms-animation-delay:0.20s;
-o-animation-delay:0.20s;
animation-delay:0.20s;
}
#animation_4{
-moz-animation-delay:0.25s;
-webkit-animation-delay:0.25s;
-ms-animation-delay:0.25s;
-o-animation-delay:0.25s;
animation-delay:0.25s;
}
@-moz-keyframes animation{
0%{
-moz-transform:scale(1.2);
opacity:1;
}
100%{
-moz-transform:scale(0.7);
opacity:0.1;
}
}
@-webkit-keyframes animation{
0%{
-webkit-transform:scale(1.2);
opacity:1;
}
100%{
-webkit-transform:scale(0.7);
opacity:0.1;
}
}
@-ms-keyframes animation{
0%{
-ms-transform:scale(1.2);
opacity:1;
}
100%{
-ms-transform:scale(0.7);
opacity:0.1;
}
}
@-o-keyframes animation{
0%{
-o-transform:scale(1.2);
opacity:1;
}
100%{
-o-transform:scale(0.7);
opacity:0.1;
}
}
@keyframes animation{
0%{
transform:scale(1.2);
opacity:1;
}
100%{
transform:scale(0.7);
opacity:0.1;
}
}
.waid{
padding-top:20%;
margin-left: auto;
margin-right: auto;
width: 150px;
height:600px;
}
table.ExecSql{
width:100%;
padding:1%;
}
.ExecSql{
text-align:center;
padding:1%;
margin-top:1.5em;
margin: 0.7em;
padding: 1%;
width: 96%;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
border-spacing: 0px;
border:1px solid #000;
overflow:auto;
-webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.4);/*black */
-moz-box-shadow:0px 0px 1px rgba(0,0,0,0.4);/*black */
box-shadow:0px 0px 1px black;
background-color:rgba(255, 255, 255,0.3);
}
.borderBottom{
border-bottom:1px solid #000;
}
.selectBox{
width:120px;
padding:0%;
}
input.short{
width:98%;
padding:0%;
margin:0%;
}
.setButton{
font-size:1.2em;
}
.setButton:hover{
color:green;
}
select.editTable{
height: 1.85em;
margin:0px;
}
a.dropdownLink{
color:#000;
}
a.dropdownLink:hover{
color:rgba(76, 158, 217,1);
}
.popupMenu{
border:1px solid #000;
background-color:rgba(255,255,255,0.9);
padding:5px;
border-radius:5px;
}
table.flat{
padding:0;
margin:0;
border-spacing:0px;
vertical-align:top;
width:100%;
}
#topUp{
text-align:center;
cursor:pointer;
border:1px solid black;
border-radius:5px;
position:fixed;
top:85%;
left:92%;
background-color:rgba(43, 69, 105,0.3);
color:black;
height:1.5em;
width:1.5em;
font-size:1.5em;
-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.4);/*black */
-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.4);/*black */
box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}
td.forms{
padding-left:4px;
padding-right:4px;
text-align:left;
vertical-align:middle;
}
input.field{
width:50px;
}
.length{
width:5%;
} 
input.comment{
margin:0px;
width:200px;
}
.noselect {
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
.moveHereContent{
  background-color:rgba(214, 210, 208,0.7);
  -webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.4);/*black */
  -moz-box-shadow:0px 0px 1px rgba(0,0,0,0.4);/*black */
  box-shadow:0px 0px 1px black;
}
.moveButton{
  background-color:rgba(255,255,255,0.1);
  cursor:pointer;
}
.moveButton:hover{
  background-color:rgba(134, 171, 218,0.2);
  cursor:pointer;
}
.marginTop{
  margin-top:1.65em;
}
.reg{
  margin-left:auto; 
  margin-right:auto;
}
.htmlButtonChecked{
font-family:Batch;
cursor:pointer;
}
#htmlButton{
display:none;
}
.htmlButtonChecked:before{
content: "\ea52";
font-size: 1em;
vertical-align: middle;
}
.htmlButton{
font-family:Batch;
cursor:pointer;
}
.htmlButton:before{
content: "\ea53";
font-size: 1em;
vertical-align: middle;
}
.editorButtons{
  vertical-align: middle;
  font-size: 1em;
}
a.label{
font-size: 0.8em;
margin-left:0.2em;
}
#menuButton:hover{
color:#d0cdc4;
}
#catlist{
position:absolute;height:100px;
width:80px;
overflow:hidden;
border:1px solid #000;
}
#catSelect{
height:100px;
width:100px;
/*background-color:rgba(148, 162, 149,0.9);*/
}
.catLinkPressed{
color:#d0cdc4;/*green*/
}
.inputFile{
position: absolute;
left: 5px;
visibility:hidden;
}
.divInpuFile{
cursor:pointer;
vertical-align: middle;
font-size: 1em;
margin-left:0.2em;
}
.divInpuFile:before{
font-family:Batch;
content: "\e930";
font-size: 1em;
vertical-align: middle;
}
table.blog{
background-color:#e6dede;
color:#000000;
}
span.Variable_Array{color:green;}
span.Variable_Hash{color:green;}
span.Variable_Typeglob{color:green;}
span.Subroutine{color:black; font-weight:bold;}
span.Quote{color:blue;}
span.String{color:red;}
span.Comment_Normal{color:gray;}
span.Comment_POD{color:gray;}
span.Bareword{color:green;}
span.Package{color:green;}
span.Number{color:#f0f;}
span.Operator{color:#000;}
span.Symbol{color:#000;}
span.Character{color:#800;}
span.Directive{color:#399;font-style:italic;}
span.Label{color:#939;font-style:italic;}
span.Line{color:blue;}
a.Builtin_Operator{color:blue;}
a.Builtin_Operator:hover{color:red;}
a.Builtin_Function{color:blue;}
a.Builtin_Function:hover{color:red;}
a.Keyword{font-weight:bold;}
a.Keyword:hover{color:red;}
span.Variable_{color:#800;}
.c  { color: gray;} /* comment */
.cm { color: #000000;} /* comma */
.co { color: #000000;} /* colon */
.h  { color: #000000; font-weight:bold;} /* here-doc-target */
.hh { color: #000000; font-style:italic;} /* here-doc-text */
.i  { color: blue;} /* identifier */
.j  { font-weight:bold;} /* label */
.k  {  font-weight:bold;} /* keyword */
.m  { color: blue; font-weight:bold;} /* subroutine */
.n  { color: #B452CD;} /* numeric */
.p  { color: #000000;} /* paren */
.pd { color: gray; font-style:italic;} /* pod-text */
.pu { color: #000000;} /* punctuation */
.q  { color: green;} /* quote */
.s  { color: #000000;} /* structure */
.sc { color: #000000;} /* semicolon */
.v  { color: #070C76;} /* v-string */
.w  { color: #070C76;} /* bareword */
td.header{
text-align:left;
vertical-align:top;
/* background-color:#ffffff; */
color:#000000;
font-size:18px;
/*  border-bottom-style:solid; */
/*  border-top-style:solid; */
}
td.short{
text-align:center;
vertical-align:top;
font-weight:bold;
border-right:gray;
border-right-style: dashed;
border-right-width:1px;
 border-bottom: gray;
 border-bottom-style:dashed;
border-bottom-width:1px;
}
td.middle{
text-align:center;
vertical-align:top;
font-weight:bold;
border-right:gray;
border-right-style: dashed;
border-right-width:1px;
border-bottom: gray;
border-bottom-style:dashed;
border-bottom-width:1px;
}
td.long{
text-align:left;
vertical-align:top;
border-bottom: gray;
border-bottom-style:dashed;
border-bottom-width:1px;
}
pre { color: #000000;
      font-family: courier;
}
#load{
z-index:3;
position: absolute;
left: 45%;
height: 10%;
top: 45%;
}  