<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<slack-get>
	<common>
		<conf-version><![CDATA[3.1]]></conf-version>
		<default-browser><![CDATA[konqueror]]></default-browser>
		<fast-connection-limit><![CDATA[1]]></fast-connection-limit>
		<file-encoding><![CDATA[iso-8859-1]]></file-encoding>
		<gpg-binary><![CDATA[/usr/bin/gpg]]></gpg-binary>
		<install-directory><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/]]></install-directory>
		<kde>
			<enable-kde-notification><![CDATA[yes]]></enable-kde-notification>
			<kde-notification-level><![CDATA[2]]></kde-notification-level>
			<use-kde-dialog><![CDATA[yes]]></use-kde-dialog>
			<kde-dir><![CDATA[/opt/kde/]]></kde-dir>
		</kde>
		<log>
			<logger id="file" state="enable">
				<class><![CDATA[Log::Dispatch::File]]></class>
				<min_level><![CDATA[debug]]></min_level>
				<filename><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/slack-get.log-ng]]></filename>
				<mode><![CDATA[append]]></mode>
				<format><![CDATA[[%d] [%p] %m %n]]></format>
			</logger>
			<logger id="screen" state="enable">
				<class><![CDATA[Log::Dispatch::Screen]]></class>
				<min_level><![CDATA[info]]></min_level>
				<stderr><![CDATA[1]]></stderr>
				<format><![CDATA[[%d] [%p] %m%n]]></format>
			</logger>
			<logger id="syslog" state="enable">
				<class><![CDATA[Log::Dispatch::Syslog]]></class>
				<min_level><![CDATA[warning]]></min_level>
			</logger>
		</log>
		<master-daemon><![CDATA[127.0.0.1:42000]]></master-daemon>
		<media-list-file><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/conf/medias.xml]]></media-list-file>
		<network-parameters>
			<ftp>
				<login><![CDATA[anonymous]]></login>
				<password><![CDATA[slack-get@infinityperl.org]]></password>
			</ftp>
		</network-parameters>
		<packages-history-dir><![CDATA[/var/log/packages]]></packages-history-dir>
		<pkgtools>
			<installpkg-binary><![CDATA[/sbin/upgradepkg --install-new]]></installpkg-binary>
			<removepkg-binary><![CDATA[/sbin/removepkg]]></removepkg-binary>
			<upgradepkg-binary><![CDATA[/sbin/upgradepkg]]></upgradepkg-binary>
		</pkgtools>
		<slackware-version><![CDATA[current]]></slackware-version>
		<update-directory><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/test/update]]></update-directory>
		<verify-checksum><![CDATA[yes]]></verify-checksum>
		<verify-gpg-signature><![CDATA[yes]]></verify-gpg-signature>
	</common>
	<daemon>
		<connection-policy>
			<all>
				<can-build-installed-list><![CDATA[no]]></can-build-installed-list>
				<can-build-packages-list><![CDATA[no]]></can-build-packages-list>
				<can-connect><![CDATA[no]]></can-connect>
				<can-install-packages><![CDATA[no]]></can-install-packages>
				<can-remove-packages><![CDATA[no]]></can-remove-packages>
				<can-require-installed-list><![CDATA[no]]></can-require-installed-list>
				<can-require-packages-list><![CDATA[no]]></can-require-packages-list>
				<can-require-servers-list><![CDATA[no]]></can-require-servers-list>
				<can-search><![CDATA[no]]></can-search>
				<can-upgrade-packages><![CDATA[no]]></can-upgrade-packages>
				<retrieve-local-files><![CDATA[no]]></retrieve-local-files>
				<store-local-files><![CDATA[no]]></store-local-files>
			</all>
			<host id="127.0.0.1">
				<can-build-installed-list><![CDATA[yes]]></can-build-installed-list>
				<can-build-packages-list><![CDATA[yes]]></can-build-packages-list>
				<can-connect><![CDATA[yes]]></can-connect>
				<can-install-packages><![CDATA[yes]]></can-install-packages>
				<can-remove-packages><![CDATA[yes]]></can-remove-packages>
				<can-require-installed-list><![CDATA[yes]]></can-require-installed-list>
				<can-require-packages-list><![CDATA[yes]]></can-require-packages-list>
				<can-require-servers-list><![CDATA[yes]]></can-require-servers-list>
				<can-search><![CDATA[yes]]></can-search>
				<can-upgrade-packages><![CDATA[yes]]></can-upgrade-packages>
				<retrieve-local-files><![CDATA[yes]]></retrieve-local-files>
				<store-local-files><![CDATA[yes]]></store-local-files>
			</host>
			<host id="192.168.0.11">
				<can-build-installed-list><![CDATA[yes]]></can-build-installed-list>
				<can-build-packages-list><![CDATA[yes]]></can-build-packages-list>
				<can-connect><![CDATA[yes]]></can-connect>
				<can-install-packages><![CDATA[yes]]></can-install-packages>
				<can-remove-packages><![CDATA[yes]]></can-remove-packages>
				<can-require-installed-list><![CDATA[yes]]></can-require-installed-list>
				<can-require-packages-list><![CDATA[yes]]></can-require-packages-list>
				<can-require-servers-list><![CDATA[yes]]></can-require-servers-list>
				<can-search><![CDATA[yes]]></can-search>
				<can-upgrade-packages><![CDATA[yes]]></can-upgrade-packages>
				<retrieve-local-files><![CDATA[yes]]></retrieve-local-files>
				<store-local-files><![CDATA[yes]]></store-local-files>
			</host>
			<host id="192.168.0.20">
				<can-build-installed-list><![CDATA[no]]></can-build-installed-list>
				<can-build-packages-list><![CDATA[no]]></can-build-packages-list>
				<can-connect><![CDATA[no]]></can-connect>
				<can-install-packages><![CDATA[no]]></can-install-packages>
				<can-remove-packages><![CDATA[no]]></can-remove-packages>
				<can-require-installed-list><![CDATA[no]]></can-require-installed-list>
				<can-require-packages-list><![CDATA[yes]]></can-require-packages-list>
				<can-require-servers-list><![CDATA[yes]]></can-require-servers-list>
				<can-search><![CDATA[yes]]></can-search>
				<can-upgrade-packages><![CDATA[no]]></can-upgrade-packages>
				<retrieve-local-files><![CDATA[no]]></retrieve-local-files>
				<store-local-files><![CDATA[no]]></store-local-files>
			</host>
		</connection-policy>
		<max-controller-conn-allowed>1</max-controller-conn-allowed>
		<max-slave-conn-allowed>10</max-slave-conn-allowed>
		<installed-packages-list>
			<build-each><![CDATA[30]]></build-each>
			<build-on-update><![CDATA[yes]]></build-on-update>
		</installed-packages-list>
		<listenning-address><![CDATA[127.0.0.1]]></listenning-address>
		<listenning-port><![CDATA[42000]]></listenning-port>
		<mode><![CDATA[master]]></mode>
		<pid-file><![CDATA[/home/1024/progz/slack-get/V1.0/slack-get/test/slack-getd.pid]]></pid-file>
		<retry-download-package><![CDATA[3]]></retry-download-package>
		<start-on-boot><![CDATA[yes]]></start-on-boot>
		<update-list>
			<build-each><![CDATA[30]]></build-each>
			<build-on-start><![CDATA[yes]]></build-on-start>
		</update-list>
		<reboot-timeout><![CDATA[60]]></reboot-timeout>
	</daemon>
	<gui>
		<always-show-error-dialog><![CDATA[no]]></always-show-error-dialog>
		<always-show-success-dialog><![CDATA[no]]></always-show-success-dialog>
		<connect-to><![CDATA[127.0.0.1:42000]]></connect-to>
		<language><![CDATA[french]]></language>
	</gui>
	<plugins>
		<list>
			<plug-in>
				<id><![CDATA[LocalEditorWidget]]></id>
				<activate><![CDATA[yes]]></activate>
			</plug-in>
			<plug-in>
				<id><![CDATA[SGUpdater]]></id>
				<activate><![CDATA[yes]]></activate>
				<provider><![CDATA[http://ftp.infinityperl.org/slack-get/knewstuff/slack-get-provider.xml]]></provider>
			</plug-in>
		</list>
		<settings>
			<auto-load-new-plugins><![CDATA[no]]></auto-load-new-plugins>
		</settings>
	</plugins>
</slack-get>
