<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Sample Miril Website" />
	<title>Sample Miril Website - <TMPL_VAR NAME="title"></title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="atom.xml" rel="alternate" type="application/atom+xml" />
</head>

<body>

<div id="container">

<div id="header"><h1>Sample Miril Website</h1></div>

<div id="sub_header">... your slogan or tag line here</div>

<div id="main_content_top"></div>

<div id="main_content">

<div class="content">
