<form method="POST" action="[% s.ubase %]/[% s.object %]/change_password">
<div class="floatleft">
<table>
	<caption>Change Your Password</caption>
	<tbody>
		<tr>
			<th>New Password</th>
			<td><input name="passwd" value="" type="password"></td>
		</tr>
		<tr>
			<th>Confirm New Password</th>
			<td><input name="confirm_passwd" value="" type="password"></td>
		</tr>
	</tbody>
</table>
<input type="submit" value="Change">
</div>
</form>
