    buff                               = 5                   
    dt                                 = .004                
    dx                                 =                    
    dz                                 =                
    mx                                 =                     
    mz                                 =                     
    nsx                                =                     
    nt                                 =                     
    nx                                 =                     
    nz                                 =                     
    tap_len                            = 5                   
    vfile1                             =             
    vfile2                             =             
    x_0                                = 0.0                 
