angmax                             =                     
crfile                             =                     
datain                             =                     
dataout                            =                     
dt                                 =                     
dxgd                               =                     
dxm                                =                     
dxo                                =                     
dxoffset                           =                     
dygd                               =                     
dyo                                =                     
dyoffset                           =                     
dzo                                =                     
dzs                                =                     
fmax                               =                     
ft                                 =                     
fxgd                               =                     
fxo                                =                     
fxoffset                           =                     
fygd                               =                     
fyo                                =                     
fyoffset                           =                     
fzo                                =                     
fzs                                =                     
ixsf                               =                     
ixsr                               =                     
iysf                               =                     
iysr                               =                     
jpfile                             =                     
ls                                 =                     
multit                             =                     
ntrmax                             =                     
nxgd                               =                     
nxo                                =                     
nxoffset                           =                     
nxs                                =                     
nxt                                =                     
nygd                               =                     
nyo                                =                     
nyoffset                           =                     
nys                                =                     
nyt                                =                     
nzo                                =                     
nzs                                =                     
pptr                               =                     
ttfile                             =                     
xaper                              =                     
xoffsetmax                         =                     
yaper                              =                     
yoffsetmax                         =                     