    ang                                =                     
    angmax                             =                     
    angtaper                           =                     
    c                                  =                     
    check_cdp                          =                    
    ct                                 =                     
    data                               =                     
    dcdp                               =                    
    deltacdp                           =                     
    df                                 =                   
    dt                                 =                     
    dw                                 =                  
    dx                                 =                     
    fc                                 =                     
    fcdpdata                           =                     
    filter                             =                     
    firstcdp                           =                    
    firstt                             =                     
    fn                                 =                    
    fnyq                               =                    
    fphi                               =                   
    fplo                               =                     
    fwidth                             =                     
    geoms                              =                     
    h                                  =                     
    hfp                                =                     
    hoffset                            =                    
    i                                  =                     
    ifc                                =                     
    iip                                =                   
    imp                                =                     
    ip                                 =                     
    it                                 =                     
    itb                                =                     
    ite                                =                     
    ix                                 =                     
    j                                  =                     
    k                                  =                     
    lastcdp                            =                     
    lowpass                            =                     
    lx                                 =                     
    mig                                =                     
    mp                                 =                     
    nc                                 =                  
    ncdp                               =                   
    nf                                 =                   
    nfc                                =                     
    nfft                               =                     
    nt                                 =                    
    ntr                                =                    
    obliq                              =                     
    oldcdp                             =                     
    olddeltacdp                        =                     
    onfft                              =                
    p                                  =                   
    perc                               =                    
    phasefac                           =                    
    pmin                               =                   
    ref                                =                     
    rtin                               =                     
    rtout                              =                     
    t                                  =                     
    t0                                 =                     
    tmax                               =                     
    tr                                 =                     
    tracefp                            =                     
    ts                                 =                     
    ux                                 =                     
    v                                  =               
    vel                                =                     
    verbose                            =                     
    vfile                              =                   
    vfp                                =                     
    w                                  =                     
    whi                                =                  
    wlo                                =                     
    x                                  =                     
    xmax                               =                     
