    cdpmax                             =              
    cdpmin                             =              
    dxcdp                              =             
    fmax                               =              
    lbtaper                            = 0                   
    lstaper                            = 0                   
    noffmix                            = 1                   
    smig                               = 1.0                 
    tmig                               = 0.0                 
    tmpdir                             = './'                  
    verbose                            = 0                   
    vmig                               = 1500.0              
    vscale                             = 1.0                 
