#
# @summary Class to install [% package %].
#
# @param ensure
#   Ensure that the package is either <code>present</code> or
#   <code>absent</code>.
# @param package
#   Name of the package.
#
class [% name %]::install (
    Enum[present, absent] $ensure  = 'present',
    Variant[String, Boolean] $package = $[% name %]::params::package,
) inherits ::[% name %]::params {
    if $package {
        package {
            $package:
                ensure => $ensure,
            ;
        }
    }
}
