Anticipating what could be the perfect meteor storm

<tmpl_var month> 17, <tmpl_var year> Posted: 9:32 PM EST (0232 GMT)
[Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower. ]
Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower.  
[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]
[Printer-friendly version of this article] [Printer-friendly version of this article]
[Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]
[View a list of the most popular articles on our site] [View a list of the most popular articles on our site]

By Richard Stenger
CNN

(CNN) -- One of the best meteor showers in decades could barrage the planet before dawn Sunday, r<tmpl_var ai>ning down perhaps thousands of streaking points of light each hour during its peak.

Professional and amateur astronomers alike were preparing for the Leonid meteor shower, which takes place every <tmpl_var month> when the Earth passes through the remnants of Comet Tempel-Tuttle.

The prime observation times in North America will likely take place in the hours before dawn. In New York, for example, that means 4 a.m. to 6 a.m. EST.
RESOURCES
For students/teachers: Learn more about the <tmpl_var year> Leonids 
 

Tiny meteor fragments, often no bigger than sand gr<tmpl_var ai>ns, heat up as they speed and bounce across the upper atmosphere, producing intense flashes of light, sometimes brighter than Venus and in rare instances the moon.

The annual light show varies sporadically from sparse to heavy concentrations of celestial precipitation. This year, however, should present an extraordinary display because the Earth, which usually dodges the m<tmpl_var ai>n Leonid debris clouds, will pass through the heart of one of them, astronomers s<tmpl_var ai>d.

The storm could rival a memorable predecessor more than 30 years ago. One Colorado astronomer is making sure to watch.

"The last time the Lion (Leonids) roared back in 1966, I was a budding young astronomer. I was lying outside in my sleeping bag w<tmpl_var ai>ting in the wee hours of the morning for the meteors to start falling, but the action was slow. I do<tmpl_var z>ed off," recalled Jimmy Westlake, an astronomer in Colorado.

An hour or so later, "all hell broke lose as the most intense meteor storm on record exploded over the eastern United States. Over 500,000 falling stars filled the sky in an hour's time." Unfortunately, Westlake had rem<tmpl_var ai>ned asleep.

"I've been w<tmpl_var ai>ting for 35 years to get another chance at this one! Where ever I have to go, I'll be in the clear with my camera," he s<tmpl_var ai>d.

Observers in North America, Haw<tmpl_var ai>i, Australia and Asian nations on the Pacific Rim should have the best views of the <tmpl_var year> Leonids, which will take place overnight <tmpl_var month> 17 and 18.

Nevertheless, around midnight local time could prove a rewarding time to look up. The meteor count will probably be low, but that is the time viewers will most likely see meteors that fly over the hori<tmpl_var z>on right along the edge of the atmosphere. The so-called Earthgra<tmpl_var z>ers often move slowly and generate long, colorful t<tmpl_var ai>ls.

Astronomers predict meteor rates could peak as high as 8,000 an hour in some places, but caution that such forecasts are sketchy at best.

"The Leonids might surprise us," NASA astronomer Bill Cooke s<tmpl_var ai>d. Predicted outbursts could f<tmpl_var ai>l to materiali<tmpl_var z>e and the showers could become intense when scientists least expect.

Regardless, prime time will be between midnight Saturday and sunrise on Sunday, <tmpl_var month> 18. Astronomers suggest that meteor hunters watch the sky from in a darkened site as far from urban light pollution as possible.

The Leonids are so named because they seem to originate from the constellation Leo.

[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]    [Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]    [Printer-friendly version of this article] [Printer-friendly version of this article]    [View a list of the most popular articles on our site] [View a list of the most popular articles on our site]   

  3-D <Tmpl_Var Ai>rcraft
<a href="http://ads.web.aol.com/link/93102633/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102633/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Who's On Larry King?
<a href="http://ads.web.aol.com/link/93102632/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102632/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Flight Risk
<a href="http://ads.web.aol.com/link/93102628/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102628/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Shop: Fall Favorites
<a href="http://ads.web.aol.com/link/93102629/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102629/aol" alt="Click Here" width="150" height="10" border="0"></a>
&lt;script&gt;&lt;/script&gt;
<a href="http://ads.web.aol.com/link/93103430/aol"><img src="http://ads.web.aol.com/image/93103430/aol" alt="Click Here" width="160" height="600" border="0"></a>


E-M<TMPL_VAR AI>L NEWSLETTERS
Don't miss out! Find out what's on CNN. Sign up for your Tonight on CNN e-m<tmpl_var ai>l.

RELATED SITES:
See related sites about Space
Note: Pages will open in a new browser window
External sites are not endorsed by CNN Interactive.

SPACE TOP STORIES:
? Leonid meteor storm could be best in decades
? Envisioning the first star in the universe
? Ocean cooling, warming linked to sun cycles
? Cost-cutter tapped to head NASA
? Mars Odyssey taps brakes, dodges dust

(More)

 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.


 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.

Anticipating what could be the perfect meteor storm

<tmpl_var month> 17, <tmpl_var year> Posted: 9:32 PM EST (0232 GMT)
[Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower. ]
Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower.  
[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]
[Printer-friendly version of this article] [Printer-friendly version of this article]
[Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]
[View a list of the most popular articles on our site] [View a list of the most popular articles on our site]

By Richard Stenger
CNN

(CNN) -- One of the best meteor showers in decades could barrage the planet before dawn Sunday, r<tmpl_var ai>ning down perhaps thousands of streaking points of light each hour during its peak.

Professional and amateur astronomers alike were preparing for the Leonid meteor shower, which takes place every <tmpl_var month> when the Earth passes through the remnants of Comet Tempel-Tuttle.

The prime observation times in North America will likely take place in the hours before dawn. In New York, for example, that means 4 a.m. to 6 a.m. EST.
RESOURCES
For students/teachers: Learn more about the <tmpl_var year> Leonids 
 

Tiny meteor fragments, often no bigger than sand gr<tmpl_var ai>ns, heat up as they speed and bounce across the upper atmosphere, producing intense flashes of light, sometimes brighter than Venus and in rare instances the moon.

The annual light show varies sporadically from sparse to heavy concentrations of celestial precipitation. This year, however, should present an extraordinary display because the Earth, which usually dodges the m<tmpl_var ai>n Leonid debris clouds, will pass through the heart of one of them, astronomers s<tmpl_var ai>d.

The storm could rival a memorable predecessor more than 30 years ago. One Colorado astronomer is making sure to watch.

"The last time the Lion (Leonids) roared back in 1966, I was a budding young astronomer. I was lying outside in my sleeping bag w<tmpl_var ai>ting in the wee hours of the morning for the meteors to start falling, but the action was slow. I do<tmpl_var z>ed off," recalled Jimmy Westlake, an astronomer in Colorado.

An hour or so later, "all hell broke lose as the most intense meteor storm on record exploded over the eastern United States. Over 500,000 falling stars filled the sky in an hour's time." Unfortunately, Westlake had rem<tmpl_var ai>ned asleep.

"I've been w<tmpl_var ai>ting for 35 years to get another chance at this one! Where ever I have to go, I'll be in the clear with my camera," he s<tmpl_var ai>d.

Observers in North America, Haw<tmpl_var ai>i, Australia and Asian nations on the Pacific Rim should have the best views of the <tmpl_var year> Leonids, which will take place overnight <tmpl_var month> 17 and 18.

Nevertheless, around midnight local time could prove a rewarding time to look up. The meteor count will probably be low, but that is the time viewers will most likely see meteors that fly over the hori<tmpl_var z>on right along the edge of the atmosphere. The so-called Earthgra<tmpl_var z>ers often move slowly and generate long, colorful t<tmpl_var ai>ls.

Astronomers predict meteor rates could peak as high as 8,000 an hour in some places, but caution that such forecasts are sketchy at best.

"The Leonids might surprise us," NASA astronomer Bill Cooke s<tmpl_var ai>d. Predicted outbursts could f<tmpl_var ai>l to materiali<tmpl_var z>e and the showers could become intense when scientists least expect.

Regardless, prime time will be between midnight Saturday and sunrise on Sunday, <tmpl_var month> 18. Astronomers suggest that meteor hunters watch the sky from in a darkened site as far from urban light pollution as possible.

The Leonids are so named because they seem to originate from the constellation Leo.

[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]    [Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]    [Printer-friendly version of this article] [Printer-friendly version of this article]    [View a list of the most popular articles on our site] [View a list of the most popular articles on our site]   

  3-D <Tmpl_Var Ai>rcraft
<a href="http://ads.web.aol.com/link/93102633/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102633/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Who's On Larry King?
<a href="http://ads.web.aol.com/link/93102632/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102632/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Flight Risk
<a href="http://ads.web.aol.com/link/93102628/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102628/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Shop: Fall Favorites
<a href="http://ads.web.aol.com/link/93102629/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102629/aol" alt="Click Here" width="150" height="10" border="0"></a>
&lt;script&gt;&lt;/script&gt;
<a href="http://ads.web.aol.com/link/93103430/aol"><img src="http://ads.web.aol.com/image/93103430/aol" alt="Click Here" width="160" height="600" border="0"></a>


E-M<TMPL_VAR AI>L NEWSLETTERS
Don't miss out! Find out what's on CNN. Sign up for your Tonight on CNN e-m<tmpl_var ai>l.

RELATED SITES:
See related sites about Space
Note: Pages will open in a new browser window
External sites are not endorsed by CNN Interactive.

SPACE TOP STORIES:
? Leonid meteor storm could be best in decades
? Envisioning the first star in the universe
? Ocean cooling, warming linked to sun cycles
? Cost-cutter tapped to head NASA
? Mars Odyssey taps brakes, dodges dust

(More)

 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.


 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.

Anticipating what could be the perfect meteor storm

<tmpl_var month> 17, <tmpl_var year> Posted: 9:32 PM EST (0232 GMT)
[Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower. ]
Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower.  
[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]
[Printer-friendly version of this article] [Printer-friendly version of this article]
[Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]
[View a list of the most popular articles on our site] [View a list of the most popular articles on our site]

By Richard Stenger
CNN

(CNN) -- One of the best meteor showers in decades could barrage the planet before dawn Sunday, r<tmpl_var ai>ning down perhaps thousands of streaking points of light each hour during its peak.

Professional and amateur astronomers alike were preparing for the Leonid meteor shower, which takes place every <tmpl_var month> when the Earth passes through the remnants of Comet Tempel-Tuttle.

The prime observation times in North America will likely take place in the hours before dawn. In New York, for example, that means 4 a.m. to 6 a.m. EST.
RESOURCES
For students/teachers: Learn more about the <tmpl_var year> Leonids 
 

Tiny meteor fragments, often no bigger than sand gr<tmpl_var ai>ns, heat up as they speed and bounce across the upper atmosphere, producing intense flashes of light, sometimes brighter than Venus and in rare instances the moon.

The annual light show varies sporadically from sparse to heavy concentrations of celestial precipitation. This year, however, should present an extraordinary display because the Earth, which usually dodges the m<tmpl_var ai>n Leonid debris clouds, will pass through the heart of one of them, astronomers s<tmpl_var ai>d.

The storm could rival a memorable predecessor more than 30 years ago. One Colorado astronomer is making sure to watch.

"The last time the Lion (Leonids) roared back in 1966, I was a budding young astronomer. I was lying outside in my sleeping bag w<tmpl_var ai>ting in the wee hours of the morning for the meteors to start falling, but the action was slow. I do<tmpl_var z>ed off," recalled Jimmy Westlake, an astronomer in Colorado.

An hour or so later, "all hell broke lose as the most intense meteor storm on record exploded over the eastern United States. Over 500,000 falling stars filled the sky in an hour's time." Unfortunately, Westlake had rem<tmpl_var ai>ned asleep.

"I've been w<tmpl_var ai>ting for 35 years to get another chance at this one! Where ever I have to go, I'll be in the clear with my camera," he s<tmpl_var ai>d.

Observers in North America, Haw<tmpl_var ai>i, Australia and Asian nations on the Pacific Rim should have the best views of the <tmpl_var year> Leonids, which will take place overnight <tmpl_var month> 17 and 18.

Nevertheless, around midnight local time could prove a rewarding time to look up. The meteor count will probably be low, but that is the time viewers will most likely see meteors that fly over the hori<tmpl_var z>on right along the edge of the atmosphere. The so-called Earthgra<tmpl_var z>ers often move slowly and generate long, colorful t<tmpl_var ai>ls.

Astronomers predict meteor rates could peak as high as 8,000 an hour in some places, but caution that such forecasts are sketchy at best.

"The Leonids might surprise us," NASA astronomer Bill Cooke s<tmpl_var ai>d. Predicted outbursts could f<tmpl_var ai>l to materiali<tmpl_var z>e and the showers could become intense when scientists least expect.

Regardless, prime time will be between midnight Saturday and sunrise on Sunday, <tmpl_var month> 18. Astronomers suggest that meteor hunters watch the sky from in a darkened site as far from urban light pollution as possible.

The Leonids are so named because they seem to originate from the constellation Leo.

[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]    [Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]    [Printer-friendly version of this article] [Printer-friendly version of this article]    [View a list of the most popular articles on our site] [View a list of the most popular articles on our site]   

  3-D <Tmpl_Var Ai>rcraft
<a href="http://ads.web.aol.com/link/93102633/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102633/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Who's On Larry King?
<a href="http://ads.web.aol.com/link/93102632/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102632/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Flight Risk
<a href="http://ads.web.aol.com/link/93102628/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102628/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Shop: Fall Favorites
<a href="http://ads.web.aol.com/link/93102629/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102629/aol" alt="Click Here" width="150" height="10" border="0"></a>
&lt;script&gt;&lt;/script&gt;
<a href="http://ads.web.aol.com/link/93103430/aol"><img src="http://ads.web.aol.com/image/93103430/aol" alt="Click Here" width="160" height="600" border="0"></a>


E-M<TMPL_VAR AI>L NEWSLETTERS
Don't miss out! Find out what's on CNN. Sign up for your Tonight on CNN e-m<tmpl_var ai>l.

RELATED SITES:
See related sites about Space
Note: Pages will open in a new browser window
External sites are not endorsed by CNN Interactive.

SPACE TOP STORIES:
? Leonid meteor storm could be best in decades
? Envisioning the first star in the universe
? Ocean cooling, warming linked to sun cycles
? Cost-cutter tapped to head NASA
? Mars Odyssey taps brakes, dodges dust

(More)

 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.


 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.

Anticipating what could be the perfect meteor storm

<tmpl_var month> 17, <tmpl_var year> Posted: 9:32 PM EST (0232 GMT)
[Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower. ]
Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower.  
[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]
[Printer-friendly version of this article] [Printer-friendly version of this article]
[Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]
[View a list of the most popular articles on our site] [View a list of the most popular articles on our site]

By Richard Stenger
CNN

(CNN) -- One of the best meteor showers in decades could barrage the planet before dawn Sunday, r<tmpl_var ai>ning down perhaps thousands of streaking points of light each hour during its peak.

Professional and amateur astronomers alike were preparing for the Leonid meteor shower, which takes place every <tmpl_var month> when the Earth passes through the remnants of Comet Tempel-Tuttle.

The prime observation times in North America will likely take place in the hours before dawn. In New York, for example, that means 4 a.m. to 6 a.m. EST.
RESOURCES
For students/teachers: Learn more about the <tmpl_var year> Leonids 
 

Tiny meteor fragments, often no bigger than sand gr<tmpl_var ai>ns, heat up as they speed and bounce across the upper atmosphere, producing intense flashes of light, sometimes brighter than Venus and in rare instances the moon.

The annual light show varies sporadically from sparse to heavy concentrations of celestial precipitation. This year, however, should present an extraordinary display because the Earth, which usually dodges the m<tmpl_var ai>n Leonid debris clouds, will pass through the heart of one of them, astronomers s<tmpl_var ai>d.

The storm could rival a memorable predecessor more than 30 years ago. One Colorado astronomer is making sure to watch.

"The last time the Lion (Leonids) roared back in 1966, I was a budding young astronomer. I was lying outside in my sleeping bag w<tmpl_var ai>ting in the wee hours of the morning for the meteors to start falling, but the action was slow. I do<tmpl_var z>ed off," recalled Jimmy Westlake, an astronomer in Colorado.

An hour or so later, "all hell broke lose as the most intense meteor storm on record exploded over the eastern United States. Over 500,000 falling stars filled the sky in an hour's time." Unfortunately, Westlake had rem<tmpl_var ai>ned asleep.

"I've been w<tmpl_var ai>ting for 35 years to get another chance at this one! Where ever I have to go, I'll be in the clear with my camera," he s<tmpl_var ai>d.

Observers in North America, Haw<tmpl_var ai>i, Australia and Asian nations on the Pacific Rim should have the best views of the <tmpl_var year> Leonids, which will take place overnight <tmpl_var month> 17 and 18.

Nevertheless, around midnight local time could prove a rewarding time to look up. The meteor count will probably be low, but that is the time viewers will most likely see meteors that fly over the hori<tmpl_var z>on right along the edge of the atmosphere. The so-called Earthgra<tmpl_var z>ers often move slowly and generate long, colorful t<tmpl_var ai>ls.

Astronomers predict meteor rates could peak as high as 8,000 an hour in some places, but caution that such forecasts are sketchy at best.

"The Leonids might surprise us," NASA astronomer Bill Cooke s<tmpl_var ai>d. Predicted outbursts could f<tmpl_var ai>l to materiali<tmpl_var z>e and the showers could become intense when scientists least expect.

Regardless, prime time will be between midnight Saturday and sunrise on Sunday, <tmpl_var month> 18. Astronomers suggest that meteor hunters watch the sky from in a darkened site as far from urban light pollution as possible.

The Leonids are so named because they seem to originate from the constellation Leo.

[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]    [Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]    [Printer-friendly version of this article] [Printer-friendly version of this article]    [View a list of the most popular articles on our site] [View a list of the most popular articles on our site]   

  3-D <Tmpl_Var Ai>rcraft
<a href="http://ads.web.aol.com/link/93102633/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102633/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Who's On Larry King?
<a href="http://ads.web.aol.com/link/93102632/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102632/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Flight Risk
<a href="http://ads.web.aol.com/link/93102628/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102628/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Shop: Fall Favorites
<a href="http://ads.web.aol.com/link/93102629/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102629/aol" alt="Click Here" width="150" height="10" border="0"></a>
&lt;script&gt;&lt;/script&gt;
<a href="http://ads.web.aol.com/link/93103430/aol"><img src="http://ads.web.aol.com/image/93103430/aol" alt="Click Here" width="160" height="600" border="0"></a>


E-M<TMPL_VAR AI>L NEWSLETTERS
Don't miss out! Find out what's on CNN. Sign up for your Tonight on CNN e-m<tmpl_var ai>l.

RELATED SITES:
See related sites about Space
Note: Pages will open in a new browser window
External sites are not endorsed by CNN Interactive.

SPACE TOP STORIES:
? Leonid meteor storm could be best in decades
? Envisioning the first star in the universe
? Ocean cooling, warming linked to sun cycles
? Cost-cutter tapped to head NASA
? Mars Odyssey taps brakes, dodges dust

(More)

 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.


 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.

Anticipating what could be the perfect meteor storm

<tmpl_var month> 17, <tmpl_var year> Posted: 9:32 PM EST (0232 GMT)
[Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower. ]
Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower.  
[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]
[Printer-friendly version of this article] [Printer-friendly version of this article]
[Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]
[View a list of the most popular articles on our site] [View a list of the most popular articles on our site]

By Richard Stenger
CNN

(CNN) -- One of the best meteor showers in decades could barrage the planet before dawn Sunday, r<tmpl_var ai>ning down perhaps thousands of streaking points of light each hour during its peak.

Professional and amateur astronomers alike were preparing for the Leonid meteor shower, which takes place every <tmpl_var month> when the Earth passes through the remnants of Comet Tempel-Tuttle.

The prime observation times in North America will likely take place in the hours before dawn. In New York, for example, that means 4 a.m. to 6 a.m. EST.
RESOURCES
For students/teachers: Learn more about the <tmpl_var year> Leonids 
 

Tiny meteor fragments, often no bigger than sand gr<tmpl_var ai>ns, heat up as they speed and bounce across the upper atmosphere, producing intense flashes of light, sometimes brighter than Venus and in rare instances the moon.

The annual light show varies sporadically from sparse to heavy concentrations of celestial precipitation. This year, however, should present an extraordinary display because the Earth, which usually dodges the m<tmpl_var ai>n Leonid debris clouds, will pass through the heart of one of them, astronomers s<tmpl_var ai>d.

The storm could rival a memorable predecessor more than 30 years ago. One Colorado astronomer is making sure to watch.

"The last time the Lion (Leonids) roared back in 1966, I was a budding young astronomer. I was lying outside in my sleeping bag w<tmpl_var ai>ting in the wee hours of the morning for the meteors to start falling, but the action was slow. I do<tmpl_var z>ed off," recalled Jimmy Westlake, an astronomer in Colorado.

An hour or so later, "all hell broke lose as the most intense meteor storm on record exploded over the eastern United States. Over 500,000 falling stars filled the sky in an hour's time." Unfortunately, Westlake had rem<tmpl_var ai>ned asleep.

"I've been w<tmpl_var ai>ting for 35 years to get another chance at this one! Where ever I have to go, I'll be in the clear with my camera," he s<tmpl_var ai>d.

Observers in North America, Haw<tmpl_var ai>i, Australia and Asian nations on the Pacific Rim should have the best views of the <tmpl_var year> Leonids, which will take place overnight <tmpl_var month> 17 and 18.

Nevertheless, around midnight local time could prove a rewarding time to look up. The meteor count will probably be low, but that is the time viewers will most likely see meteors that fly over the hori<tmpl_var z>on right along the edge of the atmosphere. The so-called Earthgra<tmpl_var z>ers often move slowly and generate long, colorful t<tmpl_var ai>ls.

Astronomers predict meteor rates could peak as high as 8,000 an hour in some places, but caution that such forecasts are sketchy at best.

"The Leonids might surprise us," NASA astronomer Bill Cooke s<tmpl_var ai>d. Predicted outbursts could f<tmpl_var ai>l to materiali<tmpl_var z>e and the showers could become intense when scientists least expect.

Regardless, prime time will be between midnight Saturday and sunrise on Sunday, <tmpl_var month> 18. Astronomers suggest that meteor hunters watch the sky from in a darkened site as far from urban light pollution as possible.

The Leonids are so named because they seem to originate from the constellation Leo.

[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]    [Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]    [Printer-friendly version of this article] [Printer-friendly version of this article]    [View a list of the most popular articles on our site] [View a list of the most popular articles on our site]   

  3-D <Tmpl_Var Ai>rcraft
<a href="http://ads.web.aol.com/link/93102633/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102633/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Who's On Larry King?
<a href="http://ads.web.aol.com/link/93102632/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102632/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Flight Risk
<a href="http://ads.web.aol.com/link/93102628/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102628/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Shop: Fall Favorites
<a href="http://ads.web.aol.com/link/93102629/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102629/aol" alt="Click Here" width="150" height="10" border="0"></a>
&lt;script&gt;&lt;/script&gt;
<a href="http://ads.web.aol.com/link/93103430/aol"><img src="http://ads.web.aol.com/image/93103430/aol" alt="Click Here" width="160" height="600" border="0"></a>


E-M<TMPL_VAR AI>L NEWSLETTERS
Don't miss out! Find out what's on CNN. Sign up for your Tonight on CNN e-m<tmpl_var ai>l.

RELATED SITES:
See related sites about Space
Note: Pages will open in a new browser window
External sites are not endorsed by CNN Interactive.

SPACE TOP STORIES:
? Leonid meteor storm could be best in decades
? Envisioning the first star in the universe
? Ocean cooling, warming linked to sun cycles
? Cost-cutter tapped to head NASA
? Mars Odyssey taps brakes, dodges dust

(More)

 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.


 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.

Anticipating what could be the perfect meteor storm

<tmpl_var month> 17, <tmpl_var year> Posted: 9:32 PM EST (0232 GMT)
[Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower. ]
Sky watchers hope the <tmpl_var year> Leonids will rival the big 1966 meteor shower.  
[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]
[Printer-friendly version of this article] [Printer-friendly version of this article]
[Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]
[View a list of the most popular articles on our site] [View a list of the most popular articles on our site]

By Richard Stenger
CNN

(CNN) -- One of the best meteor showers in decades could barrage the planet before dawn Sunday, r<tmpl_var ai>ning down perhaps thousands of streaking points of light each hour during its peak.

Professional and amateur astronomers alike were preparing for the Leonid meteor shower, which takes place every <tmpl_var month> when the Earth passes through the remnants of Comet Tempel-Tuttle.

The prime observation times in North America will likely take place in the hours before dawn. In New York, for example, that means 4 a.m. to 6 a.m. EST.
RESOURCES
For students/teachers: Learn more about the <tmpl_var year> Leonids 
 

Tiny meteor fragments, often no bigger than sand gr<tmpl_var ai>ns, heat up as they speed and bounce across the upper atmosphere, producing intense flashes of light, sometimes brighter than Venus and in rare instances the moon.

The annual light show varies sporadically from sparse to heavy concentrations of celestial precipitation. This year, however, should present an extraordinary display because the Earth, which usually dodges the m<tmpl_var ai>n Leonid debris clouds, will pass through the heart of one of them, astronomers s<tmpl_var ai>d.

The storm could rival a memorable predecessor more than 30 years ago. One Colorado astronomer is making sure to watch.

"The last time the Lion (Leonids) roared back in 1966, I was a budding young astronomer. I was lying outside in my sleeping bag w<tmpl_var ai>ting in the wee hours of the morning for the meteors to start falling, but the action was slow. I do<tmpl_var z>ed off," recalled Jimmy Westlake, an astronomer in Colorado.

An hour or so later, "all hell broke lose as the most intense meteor storm on record exploded over the eastern United States. Over 500,000 falling stars filled the sky in an hour's time." Unfortunately, Westlake had rem<tmpl_var ai>ned asleep.

"I've been w<tmpl_var ai>ting for 35 years to get another chance at this one! Where ever I have to go, I'll be in the clear with my camera," he s<tmpl_var ai>d.

Observers in North America, Haw<tmpl_var ai>i, Australia and Asian nations on the Pacific Rim should have the best views of the <tmpl_var year> Leonids, which will take place overnight <tmpl_var month> 17 and 18.

Nevertheless, around midnight local time could prove a rewarding time to look up. The meteor count will probably be low, but that is the time viewers will most likely see meteors that fly over the hori<tmpl_var z>on right along the edge of the atmosphere. The so-called Earthgra<tmpl_var z>ers often move slowly and generate long, colorful t<tmpl_var ai>ls.

Astronomers predict meteor rates could peak as high as 8,000 an hour in some places, but caution that such forecasts are sketchy at best.

"The Leonids might surprise us," NASA astronomer Bill Cooke s<tmpl_var ai>d. Predicted outbursts could f<tmpl_var ai>l to materiali<tmpl_var z>e and the showers could become intense when scientists least expect.

Regardless, prime time will be between midnight Saturday and sunrise on Sunday, <tmpl_var month> 18. Astronomers suggest that meteor hunters watch the sky from in a darkened site as far from urban light pollution as possible.

The Leonids are so named because they seem to originate from the constellation Leo.

[Save a link to this article and return to it at www.savethis.com] [Save a link to this article and return to it at www.savethis.com]    [Em<tmpl_var ai>l a link to this article] [Em<tmpl_var ai>l a link to this article]    [Printer-friendly version of this article] [Printer-friendly version of this article]    [View a list of the most popular articles on our site] [View a list of the most popular articles on our site]   

  3-D <Tmpl_Var Ai>rcraft
<a href="http://ads.web.aol.com/link/93102633/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102633/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Who's On Larry King?
<a href="http://ads.web.aol.com/link/93102632/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102632/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Flight Risk
<a href="http://ads.web.aol.com/link/93102628/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102628/aol" alt="Click Here" width="150" height="10" border="0"></a>
  Shop: Fall Favorites
<a href="http://ads.web.aol.com/link/93102629/aol" target="_blank"><img src="http://ads.web.aol.com/image/93102629/aol" alt="Click Here" width="150" height="10" border="0"></a>
&lt;script&gt;&lt;/script&gt;
<a href="http://ads.web.aol.com/link/93103430/aol"><img src="http://ads.web.aol.com/image/93103430/aol" alt="Click Here" width="160" height="600" border="0"></a>


E-M<TMPL_VAR AI>L NEWSLETTERS
Don't miss out! Find out what's on CNN. Sign up for your Tonight on CNN e-m<tmpl_var ai>.

RELATED SITES:
See related sites about Space
Note: Pages will open in a new browser window
External sites are not endorsed by CNN Interactive.

SPACE TOP STORIES:
? Leonid meteor storm could be best in decades
? Envisioning the first star in the universe
? Ocean cooling, warming linked to sun cycles
? Cost-cutter tapped to head NASA
? Mars Odyssey taps brakes, dodges dust

(More)

 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.


 Search   

Back to the top
© <tmpl_var year> Cable News Network LP, LLLP.
An AOL Time Warner Company. All Rights Reserved.
Terms under which this service is provided to you.
Read our privacy guidelines. Contact us.

