<tmpl_var global_var1>
Thanks, Jesse. I've heard a lot of good things about RT, and this is another great service that the Perl community can offer to developers.
<http://use.perl.org/images/pix.gif>

( Read More... | 9 comments | News )
<http://use.perl.org/images/pix.gif>


Perl Mongers in Northern New Jersey
posted by pudge on 2001.11.07 3:38
<http://use.perl.org/images/pix.gif>
[User Groups] ajm writes "On Sunday, November 11 the Morris County (New Jersey) Perl Mongers will be having a meeting. See our web site http://mc.pm.org/ for details. All are invited for food, drink and Perl talk."
<http://use.perl.org/images/pix.gif>

( Read More... )
<http://use.perl.org/images/pix.gif>


Ask use Perl: Where Should We Set the Way-Back Machine?
posted by pudge on 2001.11.06 16:10
<http://use.perl.org/images/pix.gif>
[Parrot] Dan writes "As anyone who's tried building Parrot lately has probably noticed, the current source is rather... version and platform sensitive. Needless to say, this just won't cut it for very long. (Like past about 10 minutes ago) The question, though, is how far back do we go? What's a reasonable spot in an OS or compiler's life to declare "past here we don't support"?

Now, obviously we're not going to go out of our way to build on a System 7 machine, but neither can we put the spot at today's latest'n'greatest. So--where should it be put?"
<http://use.perl.org/images/pix.gif>

( Read More... | 10 comments | Ask use Perl )
<http://use.perl.org/images/pix.gif>



<tmpl_loop outer_loop>
<tmpl_var global_var1>
   <tmpl_var outer_var1>
Birth of the POE Documentation Project
posted by pudge on 2001.11.15 9:15
<http://use.perl.org/images/pix.gif>
[Module News] sungo writes "Coming out of the closet today is the POE Documentation project. The aim of the POE Documentation project is to break the POE docs up into managable topical chunks that make sense to new users. I also aim to document the HELL out of POE. Tutorials and FAQs and the like are very welcome.

   <tmpl_var outer_var2>

I am opening this up for public comment and contribution. CVS access will remain a closely guarded right, ala p5p.

The mailing list for this project is poe-documentation@perl.org. Subscribe in the usual manner. All patches and discussion should be sent there.

   <tmpl_var outer_var3>

The current documentation can be seen in HTML form at http://eekeek.org/poed and the pod can be seen at http://eekeek.org/perl/poed.

POEd is not release ready yet but we are pushing for release RSN. Contributions will make this happen a lot faster.\

I look forward to your comments and contributions."
<http://use.perl.org/images/pix.gif>

( Read More... )

   <tmpl_loop inner_loop>

<tmpl_var global_var1>
<tmpl_var global_var2>
<tmpl_var global_var3>

Perl for Middle School Students
posted by pudge on 2001.11.13 11:47
<http://use.perl.org/images/pix.gif>
[Links] mjd sends in this link of a Perl introduction for middle school students, and notes that the author requests feedback.
<http://use.perl.org/images/pix.gif>

( Read More... | 2 comments )
<http://use.perl.org/images/pix.gif>


XML::SAX
posted by ziggy on 2001.11.13 11:09
<http://use.perl.org/images/pix.gif>
[Module News] Matts writes "XML::SAX redefines XML processing in Perl. It frees you from the chains of SAX parser details. It elevates your soul. It even freshens your breath. [think: DBI for XML]

     <tmpl_var inner_var1> 

OK, maybe not. But it does mean you can write XML applications for Perl without hard-coding a particular parser. So now you don't have to rely on the user having a particular SAX2 Parser installed. Instead you can just use XML::SAX as a factory class to provide you with a parser (and it'll fall back to XML::SAX::PurePerl).

At the moment the only supporting parser is XML::SAX::PurePerl (which is included), but Robin Berjon is about to release XML::SAX::Expat (which is based on XML::Parser at the moment), and soon I'll release an updated XML::LibXML with a SAX driver compatible with XML::SAX.

On all good CPAN mirrors near you now."

Thanks, Matt. This is the kind of support for XML that Perl programmers have been requesting for years now.
<http://use.perl.org/images/pix.gif>

     <tmpl_var inner_var2> 

( Read More... | 3 comments )
<http://use.perl.org/images/pix.gif>


AxKit.org is back
posted by ziggy on 2001.11.12 8:06
<http://use.perl.org/images/pix.gif>
[News] Matts writes "After a long and arduous 12 weeks or so, AxKit.org is now back online. DNS should have propogated worldwide now, though if you can't get there just yet you'll have to wait 24 hours.

For those who haven't followed my pain in my journal here, I've written up a detailed story of exactly what happened here.

Now once I get XML::SAX out of the way, I'll get back to fixing the few remaining bugs in AxKit 1.5, and get a new release out."
<http://use.perl.org/images/pix.gif>

     <tmpl_var inner_var3> 

   </tmpl_loop>
<tmpl_var global_var2>
</tmpl_loop>

<tmpl_var global_var1>
<tmpl_var global_var3>
<tmpl_var global_var2>

( Read More... )
<http://use.perl.org/images/pix.gif>


nms Now on SourceForge
posted by pudge on 2001.11.11 17:42
<http://use.perl.org/images/pix.gif>
[Internet] davorg writes "nms is a set of replacement scripts for the common CGI scripts found in Matt's Script Archive. I've been working on the scripts for a while now, but now I've created a project for them on SourceForge.

End-users should look at the project homepage and developers should look at the developers information page."

Thanks, Dave, for doing what many of us have wanted to have done but never did ourselves.
<http://use.perl.org/images/pix.gif>

( Read More... | 1 comment )
<http://use.perl.org/images/pix.gif>


Computer Telephony Programming in Perl
posted by pudge on 2001.11.11 11:25
<http://use.perl.org/images/pix.gif>
[Tools] David Rowe of VoiceTronix writes "A Computer Telephony (CT) card is a PCI card that interfaces your PC to telephone lines. Each port looks electrically like a regular telephone, but can be controlled via the PC. CT cards are used to build IVR systems, voicemail, Voice over IP systems etc.

After much experimentation with different languages and packages, it became obvious to me that Perl would be a great language for Computer Telephony programming. So I wrote the Telephony::CTPort module to encapsulate the functionality of a CT card port in Perl. For example, you can take the port off hook, onhook, record and play audio files, and collect DTMF digits using this module.

The result is an easy way to write CT applications. Perl has proven to be a very useful language for CT, I have found it possible to write applications in a fraction of the time it takes in C/C++.

For more information, see www.voicetronix.com.au, and check out the "ctserver" package that contains the Perl module and C++ server."
<http://use.perl.org/images/pix.gif>

( Read More... | 1 comment )
<http://use.perl.org/images/pix.gif>


MakeMaker Article on DeveloperWorks
posted by ziggy on 2001.11.09 8:58
<http://use.perl.org/images/pix.gif>
[News] sdague writes "The IBM DeveloperWorks site recently published an article of mine entitled Building Perl Projects with MakeMaker in which I give an overview of setting up a project using ExtUtils::MakeMaker and Test.pm. For those who saw my YAPC::NA talk on this, it is similar material, but with far more detail."
<http://use.perl.org/images/pix.gif>

( Read More... | 5 comments )
<http://use.perl.org/images/pix.gif>


News: Bug tracking for the CPAN
posted by pudge on 2001.11.07 13:59
<http://use.perl.org/images/pix.gif>
[CPAN] Jesse writes "I'm pleased to announce the public beta of rt.cpan.org, a public bug tracking system for every distribution in the CPAN. Anybody can use the public interface to look at current and past bugs in distributions and to report new bugs.

Over the next couple weeks, I'd like the community to put the system through its paces, so we can work out the kinks before we invite the masses to start reporting bugs.

Authors can sign in with their PAUSE credentials to work with and resolve bugs. If you don't have a PAUSE account or if RT's concept of your list of distributions looks wrong, send mail to jesse+cpan@bestpractical.com and I'll take care of it.

In addition to the web interface, anyone can report a bug in a distribution by sending mail to bug-distname@rt.cpan.org (ex: bug-dbix-searchbuilder@rt.cpan.org)."
