    <div id="intro">
        <p>CPAN Testers is only made possible with the support of our sponsors.<br />
        For more information on sponsoring, please visit the
        <a href="http://iheart.cpantesters.org">I <span class="alert">&hearts;</span> CPAN Testers</a> website.</p>
    </div>
<div class="sponsor">
    <img class="logo" src="[% sponsor.image %]" border=0>
    <div class="info">
        <div class="description">[% sponsor.body %]</div>
        <a class="homepage" href="[% sponsor.href %]">[% sponsor.url %]</a>
    </div>
</div>
