<HTML><BODY>
<H1> test string expr </H1>
ONE lt THREE=<tmpl_var expr="ONE lt THREE">
ONE gt THREE=<tmpl_var expr="ONE gt THREE">
ONE ne THREE=<tmpl_var expr="ONE ne THREE">
ONE eq THREE=<tmpl_var expr="ONE eq THREE">
'1' lt '3'=<tmpl_var expr="'1' lt '3'">
'1' gt '3'=<tmpl_var expr="'1' gt '3'">
'1' ne '3'=<tmpl_var expr="'1' ne '3'">
'1' eq '3'=<tmpl_var expr="'1' eq '3'">
'1' lt THREE=<tmpl_var expr="'1' lt THREE">
'1' gt THREE=<tmpl_var expr="'1' gt THREE">
'1' ne THREE=<tmpl_var expr="'1' ne THREE">
'1' eq THREE=<tmpl_var expr="'1' eq THREE">
ONE lt '3'=<tmpl_var expr="ONE lt '3'">
ONE gt '3'=<tmpl_var expr="ONE gt '3'">
ONE ne '3'=<tmpl_var expr="ONE ne '3'">
ONE eq '3'=<tmpl_var expr="ONE eq '3'">
'100' lt '3'=<tmpl_var expr="'100' lt '3'">
'100' lt '30'=<tmpl_var expr="'100' lt '30'">
'100' le '30'=<tmpl_var expr="'100' le '30'">
'100' gt '30'=<tmpl_var expr="'100' gt '30'">
'100' ge '30'=<tmpl_var expr="'100' ge '30'">
100 lt '30'=<tmpl_var expr="100 lt '30'">
100 lt 30=<tmpl_var expr="100 lt 30">
'aaa' le 'b'=<tmpl_var expr="'aaa' le 'b'">
'aaa' ge 'b'=<tmpl_var expr="'aaa' ge 'b'">
'bbb' le 'a'=<tmpl_var expr="'bbb' le 'a'">
'bbb' ge 'a'=<tmpl_var expr="'bbb' ge 'a'">
'bbb' cmp 'a'=<tmpl_var expr="'bbb' cmp 'a'">
'aaa' cmp 'b'=<tmpl_var expr="'aaa' cmp 'b'">
ONE=<tmpl_var expr="ONE">
foo=<tmpl_var expr="'foo'">
</body></html>
