<HTML>
<body>
<H1> test_loop2 </H1>

We test simple loop

<table>
<TMPL_LOOP NAME=HASHREF1> 
<tr>
<td><tmpl_var NAME="LOOPVAR1"></td>
<td><tmpl_var NAME="LOOPVAR2"></td>
<td><tmpl_var NAME="LOOPVAR3"></td>
<td><tmpl_var NAME="LOOPVAR0"></td>
</tr>
</tmpl_loop> 
</table>

</body>
</HTML>
