<HTML>
<body>
<H1> test_if3 </H1>

We test that hash/array ref should be true

<TMPL_IF NAME=HASHREF1> 
test passed
<tmpl_else>
test failed
</tmpl_if> 
<tmpl_loop HASHREF1></tmpl_loop>
</body>
</HTML>
