<HTML>
<body>
<H1> test_loop1 </H1>

We test empty and undefined loops

<TMPL_LOOP NAME=HASHREF0> 
test failed <tmpl_var NAME="VAR1"> test failed
</tmpl_loop> 

<TMPL_LOOP name="FAKENAME"> 
test failed <tmpl_var NAME="VAR1"> test failed
</tmpl_loop> 

</body>
</HTML>
