<HTML><BODY>
<H1> test_var2 </H1>
<tmpl_iF VAR4> <tmpl_var DEFAULT="test failed" naMe="VAR4"> 
<tmpl_else> <tmpl_var DEFAULT="test passed" naMe="VAR4"> 
</tmpl_if> 
<H1> END test_var2 </H1>
</body></html>
