---
project:
  description: @MODULE_NAME@
  author:
    name: @GIT_NAME@
    mailto: @GIT_EMAIL@
pm_module: @MODULE_NAME@
min-perl-version: @MIN_PERL_VERSION@
dependencies:
  requires: requires
  test_requires: test-requires
path:
  pm_module: lib
  exe_files: bin
  tests: t
extra-files:
  - ChangeLog
  - share:
      - README.md
