#!/usr/bin/env bash
#-*- mode: sh; -*-
# modulino invocation

MODULINO_WRAPPER=@ALIAS@
MODULINO_MODULE_NAME=@MODULE_NAME@

MODULINO_WRAPPER="$MODULINO_WRAPPER" \
MODULINO_MODULE_NAME="$MODULINO_MODULE_NAME" \
  perl -M"$MODULINO_MODULE_NAME" \
  -e 'exit $ENV{MODULINO_MODULE_NAME}->main' \
  -- "$@"
