default                            =                     
dphase_min                         =                     
f1                                 =                     
mode                               = ...                 
trend                              =                     
unwrap                             =                     
wint                               =                     
zeromean                           =                     