    a                                  =                   
    afile                              =                 
    angle                             = rad                 
    inv                                = 0                   
    key                                =             
    n                                  = 0                   
    verbose                            = 0                   
    x                                  =            
    xfile                              =                  