    key1                               =                
    key2                               =                   
    mode                               = rms
    output                             = ascii                
    outpar                             = /dev/tty             
    threshamp                          =                   
    threshtime                         =                   
    verbose                            = 1                   