    filter                             =              
    first                              =                   
    ftwin                              =             
    itmin                              =              
    ltwin                              =                                    
    nsout                              =             
    ntrc                               =                  
    ntwin                              =                  
    panel                              =                  
    sufile                             =               
    sweep                              =            
    tsweep                             =               
    vibroseis                          =                    