    filter                             =              
    first                              =                   
    ftwin                              =                                                           
    ntrc                               =                  
    ntwin                              =                  
    panel                              =                  
    sufile                             =                            
    vibroseis                          =                    