    filter                             =              
    first                              =                   
    ftwin                              =   
    ltwin                              =                                                        
    ntrc                               =                  
    ntwin                              =                  
    panel                              =                  
    sufile                             =                            
    vibroseis                          =                    