[% SET factory = handler.factory %]
[% SET session = handler.session %]
[% SET config = factory.config %]

[% SET url = handler.url %]
[% SET qs = handler.qs %]
[% SET path_info = handler.path_info %]

[% SET title = thing.title || list.title %]

[% PROCESS furniture/head.html %]

[% IF thing %]
	[% view = 'one' %]
[% ELSIF moniker %]
	[% view = 'many' %]
[% ELSE %]
	[% view = config.default_view %]
[% END %]

[% PROCESS "${view}.html" %]

[% PROCESS furniture/status.html %]

[% PROCESS furniture/foot.html %]
