    cdpmax                             =                     
    cdpmin                             =                     
    dxcdp                              =                     
    fmax                               =                     
    noffmix                            =                     
    sdmo                               =                     
    tdmo                               =                     
    tmpdir                             =                     
    vdmo                               =                     
    verbose                            =                     