    cdpmax                             =                     
    cdpmin                             =                     
    dxcdp                              =                     
    noffmix                            =                     
    offmax                             =                     
    tmpdir                             =                     
    tmute                              =                     
    verbose                            =                     
    vrms                               =                     