    cdpmax                             =                     
    cdpmin                             =                     
    dxcdp                              =                     
    factor                             =                     
    flip                               = .                   
    fmax                               =                     
    gamma                              =                     
    noffmix                            =                     
    ntable                             =                     
    sdmo                               =                     
    tdmo                               =                     
    vdmo                               =                     
    verbose                            =                     