    cdpmin                             =                     
    fmax                               =                     
    smute                              =                     
    speed                              =                     
    tdmo                               =                     
    vdmo                               =                     
    verbose                            =                     
    vfile                              =                     