    cdp                                =            
    invert                             =                     
    lmute                              =                     
    smute                              =                     
    sscale                             =                     
    tnmo                               =                 
    upward                             =                     
    vnmo                               =             
    voutfile                           =                     