    cdp                                =        
    invert                             = 0                   
    lmute                              = 25                  
    smute                              = 1.5                 
    sscale                             = 1                   
    tnmo                               = 0              
    upward                             = 0                   
    vnmo_ms                            =            
    voutfile                           =                   