    dr                                 =                     
    dzratio                            =                     
    fr                                 =                   
    nr                                 =                     
    nsmooth                            =               
    smute                              =                     
    verbose                            =                     