    dr1                                =                     
    dr2                                =                     
    dzratio                            =                     
    fr1                                =                   
    fr2                                =                   
    method                             =                     
    nr1                                =                     
    nr2                                =                     
    nsmooth                            =                  
    refl                               =                     
    verbose                            =                     