    dip                                =                     
    h                                  =  
    outpar                             =                   
    par                                =                     
    tv                                 =                     
    v                                  =    