    d                                  =                    
    dx                                 =                    
    e                                  =                   
    file                               =                     
    h                                  =                     
    ntpad                              =                     
    nxmax                              =                     
    nxpad                              =                     
    option                             =                    
    v                                  =                     