    a                                  =                   
    b                                  =                   
    d                                  =                     
    e                                  =                  
    maxangle                           =                     
    nangle                             =                     
    normalize                          =                     
    np                                 =                     
    option                             =           
    verbose                            =                     