	anis1                              = 0.0                 
    anis2                              = 0                  
    dtratio                            = 5                   
    dv                                 = 50.0                
    fv                                 = 1500.0                               
    nsmooth                            =          
    nv                                 = 50                  
    pwr                                = 1.0                 
    smute                              = 1.5                 
    verbose                            = 0                   
