
<pkit_comment>
  This comment did not show up in the templates or to the clients browser
  it is just to pass information from one developer to the other
</pkit_comment>

<pkit_comment>
  The commets can be 
      <pkit_comment>nessted</pkit_comment> too.
</pkit_comment>

<html>
<body>
<h1>index.tmpl: stra&#223;e   straße ööäöüäüöüü  </h1>
<br>
</body>
</html>
