<HTML><HEAD></HEAD>
<BODY>
If all is ok you can read this here --> <TMPL_IF EXPR="test eq 'ok'"><TMPL_VAR NAME="test">placeholder</TMPL_VAR></TMPL_IF>
This is a mathematical formula result: <TMPL_VAR EXPR="number * 5">placeholder</TMPL_VAR>
</BODY>
</HTML>
