@media (prefers-color-scheme: light) {
  body {
    color: #000000;
    background-color: #d0d0f0;
  }

  h1,
  h2,
  h3 {
    color: #000000;
    background-color: #f0f0ff;
  }

  .trdKey {
    color: #800000;
  }

  .trdValue {
    color: #0000ff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e4e4e4;
    background-color: #2f2f0f;
  }

  h1,
  h2,
  h3 {
    color: #e4e4e4;
    background-color: #3f3f50;
  }

  .trdKey {
    color: #569cd6;
  }

  .trdValue {
    color: #ce9178;
  }
}

#ToC {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 2px;
}

.hide {
  display: none;
}

.stickyTop {
  position: sticky;
  top: 0;
}

.z5 {
  z-index: 5;
}