constant string:      <!--#echo "poot"-->
existing variable:    <!--#echo $var1-->
nonexistent variable: <!--#echo $nonexistent-->
two arg echo:         <!--#echo "poot", "poot"-->
three arg echo:       <!--#echo $var1, "poot", "poot"-->
