<!--#poot--><!--#echo $poot--><!--#endpoot-->
<!--#toop--><!--#echo $poot--><!--#endtoop-->
<!--#foo-->This should not be printed!<!--#/foo-->
<!--#comment-->This should be printed!<!--#endcomment-->
<!--#toop $undef-->This should be printed!<!--#endtoop-->
