<!--#ifn $true-->true<!--#endifn-->
<!--#ifn $false-->false<!--#endifn-->
<!--#ifn $true $false-->implicit OR true<!--#endifn-->
<!--#ifn $false $true-->implicit OR true<!--#endifn-->
<!--#ifn $string-->string<!--#endifn-->
<!--#ifn $nonexistent-->nonexistent<!--#endifn-->
