collating constant strings:  <!--#echo "v" "a" "l" "u" "e" "0"-->
constant string with quotes: <!--#echo "\"value0\""-->
single variable:             <!--#echo $var1-->
two variables:               <!--#echo $var1 $var2-->
variables + constants:       <!--#echo "var1=" $var1 " var2=" $var2-->
three variables:             <!--#echo $var1 $var2 $var3-->
2 nonexistent + 1 var:       <!--#echo $nxv1 $nxv2 $var1-->
