# --------------------------------------------------------------------------------------
#       [% zone %]
# --------------------------------------------------------------------------------------
.[% zone %]::ns.[% zone %]
'[% zone %]:Zone\040File\040To\040Serve
#
[% FOREACH row IN rows.pairs -%]
=[% row.value _ '.' _ zone -%]:[% row.key %]
[% END -%]
