#-------=-------=---------------=---------------------------------------------
# CGI
#       x.objectname
#
# DESCRIPTION
#       description
#
# INPUT
#       $par1                   description
#
# OPTIONAL
#       $par2                   description
#
# AUTHOR
#       $author
#
# COPYRIGHT
#       Copyright (c) 2001, dimedis GmbH, Cologne, Germany,
#	All Rights Reserved
# 
#-----------------------------------------------------------------------------

<?INTERFACE INPUT="" OPTIONAL="">
