<html>
<head>
<title>Thanks!</title>
</head>
<meta http-equiv="refresh" content="10; URL=<tmpl_var escape='html' name='page'>">
<body>

<h1>Thank you for showing your friends our site!</h1>
<h2>This page will automatically send you back to the page you were viewing in a few seconds.  
    <a href="<tmpl_var escape='html' name='page'>">Click here</A> to go there now.</h2>

</body>
</html>
