<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% title | default('Punk') %}</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<main>
{% content %}
</main>
</body>
</html>
