<table align="center">
<tr><td align="center"><div id="receipts_tab_result"><tmpl_var name=result escape=html></div></td></tr>
<tr><td><hr /></td></tr>
<tr><td align="center"><div id="receipts_tab_container" style="visibility: invisible"></div></td></tr>
</table>
