!.gitignore
Makefile*
!Makefile.PL
META.yml
META.json
MYMETA.json
MYMETA.yml
blib
build
inc
pm_to_blib
MANIFEST*
!MANIFEST.SKIP
Debian*
Test-Fixture-DBIC-Schema-*
cover_db
nytprof.out
nytprof*
benchmarks_*
