<html>
<head>
</head>
<body>
<style media="screen" type="text/css">
body {
background:#262523 none repeat scroll 0 0;
color:#DDDDCC;
font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
font-size:14px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:1.5em;
}
/* Header */
#header {
margin: 1em auto;
width: 40em;
}

#header a, #header a:visited, #header a:active {
color: #eef;
text-decoration: none;
}

#header a:hover {
color: #ccb;
}
#posts {
	margin: 0 auto;
	width: 42em; 
}

   .post {
	background-color:#363B39;
	border:1px solid #494949;
     margin: 1.5em 0;
     padding: 1em; 
   }
   

h1 {
       font-size: 3em;
       font-weight: bold;
       line-height: 1em;
     }
.video{
	text-align:center;
}
</style>
<div id="header">
<h1>Apache2::EmbedFLV</h1>
</div>

	<div id="posts">
	 <div class="post">
		<div class="video">
		[% video %]
		</div>
	 </div>
	</div>

<p align="center">Apache2::EmbedFLV - <a href="http://axiombox.com/apache2-embedflv">http://axiombox.com/apache2-embedflv</a></p>
	
</body></html>

