# Copyright (c) 2023 Yuki Kimoto
# MIT License

use strict;
use warnings;
use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_c99(file => __FILE__);

my $myuname = $Config{myuname};
$myuname = 'strawberry';
if ($myuname =~ /strawberry/i) {
  my $incpath = $Config{incpath};
  my @incpath = split(/\s+/, $incpath);
  $config->add_include_dir(@incpath);
  
  my $libpth = $Config{libpth};
  my @libpth = split(/\s+/, $libpth);
  $config->add_lib_dir(@libpth);
}

$config->add_lib('ssl', 'crypto');

$config;
