
BODY { background-color: white;
 	font-size: 12px;
       color: black; }

TABLE { background-color: white;
        padding: 0;
	border-style: none;
	border-width: 0;
	border-spacing: 0;
        color: black; }

TD { background-color: white; 
     color: black;
 	font-size: 12px;
}

TH { background-color: #cccccc; 
     color: black;
 	font-size: 12px;
     text-align: left; }

A:link { 	text-decoration: none;
         	font-weight: bold; }
A:visited { 	text-decoration: none;
            		font-weight: bold; }

div.license { font-size: 10px; }

div.dom td { font-size: 12px;
         text-align: center; }

div.dom th { font-size: 10px;
	        text-align: center; }



div.matrix table { background-color: white;
        padding: 0;
	border-style: none;
	border-width: 0;
	border-spacing: 0;
        color: black; }

div.matrix td { font-size: 10px;background-color: #aaaaaa;
         text-align: center; }

div.matrix th { font-size: 10px;background-color: #cccccc;
	        text-align: center; }
