    dz                                 = 0.5                 
    m                                  = 0                   
    ncurve                             =            
    nskip                              =                               
    outhdr                             = 'las_header.asc'      
    ss                                 = 0                                    
    verbose                            = 0                   
