    all                                = 1                   
    ang                                =                
    eps                                =       
    eta                                =           
    key                                =             
    navg                               =                 
    nskip                              =                
    tracl                              =
    vang                               =