    a                                  = 1                   
    api                                = 50                  
    b                                  = 15                  
    c                                  = 1                   
    dt                                 = 0.004               
    g                                  = 0.56                
    h                                  = 20                  
    kmin                               = 37900               
    mode                               = 0                   
    mumin                              = 44300               
    nt                                 = 500                 
    ntr                                = 200                 
    p                                  = 0.15                
    phi                                = .24                 
    pres                               = 20                  
    r1                                 = 44300               
    rmin                               = 2.67                
    s                                  = 35                  
    sg                                 = .2                  
    so                                 = .7                  
    temp                               = 140                 
    v1                                 = 37900               
