## This is usually edited under -*- indented-text -*- on Emacs

# $Id: abuso.config,v 1.7 2005/03/16 22:13:24 lem Exp $

# This is a sample configuration file for abuso. Please see its
# documentation for more information about how to work with it.
# In particular, you must also add configuration parameters from
# other files in this directories, to customize the behavior of
# the different components.

# You might want to move this file to your home directory and
# play with it a little to get the hang of it.

# Happy hunting!

##
## Specify the way in which we will read reports for processing
## This should normally be a class under Mail::Abuse::Reader::
## in order for the proper interface to be supported, although
## you can name your own class in there.
##

abuso reader: POP3
# abuso reader: GoogleGroups

##
## Specify which parsers are going to be used to look for
## incidents in the received reports. This is normally a comma
## separated lists of classes under the Mail::Abuse::Incident::
## space, although you can name other classes by fully listing
## them.
##

abuso parsers: Normalize, SpamCop, Received, MyNetWatchman, Log

##
## In many cases, you'll get complaints for incidents that you don't
## care about. Examples include incidents that are too old for
## properly responding (ie, you already deleted the tracking info
## for the user) or are originated outside of your network.
##

abuso filters: Time, IP

##
## Specify which processors are going to go through your report
## once it has been parsed. This is normally a comma
## separated lists of classes under the Mail::Abuse::Processor::
## space, although you can name other classes by fully listing
## them.
##

abuso processors: Store, Email, Score, Explain

##
## I'll leave this one to your imagination...
##

debug abuso: on

##
## I hope you're still reading. Specifying the classes is only
## part of the configuration. Most of them need additional config
## variables that control how do they behave, so you should really
## peruse the documentation for each module as well as the other
## example files in this directory.
##

