=head1 Name

BioX::Workflow::Usage

=head1 BioX::Workflow::Usage

    biox-workflow.pl --workflow /path/to/workflow.yml

{qx{cat Introduction.pod}}
{qx{cat FindSamples.pod}}
{qx{cat Workflow.pod}}
{qx{cat SpecialVariables.pod}}
{qx{cat Example001.pod}}
{qx{cat Example002.pod}}
{qx{cat Example003.pod}}

=head1 Acknowledgements

Before version 0.03

This module was originally developed at and for Weill Cornell Medical
College in Qatar within ITS Advanced Computing Team. With approval from
WCMC-Q, this information was generalized and put on github, for which
the authors would like to express their gratitude.

As of version 0.03:

This modules continuing development is supported by NYU Abu Dhabi in the Center for Genomics and Systems Biology.
With approval from NYUAD, this information was generalized and put on github, for which
the authors would like to express their gratitude.

=cut
