package <tmpl_var name=prefix>::Rose::<tmpl_var name=module>::Manager;

use strict;

use base qw(Rose::DB::Object::Manager);

use <tmpl_var name=prefix>::Rose::<tmpl_var name=module>;

# -------------------------------------------------

sub object_class
{
	return '<tmpl_var name=prefix>::Rose::<tmpl_var name=module>';
}

__PACKAGE__ -> make_manager_methods('<tmpl_var name=table>');

# -------------------------------------------------

1;
