Source: libnet-as2-perl
Maintainer: Andrew Maguire <ajm@cpan.org>
Section: perl
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libcrypt-smime-perl,
                     libdigest-sha-perl,
                     libemail-address-perl,
                     libhttp-message-perl,
                     libmime-tools-perl,
                     libnet-ssleay-perl,
                     libtest-exception-perl,
                     libtest-simple-perl,
                     libwww-perl,
                     perl
Standards-Version: 4.6.0
Homepage: https://metacpan.org/release/Net-AS2

Package: libnet-as2-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libcrypt-smime-perl,
         libdigest-sha-perl,
         libemail-address-perl,
         libhttp-message-perl,
         libmime-tools-perl,
         libwww-perl
Description: AS2 Protocol implementation (RFC 4130) used in Electronic Data Exchange (EDI)
 This is a class for handling AS2 (RFC-4130) communication - sending message
 (optionally sign and encrypt), decoding MDN. Receiving message and produce
 corresponding MDN.
