# Default configuration file for VOMS::Lite, 
# Perl extension for VOMS Attribute certificate
# creation
# See man VOMS::Lite for configuration details.

CertDir    = /etc/grid-security/certificates
VOMSCert   = /etc/grid-security/hostcert.pem
VOMSKey    = /etc/grid-security/hostkey.pem
AttribType = GridMap
Lifetime   = 43200
Server     = localhost
Port       = 10000
