[% IF title %]<h3>[% title %]</h3>[% END %]
[% FOREACH t IN turns %]
<h4>[% t %]</h4>
[% IF events.$t.size != "" %]
<p>
[% FOREACH e IN events.$t %]  [% e %]<br />
[% END %]
</p>
[% ELSE %]
<p>*** NO EVENTS ***</p>
[% END %]
[% END %]
