# Copyright 2008, 2009, 2010, 2011, 2012 Kevin Ryde
# 
# This file is part of Glib-Ex-ConnectProperties.
# 
# Glib-Ex-ConnectProperties is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 3, or
# (at your option) any later version.
# 
# Glib-Ex-ConnectProperties is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with Glib-Ex-ConnectProperties.  If not, see
# <http://www.gnu.org/licenses/>.


# Build-Depends could have the "maximum_tests" modules from META.yml
# for more tests, but they're optional author tests really and would
# just make the build tools drag in more stuff.

Source: libglib-ex-connectproperties-perl
Section: perl
Priority: optional
Build-Depends: cdbs, debhelper (>= 5)
Maintainer: Kevin Ryde <user42@zip.com.au>
Standards-Version: 3.9.3
Homepage: http://user42.tuxfamily.org/glib-ex-connectproperties/index.html
Bugs: mailto:user42@zip.com.au

Package: libglib-ex-connectproperties-perl
Architecture: all
Depends: perl (>= 5.8), libglib-perl, libglib-ex-objectbits-perl (>= 5), libmodule-load-perl | perl (>= 5.10.0), ${perl:Depends}, ${misc:Depends}
Description: link properties between objects in Glib-Perl
 Glib::Ex::ConnectProperties establishes a link between properties on
 different objects, so a change to any one of them is propagated to
 others.
 .
 This is helpful for tying say the "active" of a Gtk2::CheckButton
 control to the "active" of some target widget.  The button controls
 the widget, but the button also gets updated if the target changes by
 some other means.
