
# Where to look for config files
#profilePath: .:/usr/local/share/idzebra-2.0/tab:/usr/share/idzebra-2.0/tab
profilePath: .:/usr/share/idzebra-2.0/tab:/opt/local/share/idzebra-2.0/tab

# Where to look for loadable zebra modules.  Both these path components
# are necessary, since the former is used when installed from a Debian
# package and the latter when installed from a Mac port.
modulePath: /usr/lib/idzebra-2.0/modules:/opt/local/lib/idzebra-2.0/modules
#modulePath: /usr/local/lib/idzebra-2.0/modules

# store records and record keys internally
storeData: 1
storeKeys: 1

# Use the "alvis" filter with config file "filterconf.xml"
recordtype: alvis.filterconf.xml

database: IR-Explain---1
#database: Default

# where to put registers, and other var content, and how large they may be
register: db/register:100G
shadow: db/shadow:100G
lockdir: db/lock
keytmpdir: db/tmp

# Permissions for update
perm.anonymous: ra
perm.admin: rw
#passwd.c: htpasswd
passwd: htpasswd.unencrypted

encoding: UTF-8
