    <div class='navfooter'>
      <hr />
      <table summary='Footer navigation table' width='100%' border='0' cellpadding='0' cellspacing='0'>
        <colgroup><col width='33%'/><col width='34%'/><col width='33%'/></colgroup>
        <tr valign='top'>
          <td align='left'>
            <!-- TMPL_IF NAME="href_prev" -->
              <a href='<TMPL_VAR NAME=href_prev>' accesskey='P'><img src='prev.png' alt='Precedent' border='0'/></a>
            <!-- TMPL_ELSE -->
              &nbsp;
            <!-- /TMPL_IF -->
          </td>
          <td align='center'>
            <!-- TMPL_IF NAME="href_home" -->
              <a href='<TMPL_VAR NAME=href_home>' accesskey='D'><img src='home.png' alt='Debut' border='0'/></a>
            <!-- TMPL_ELSE -->
              &nbsp;
            <!-- /TMPL_IF -->
          </td>
          <td align='right'>
            <!-- TMPL_IF NAME="href_next" -->
              <a href='<TMPL_VAR NAME=href_next>' accesskey='S'><img src='next.png' alt='Suivant' border='0'/></a>
            <!-- TMPL_ELSE -->
              &nbsp;
            <!-- /TMPL_IF -->
          </td>
        </tr>
        <tr valign='top'>
          <td align='left'><!-- TMPL_VAR NAME="lbl_prev" --></td>
          <td align='center'>
            <!-- TMPL_IF NAME="href_up" -->
              <a href='<TMPL_VAR NAME=href_up>' accesskey='U'><img src='up.png' alt='Superieur' border='0'/></a>
            <!-- TMPL_ELSE -->
              &nbsp;
            <!-- /TMPL_IF -->
          </td>
          <td align='right'><!-- TMPL_VAR NAME="lbl_next" --></td>
        </tr>
        <tr>
           <td colspan='3' align='center'><cite>--- Page g&eacute;n&eacute;r&eacute;e par dtd2html ---</cite></td>
        </tr>
      </table>
    </div>
  </body>

</html>
