/*/test/data/columns/c[@id %xlabelid]/@name
/*/test/data/columns/c[@id %ylabelid]/@name
/*/test/data/columns/c[@id %zlabelid]/@name
/*/test/data/columns/c[@units "%xlabelunits"]/@name
/*/test/data/columns/c[@units "%ylabelunits"]/@name
/*/test/data/columns/c[@units "%zlabelunits"]/@name
/*/test/data/columns/c[@name "%xlabelname"]/@name
/*/test/data/columns/c[@name "%ylabelname"]/@name
/*/test/data/columns/c[@name "%zlabelname"]/@name
/*/test/data/columns/c[@id %xunitsid]/@units
/*/test/data/columns/c[@id %yunitsid]/@units
/*/test/data/columns/c[@id %zunitsid]/@units
/*/test/data/columns/c[@name "%xunitsname"]/@units
/*/test/data/columns/c[@name "%yunitsname"]/@units
/*/test/data/columns/c[@name "%zunitsname"]/@units
/*/test/data/datum/d[@id %xdataid]/string()
/*/test/data/datum/d[@id %ydataid]/string()
/*/test/data/datum/d[@id %zdataid]/string()
/*/test/data/datum[@id %xdatumid]/d/string()
/*/test/data/datum[@id %ydatumid]/d/string()
/*/test/data/datum[@id %xdatumid]/d/string()
summary:/*/summary/string()
r=plot_title:%summary% - %xlabel% vs. %ylabel% vs. %zlabel%
