<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Perl Wiki Tree</title>
    <meta http-equiv = 'Content-Type'	content = 'text/html; charset=utf-8' />
	<meta name = 'language'				content = 'en-au'>
	<meta property = 'og:url'			content = 'http://!domain_name!/misc/!page_name!'>
	<meta property = 'og:type'			content = 'website'>
	<meta property = 'og:title	'		content = 'CPAN::MetaCurator'>
	<meta property = 'og:description'	content = 'CPAN::MetaCurator'>
	<meta property = 'og:image'			content = '/assets/images/local/rons.logo.png'>
	<link rel = 'stylesheet'			type = 'text/css' href = '/assets/css/local/default.css'>
	<link rel = 'stylesheet'			type = 'text/css' href = '/assets/css/datatables.min.css'>
	<link rel = 'stylesheet'			type = 'text/css' href = '/assets/css/dist/themes/default/style.min.css'>
<!--
	<link rel = 'stylesheet'			type = 'text/css' href = '/assets/css/hover/hover.1.css'>
-->
	<script src = '/assets/js/jquery-3.7.1.min.js'></script>
	<script src = '/assets/js/jquery-ui-1.14.1.min.js'></script>
	<script src = '/assets/js/jstree.min.js'></script>
  </head>
  <body>
	<a id = 'top'></a>
<div>
	<span><img src = '!logo_path!' width = '120' height = '120' alt = 'Logo for page: index'></span>
	<span class = 'page_title'>A JSTree version of my Perl.Wiki</span>
</div>
<br>
<div>
	Perl module: !module!
</div>
<div>
	V !version!. !time!
</div>
<div>
	<a href = 'http://savage.net.au/'>My home page, for downloading Perl.Wiki.html</a>
</div>
Notes:
<ul>
	<li>Nodes just under the root ('MetaCurator') are called Topics. Paragraphs is the TiddlyWiki equivalent.</li>
	<li>Tokens like [[XS]] indicate a TiddlyWiki paragraph name, not a Perl module or topic.</li>
	<li>Almost all leaf node are links. Use a middle-button click to open the link in another tab.</li>
	<li>Further, this version no longer ships with 02packages.details.txt, nor with a packages table in the db.</li>
	<li>This is because loading that file into SQLite takes 15 hours on my Lenovo M70Q 'Tiny' desktop.</li>
	<li>So my new module, CPAN::MetaPackages, will build & ship an SQLite db containing those packages.</li>
	<li>Lastly, the code does not yet cleanly handle special cases. Eg: FAQ, See Also, & &lt;pre&gt; & &lt;/pre&gt; etc.</li>
	<br />
	<li>Acronyms: !acronym!. Leaves: !leaf!. Topics: !topic!. Unknowns: !unknown!</li>
</ul>
<hr>
