---
schema:
  procedures: {}
  tables:
    jedi_session:
      constraints:
        - deferrable: 1
          expression: ''
          fields:
            - id
          match_type: ''
          name: ''
          on_delete: ''
          on_update: ''
          options: []
          reference_fields: []
          reference_table: ''
          type: PRIMARY KEY
      fields:
        expire_at:
          data_type: ''
          default_value: ~
          is_nullable: 0
          is_primary_key: 0
          is_unique: 0
          name: expire_at
          order: 2
          size:
            - 0
        id:
          data_type: ''
          default_value: ~
          is_nullable: 0
          is_primary_key: 1
          is_unique: 0
          name: id
          order: 1
          size:
            - 0
        session:
          data_type: ''
          default_value: ~
          is_nullable: 0
          is_primary_key: 0
          is_unique: 0
          name: session
          order: 3
          size:
            - 0
      indices: []
      name: jedi_session
      options: []
      order: 1
  triggers: {}
  views: {}
translator:
  add_drop_table: 0
  filename: ~
  no_comments: 0
  parser_args:
    sources:
      - Session
  parser_type: SQL::Translator::Parser::DBIx::Class
  producer_args: {}
  producer_type: SQL::Translator::Producer::YAML
  show_warnings: 0
  trace: 0
  version: 0.11018
