passwordPrompt   Enter Bart's surname:
password    1
default_language   en
date_format   %d.%m.%Y
<data_source>
    type   excel
    <config>
        photo_url   /pictures/
        file_name   tree_no_date.xls
        photo_dir   pictures/
    </config>
</data_source>
css_filename   /css/bodon_default.css
adminEmail   mi@ya.ru
sitemeter_id   s22bodonangol
sitemeter_needed   1
adminHomepage   http://mishin.narod.ru
adminName   Nikolay Mishin
passwordReq    1
