# use perl                                  -*- mode: Perl; -*-

# This is the configuration file for News Clipper. Feel free to modify any of
# the values here. Comments begin with "#"

# The timezone. You only have to set this for Windows or DOS platforms
$ENV{TZ} = '' if ($^O eq 'MSWin32') || ($^O eq 'dos');

%config = (

# This value lets News Clipper know if the configuration file is incompatible.
'for_news_clipper_version' => 1.30,

# Enter your email here. It's used during the registration process.
'email' => 'YOUR_EMAIL_HERE',

# Enter your registration code here.
'registration_key' => 'YOUR_REG_KEY_HERE',

# input_files is a list of quoted, comma-separated input files.
# output_files is a list of quoted, comma-separated output files.
# Each input file is transformed by News Clipper into the corresponding output
# file. (i.e. There should be one input file for each output file.)
'input_files' => [
  'sample.txt',
# 'NEXT INPUT FILE',
],
'output_files' => [
  'output.html',
# 'NEXT OUTPUT FILE',
],

# ftp_files allows you to ftp your output files to your web server. Make sure
# there is one set of data for each output file.  The first set applies to the
# first output file, the second set to the second output file, etc. If you
# don't want to FTP a file, just use {} for the information.
'ftp_files' => [
#  {'server'   => 'SERVER',
#   'username' => 'USER NAME',
#   'password' => 'PASSWORD',
#   'dir'      => 'DEST DIR'},
],

# email_files allows you to email your output files to one or more email
# addresses. Make sure there is one set of emails for each output file.  The
# first set applies to the first output file, the second set to the second
# output file, etc. If you don't want to email a file, just use [] for the
# information. The example shows how to send one output file.
'email_files' => [
#  {'From'    => 'News Clipper <newsclipper@your.server>',
#   'To'      => 'First Person <person1@their.server>',
#   'Cc'      => '',
#   'Bcc'     => '',
#   'Subject' => 'Newsletter'},
],

# You can specify one or more directories where News Clipper can find
# handlers.  Note that installed handlers automatically go into the first
# directory.  Specify the directories separated using commas, and quote them.
'handler_locations' => ["$home/.NewsClipper"],

# This value is set for single user installation, so that News Clipper will be
# able to find it's supporting modules. Not needed for compiled versions.
'module_path' => '.',

# News Clipper uses a cache to store acquired HTML, which the handlers use
# during times between update times. max_cache_size is in megabytes, and should
# be at least 5.
# !!! News Clipper will not work without this cache, since handlers only
# update the acquired data at certain times. !!!
'cache_location' => "$home/.NewsClipper/cache",
'max_cache_size' => 15,

# $scripttimeout is the length of time, in seconds, to allow News Clipper to
# run.
'script_timeout' => 60*10,

# $socket_timeout is the length of time, in seconds, to allow any particular web
# service to respond.
'socket_timeout' => 30,

# socket_tries is the number of times to try to get information from a remote
# server for each handler, before giving up.
'socket_tries' => 2,

# Set $proxy if you use a proxy. For example, "http://proxy.host.com:8080/"
'proxy' => "",

# If you need to supply a username/password to your proxy server, you can
# specify it here.
#
# If you supply a password of '', you will be prompted for a password *if*
# News Clipper is run interactively. If not, the password will default to "",
# which, is almost certainly not what you want.  So, this feature is not very
# useful if you're using this program from "cron".
#
# If you supply a real password here, this password will be used.  If you use
# this option, please make sure that you take appropiate measures to make sure
# that this file can't be read by others.
'proxy_username' => '',
'proxy_password' => '',

# Automatically download any bugfix handlers. (Checks every few hours.)
'auto_download_bugfix_updates' => 'yes',

# The keyword to indicate News Clipper commands. The default is "newsclipper",
# which results in <!-- newsclipper ... --> as the default command comment.
'tag_text' => 'newsclipper',

# Determines whether output files should be made executable as well as
# readable.
'make_output_files_executable' => 'yes',

# The location of the News Clipper debug and error log files. Set to "STDOUT"
# or "STDERR" to send to standard output or standard error.
'debug_log_file' => "$home/.NewsClipper/logs/debug.log",
'run_log_file' => "$home/.NewsClipper/logs/run.log",

# These values allow you to configure the old logs that are saved. After the
# log file reaches the max_log_file_size (in bytes), it is renamed and a new
# one is started. If there the max_number_of_log_files has been reached, then
# the oldest one is deleted before the logs are rotated. On Unix systems the
# old log files are zipped.
'max_number_of_log_files' => 7,
'max_log_file_size' => 1000000,

);

# -----------------------------------------------------------------------------

# The next set of values are used by the cacheimages filter. They are here to
# allow system administrators to set a global image cache for all users.
%NewsClipper::Handler::Filter::cacheimages::handlerconfig = (

# The location in the file system where the images should be cached.
'imgcachedir' => "$home/public_html/NewsClipper/imagecache",

# The URL that corresponds to the imgcachedir. This should be changed from
# file://... to http://...
'imgcacheurl' => "file://$home/public_html/NewsClipper/imagecache",
#'imgcacheurl' => "http://servername/NewsClipper/imagecache",

# The number of days to allow an image to stay in the cache, in days.
'maximgcacheage' => 7,

);

# -----------------------------------------------------------------------------

1;
