use vars qw(@c);
@c = (
    id => 'mod_perl-2.0',

    title => "mod_perl 2.0, the Next Generation Session",

    abstract => '',

    docsets => [qw(
        handouts
        slides
    )],

    chapters => [qw(
        abstract.txt
    )],

    # non-pod/html files or dirs to be copied unmodified
    copy_glob => [qw(
        style.css
        images/*
        figures/*.png
        figures/*.gif
    )],

    copy_skip => [
        '(?:^|\/)CVS(?:\/|$)', # skip cvs control files
        '#|~',                 # skip emacs backup files
    ],

    dir => {
        # the resulting html files directory
        dst_html   => "dst_html",

        # the resulting ps and pdf files directory (and special
        # set of html files used for creating the ps and pdf
        # versions.)
        dst_ps     => "dst_ps",

        # the resulting split version html files directory
        dst_split_html => "dst_split_html",

        # location of the templates (searched left to right)
        # src/search contains the array and hash for the search areas
        tmpl       => [qw(tmpl/custom tmpl/std tmpl src/search)],

        # search path for pods, etc. must put more specific paths first!
        search_paths => [qw(
            .
         )],

         # what extensions to search for
         search_exts => [qw(pod pm html)],

    },	

    file => {
        # the html2ps configuration file
	html2ps_conf  => "conf/html2ps.conf",
    },

);


# don't forget!!!
1;

__END__
