    aperx                              =            
    datfile                            =              
    datsurf                            = 0                   
    dc                                 = 1                   
    ds                                 =         
    dt                                 =                   
    dxgo                               =             
    dxso                               =                 
    dxt                                =              
    dzo                                =              
    freq                               = 50                  
    fs                                 =         
    ft                                 =                   
    fxgo                               = 0                   
    fxso                               = 0                   
    fxt                                =                
    fzt                                =                
    infile                             = stdin               
    jpfile                             = stderr              
    mtr                                = 100                 
    ns                                 =                     
    ntr                                = 100000              
    nxgo                               =                     
    nxso                               =                     
    nxt                                =                     
    nzt                                =                     
    offmax                             = 99999               
    outfile                            = stdout              
    recfile                            =              
    recsurf                            = 1.                  
    scale                              = 1.0                 
    ttfile                             =                 
    v0                                 = 1500                
    zdat                               =              
    zrec                               =              
