use strict;
use warnings;
use utf8;

package {{$name}};

#ABSTRACT:  Main module for {{$name}}

#  This is the 21st century
use 5.010;

#  Import modules

#  Common modules
use autodie;
use Data::Dumper;


=encoding utf8

=for Pod::Coverage

=head1 SYNOPSIS


=head1 DESCRIPTION


=cut


#  Happy ending
1;
