    axesColor                          =                
    bclip|low_clip|loclip                              =                
    bhue                               =                    
    bperc                              =                
    bright                             =                    
    clip                               =                
    cmap                               =                
    d1                                 =                 
    d2                                 = 
    d3                                 =                  
    dframe                             =                    
    f1                                 =                  
    f2                                 =
    f3                                 =               
    fframe                             =                    
    grid1                              =                 
    grid2                              =                 
    gridColor                          =                
    height                             =             
    idm                                =                 
    interp                             =                                 
    labelFont                          =                 
    loop                               =   
    mode							  =                 
    n1                                 =               
    n2                                 = 
    n3                                 =             
    nTic1                              =              
    nTic2                              = 
    ntr                                =                
    perc                               =                   
    sat                                =                    
    sleep                              =               
    style                              =               
    title							   = Acoustic Finite-Differencing              
    titleColor                         =                
    titleFont                          = 
    tmpdir                             =   
    verbose                            =                              
    wclip|high_clip|hiclip   =               
    white                              =      
    whue                               =                
    width                              = 
    windowtitle						   =  Movie                             
    wperc                              =           
    x1beg                              =               
    x1end                              =               
    x2beg                              =                
    x2end                              =   
    x_label|label2					   = distance (m)         
    y_label|label1					   =  depth (m)    