# GitLint config
# the following can be added to ~/.gitconfig or /repo/.git/config
# settings here will override those set in Git::Lint::Config

[lint "profiles.commit"]
    # create a whitespace profile with specific modules
    whitespace = Whitespace, OtherModule

    # override the default profile to only contain Whitespace
    default = Whitespace

[lint "profiles.message"]
    # create a summary profile with specific modules
    summary = SummaryEndingPeriod, SummaryLength

    # override the default profile to only contain SummaryLength, SummaryEndingPeriod, and BlankLineAfterSummary
    default = SummaryLength, SummaryEndingPeriod, BlankLineAfterSummary
