severity = brutal
verbose = 8
exclude = CodeLayout::RequireUseUTF8 Documentation::RequirePODUseEncodingUTF8 Editor::RequireEmacsFileVariables Miscellanea::RequireRcsKeywords Modules::RequireExplicitPackage 

[Lax::RequireExplicitPackage::ExceptForPragmata]
allowed_pragmata = diagnostics feature perlversion strict warnings utf8

[Documentation::PodSpelling]
stop_words = bugtracker configfile configfiles config commandline pathname filenames Config

[Documentation::RequirePodSections]
lib_sections    = NAME | VERSION | DESCRIPTION | SYNOPSIS | COPYRIGHT AND LICENSE
script_sections = NAME | USAGE | OPTIONS | EXIT STATUS | COPYRIGHT AND LICENSE

[Subroutines::ProhibitCallsToUndeclaredSubs]
exempt_subs = Carp::croak Mouse::blessed Mouse::extends Mouse::has Mouse::with Mouse::Role::with

[TestingAndDebugging::RequireUseStrict]
equivalent_modules = Mouse Mouse::Role

[TestingAndDebugging::RequireUseWarnings]
equivalent_modules = Mouse Mouse::Role
