AuthUserFile /dev/null
AuthGroupFile /dev/null
AuthName DenyViaWeb
AuthType Basic

<Files ~ "\.(mail|sent|txt|dat|html?)$">
    Order allow,deny
    Deny from all
</Files>

<LimitExcept GET POST OPTIONS PROPFIND>
        Order deny,allow
        Deny from all
</LimitExcept>