[% title = 'Change Password' %]
[%INCLUDE menu.tmpl %]

[% IF errs.some_errors && ! message %]
<p><span class="message" id="message">Error Saving Password</span> </p>
[% END %]

<form action="[% root_url %]/user/save_password" method="post">
    <fieldset>
        <legend>Login</legend>
        <p>
            <label for="old_password" class="edit">Old Password *</label>
            <input id="old_password" name="old_password" type="password" /> [% errs.old_password %]
        </p>
        <p>
            <label for="password" class="edit">New Password *</label>
            <input id="password" name="password" type="password" /> [% errs.password %]
        </p>
        <p>
            <label for="password2" class="edit">Repeat Password *</label>
            <input id="password2" name="password2" type="password" /> [% errs.password2 %]
        </p>
        <p class="submit">
            <input type="submit" value="Save" />
            <input type="hidden" id="next" name="next" value="[% next %]">
        </p>
    </fieldset>
</form>
[% PROCESS footer.tmpl %]