    f0                                 =                     
    f1                                 =                     
    fill                               =                     
    ic                                 =                     
    n1                                 =                     
    nc                                 =                     
    rule                               =                     
    seed                               =                     
    tc                                 =                     
    verbose                            =                     