    fill                               =                  
    kedge                              =                
    maxangle                           = 5.0                 
    xedge                              = x                  
    xmax                               = 1.0                 
    xmin                               = 0.0                 
    zedge                              =                    
    zmax                               = 1.0                 
    zmin                               = 0.0                 
