    a1111file                          =           
    a1113file                          =            
    a1133file                          =            
    a1212file                          =           
    a1223file                          =            
    a1313file                          =            
    a2323file                          =            
    a3313file                          =            
    a3333file                          =            
    dx                                 = 1.0                 
    dz                                 = 1.0                 
    fx                                 = 0.0                 
    fz                                 = 0.0                 
    nx                                 = 
    nz=                 
    rhofile                            =             