    XY                                 =                     
    abtime                             =                     
    dx                                 =                     
    error                              =                     
    nt                                 =                     
    v0                                 =                     
