    angle                              =
    ashift                             =               
    caustic                            = 1                  
    dangle                             =         
    fangle                             = -45                 
    ffreq                              = -1                  
    fresnelfile                        =              
    infofile                           =         
    krecord                            =                 
    nangle                             = 101                 
    nonsurface                         = 1.                  
    nrays                              =              
    nt                                 = 101                 
    nxz                                = 101                 
    outparfile                         =         
    prim                               = 1                  
    refseq                             =                    
    surface                            = 0                 
    wavefile                           =             
    xs1                                =                  
    zs1                                =                   