    ascci                              = 0
    kend                               =                
    pol                                = 0         
    px                                 = 0     
    pxvx									=                        
    pz                                 = 0                   
    t                                  = 0                             
    vgx                                = 0                                   
    vgz                                = 0                   
