    amp                                = 1.                  
    dt                                 =                                     
    t0                                 = 1.0                 
    type                               = nmo                    
    vel                                = 3000.               