    aa00                               = 2.0                 
    afile                              = c11 bin file               
    cc00                               = 2.0                 
    cfile                              = c33 bin file               
    daadx                              = 0.0                 
    daadz                              = 0.0                 
    dccdx                              = 0.0                 
    dccdz                              = 0.0                 
    deta0dx                            = 0.0                 
    deta0dz                            = 0.0                 
    detadx                             = 0.0                 
    detadz                             = 0.0                 
    dffdx                              = 0.0                 
    dffdz                              = 0.0                 
    dfile                              = rho bin file                
    dlldx                              = 0.0                 
    dlldz                              = 0.0                 
    dnndx                              = 0.0                 
    dnndz                              = 0.0                 
    dofct                              = 1                   
    drhodx                             = 0.0                 
    drhodz                             = 0.0                 
    dt                                 = 0.004               
    dx                                 = 0.02                
    dz                                 = 0.02                
    eta                                = 0.04                
    eta0                               = 0.03                
    fctxbeg                            = 0                   
    fctxend                            = nx                  
    fctzbeg                            = 0                   
    fctzend                            = nz                  
    ff00                               = 2.0                 
    ffile                              =   c13 bin file              
    fpeak                              = 20                  
    impulse                            = 1                   
    indexdt                            = 0                   
    indexux                            = 0                   
    indexuy                            = 0                   
    indexuz                            = 1                   
    isurf                              = 2                   
    lfile                              = c44 bin file               
    ll00                               = 2.0                 
    mbx1                               = 10                  
    mbx2                               = 900                 
    mbz1                               = 10                  
    mbz2                               = 90                  
    movebc                             = 0                   
    mt                                 = 1                   
    nfile                              = c66 bin file               
    nn00                               = 2.0                 
    nt                                 = 200                 
    nx                                 = 100                 
    nz                                 = 100                 
    order                              = 4                   
    receiverdepth                 = sz                  
    reflxfile                          = su file
    reflyfile                          = su file    
    reflzfile                          = su file
    rho00                              = 2.0                 
    sfile                              =  source                
    source                             = 1                   
    suhead                             = 1                   
    sx                                 = nx/2                
    sz                                 = nz/2                
    time                               = 0.25                
    verbose                            = 0                   
    vspnx                              = sx                  
    vspxfile                           = VSP                 
    vspyfile                           = VSP                 
    vspzfile                           = VSP                 
    wavelet                            = 1                   
