    abs                                = 1,1,1,1             
    dfile                              =                
    dx                                 = 1.0                 
    dz                                 = 1.0                 
    fmax                               =      
    fpeak                              =         
    fx                                 = 0.0                 
    fz                                 = 0.0                 
    hsfile_out|hsfile                  =  hseis       
    hsz                                = z                   
    mt                                 = 1                   
    nt                                 =           
    nx                                 = 
    nz                                 = 
    pml_max                            = 1000.0              
    pml_thick                          = 0                   
    source_seismogram_out|ssfile       = sseis             
    tmax                               =             
    verbose                            = 0                   
    vsfile_out|vsfile                   =  vseis          
    vsx                                = x                   
    xs                                 = x                   
    zs                                 = z                   