    fldr                               = 0                   
    max                                = 1                   
    min                                = 1                   
    pon                                = 1                   
    seed                               = from_clock          