    amax                               = 0.2                 
    dt                                 = 0.002               
    mode                               = 1                   
    n1                                 = 500                 
    n2                                 = 200                 
    nspk                               = 20                  
    seed                               = from_clock          
