    abso                               = 0.1                 
    amps                               = 1.0                 
    densfile                           = dens                
    dt                                 =                # label 3 in GUI is input yy_fil# label 3 in GUI is input yy_file and needs a home directorye and needs a home directory
    dtsnap                             = 0.0                 
    dx                                 =       
    dz                                 =           
    fmax                               =             
    fsflag                             =                 
    fx                                 = 0.0                 
    fz                                 = 0.0                 
    iabso                              =                 
    irx                                =         
    irz                                =           
    isx                                =                
    isz                                =                
    jpfile                             = stderr              
    nbwx                               = 20                  
    nbwz                               = 20                  
    nt                                 =             
    nx                                 =             
    nz                                 =             
    opflag                             =       0           
    prec                               =                 
    sepxname                           =            
    sepzname                           =          
    sflag                              =                   
    sname                              =          
    snpname                            =           
    t                                  =                 
    velfile                            = vel                 
    verbose                            = 0                   
    vmaxu                              =   
    w                                  = 2                   
