    dt                                 =                
    it1                                =               
    it2                                =             
    it3                                =               
    it4                                =         
    ix1                                =                
    ix2                                =                
    ix3                                =             
    ix4                                =            
    nspk                               =                   
    nt                                 =                   
    ntr                                =                   
    offset                             =                
