    dt                                 = 0.04                
    dx                                 = 100                 
    dxm                                = 50                  
    dxo                                = 50                  
    dz                                 = 100                 
    fpeak                              =              
    ft                                 = 0.0                 
    fx                                 = 0.0                 
    fxm                                = 0.0                 
    fxo                                = 0.0                 
    ls                                 = 0                   
    ndpfz                              = 5                   
    nt                                 = 101                 
    nx                                 =               
    nxb                                =                  
    nxd                                = 1                   
    nxm                                = 101                 
    nxo                                = 1                   
    nz                                 =              
    ref                                = "1:1,2;4,2"         
    smooth                             = 0                   
    tmin                               =             
    verbose                            = 0                   
