dt                                 =                     
dvdx                               =                     
dvdz                               =                     
dxm                                =                     
dxo                                =                     
dxs                                =                     
er                                 =                     
fpeak                              =                     
ft                                 =                     
fxm                                =                     
fxo                                =                     
fxs                                =                     
kilounits                          =                     
ls                                 =                     
ndpfz                              =                     
nt                                 =                     
nxm                                =                     
nxo                                =                     
nxs                                =                     
ob                                 =                     
ref                                =                     
smooth                             =                     
tmin                               =                     
v00                                =                     
verbose                            =                     
x0                                 =                     
xo                                 = ,fxo+xo,...         
z0                                 =                     