% my (%opts) = @_;

body {
    font: 10pt sans-serif;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: #000;
}
div.item {
    min-width: 85px;
    max-width: <%= $opts{size} + 10 %>px;
    height: <%= $opts{size} + 50 %>px;
    max-height: <%= $opts{size} + 50 %>px;
    float: left;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    position: relative;
}
div.item:hover {
    z-index: 999;
}
div.item details {
    background-color: rgba(255,255,255,0.7);
}
div.item details.filename {
    word-wrap: break-word;
}
div.item details.extended {
    font-size: 8pt;
    color: #667;
    border-radius: 4px;
    min-width: 85px;
    padding: 2px;
}
div.item.updir {
    opacity: 0.4;
}
div.item.updir:hover{
    opacity: 1.0;
}
div.item.archive{
    opacity: 0.4;
}
div.item.archive:hover{
    opacity: 1.0;
}
div.item.thumb img{
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.9);
    border: 1px solid #fff;
}
footer {
    color: rgba(0,0,0,0.4);
    font-size: smaller;
    clear: left;
    margin-top: 250px;
    padding-top: 10pt;
}
footer:hover {
    color: #000;
}
