{
    body => \'index.tmpl',
    title => '',
    comments_plugin => {
        page    => '/comments',
        uri     => 'http://vet/',
        mailer      => 'testfile',
        flood_num   => 20,
    },
    plugins => [ qw/Comments/ ],
}
