#**********************************************************************************
#
PIPELINE=Annotation reports
#
#**********************************************************************************

#==================================================================================
PHASE= Upload XML
program = upload_xml.pl
#----------------------------------------------------------------------------------
xml_file = bacteria.xml
#==================================================================================

#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================

#==================================================================================
PHASE= Report Orthology eggNOG
program = report_orthology.pl
#----------------------------------------------------------------------------------
database_code = eggnog
blast_dir = eggnog_dir
output = yes
output_dir= eggnog_report
images_dir = /usr/local/genome/databases/images/
#==================================================================================

#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================

#==================================================================================
PHASE= Report KEGG Pathways
program = report_pathways.pl
#----------------------------------------------------------------------------------
output_dir = kegg_report
retrieve_pathway_figures=true
blast_dir = kegg_dir
images_dir = /usr/local/genome/databases/images/
#==================================================================================

#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================

#==================================================================================
PHASE= GO term mapping
program = report_go_mapping.pl
#----------------------------------------------------------------------------------
taxon_gene_id = 0000
DB_id = Bact_DB
ontology_GO = /usr/local/genome/databases/go/gene_ontology.obo
assignment = Bact_DB
output_file_XML = 
output_file_HTML = go_mapping
output_dir = go_report
output_file = gene_assoc.txt
GO_slim_file = /usr/local/genome/databases/go/goslim_generic.obo
#==================================================================================

#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================

#==================================================================================
PHASE= Report FT GenBank
program = report_feature_table_submission.pl
#----------------------------------------------------------------------------------
output_dir = genbank_report
components_used = .*
submission_format = genbank
#==================================================================================

#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================

#==================================================================================
PHASE= Report FT Artemis
program = report_feature_table_artemis.pl
#----------------------------------------------------------------------------------
database_code = INSD
output_sequence = true
output_dir = artemis_report
components_used = .*
output_all = true
output_feature_table = true
#==================================================================================
