<ul>
  <li><a href="[% c.mount_url %]/alpha_grid_instant" >alpha_grid_instant</li>
  <li><a href="[% c.mount_url %]/alpha_grid_save"    >alpha_grid_save</li>
  <li><a href="[% c.mount_url %]/alpha_grid_mixed"   >alpha_grid_mixed</li>
</ul>

<ul>
  <li><a href="[% c.mount_url %]/alpha_dv_instant" >alpha_dv_instant</li>
  <li><a href="[% c.mount_url %]/alpha_dv_save"    >alpha_dv_save</li>
  <li><a href="[% c.mount_url %]/alpha_dv_mixed"   >alpha_dv_mixed</li>
</ul>

<ul>
  <li><a href="[% c.mount_url %]/main/db/db_bravo"     >Bravo</li>
</ul>