# *** network ***
# dns = 10.12.33.2
# +/\d+\.\d+\.\d+\.\d+/ #  ( ex. 192.168.98.3 )
# dns = 10.12.33.3
# netmask = 255.255.255.0
# gateway = 10.12.33.1
# *** hosts ***
# table
# "2:3:3:a:fb:cc:12:2" "10.1.43.32" "C2"
# *** text ***
