# a =  * no example *
# b =  * no example *
# c =  * no example *
# d =  * no example *
# *** top ***
# a =  * no example *
# b =  * no example *
# c =  * no example *
# d =  * no example *
# +bottom
# a =  * no example *
# b =  * no example *
# c =  * no example *
# d =  * no example *
