HTML {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 40px;
    BACKGROUND-COLOR: #eeeeea;
    background-color: #f2f2f2;
    background-image: url("squares.gif");
    background-repeat: no-repeat;
    color: #888;
    font-family: geneva, tahoma, arial, sans-serif;
}
.content {
    PADDING: 12px;
    MARGIN-TOP: 1px;  MARGIN-BOTTOM:0px;
    MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px;
    BORDER-COLOR: #000000;
    BORDER-TOP: 0px;
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 1px;
    BORDER-RIGHT: 1px;
}

.logo {
    float: right;
    z-index: -100;
    margin-right: 10px;
}

.atom {
    float: right;
    margin-right: 10px;
    padding: 5px;
}



ul.threads {
    font: 12px Verdana,sans-serif;
    border: 1px solid black;
    color: black;
    background-color: #dddddd;
    margin-top: 10px;
}

ul.thread {
    list-style-image: none;
    list-style-type: none;
}

H1 {
    FONT-SIZE: 30pt; MARGIN: 0px;
    FONT-FAMILY: Optima, "Lucida Grande",Sans-serif;
    TEXT-ALIGN: center;
}
H2 {
    PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; FONT-SIZE: 16pt;
    PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.1em;
FONT-FAMILY: Optima, "Lucida Grande",Sans-serif;
    TEXT-ALIGN: center;
}

A { text-decoration: none; color:#225 }
A:hover { text-decoration: underline; color:#222 }

table { 
border: 0px solid; 
background-color: #ffffff;

}
#matrix th {
background-color: #DDE;
border: 1px solid;
    font: bold 13px Verdana, sans-serif;
}

#matrix tr.alternate { background-color:#EEF; }
#matrix td {
    font: 12px Verdana, sans-serif;
}

#navlist
{
padding: 3px 0;
margin-left: 0;
border-bottom: 1px solid #778;
font: bold 12px Verdana, sans-serif;
}

#navlist li
{
list-style: none;
margin: 0;
display: inline;
}

#navlist li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #778;
border-bottom: none;
background: #DDE;
text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover
{
color: #000;
background: #AAE;
border-color: #227;
}

#navlist li a#current
{
background: white;
border-bottom: 1px solid white;
}

td { font: 12px Verdana, sans-serif; }
.field {
background-color: #DDE;
border: 1px solid;
font-weight: bold;
}

#vlist
{
padding: 0 1px 1px;
margin-left: 0;
font: bold 12px Verdana, sans-serif;
background: gray;
width: 13em;
}

#vlist li
{
list-style: none;
margin: 0;
border-top: 1px solid gray;
text-align: left;
}

#vlist li a
{
display: block;
padding: 0.25em 0.5em 0.25em 0.75em;
border-left: 1em solid #AAB;
background: #CCD;
text-decoration: none;
}
#vlist li a:hover { 
    border-color: #227;
}
.list { width: 70%; }

.column-wrap { position: relative; }
.leftcolumn { position: absolute; left: 10px; top: 50px; width: 200px; 
    border-right: 1px dotted black;
}
.centercolumn { margin-left: 200px; margin-right: 300px; }
.rightcolumn { position: absolute; right: 0px; top: 50px; width: 300px; }

.messages {
    margin: 20px; padding: 3px; border: 1px solid black; 
    background: #ddd; 
    font: bold 12px Verdana, sans-serif;
}

.error { color: #d00; }

blockquote { background: white; 
    padding: 2px;
    margin-left: 50px;
    border: 1px dotted gray; font: 10px Verdana,sans-serif;
}

.level1 {
    font-size:10pt;
}

.level2 { 
    padding: 2px;
    margin-left: 5px;
    font-size: 9pt;
    color: green ;
    background: #ddd;

}
.level3 { 
    color: blue;
    padding: 2px;
    margin-left: 5px;
    font-size: 8pt;
    background: #bbb;

}
.level4 { color: red }

pre { background: white; border: 1px solid black; padding: 10px; }
.search { 
          text-align: center; 
          border-bottom: 1px dotted black; 
          padding-top: 20px;
          margin-top: 0px;
          margin-bottom: 10px;
          }
.footer {
    border-top: 1px dotted black;
}
.searchhints {
    font: 10px bold Verdana,sans-serif;
    display: block;
    BACKGROUND-COLOR: #ffffea;
    text-align: center;
}

.lists {
    font: 10px bold Verdana,sans-serif;
}

        #container {
            border: 1px solid gray;
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }

        #content {
            padding: 5px;
            margin-right: 215px;
        }

        #sidebar-a {
            float: right;
            width: 200px;
            \width: 210px;
            w\idth: 200px;
            margin: 0;
            margin-left: 5px;
            padding: 5px;
            border-left: 1px dotted gray;
        }
        #innerbar {
            padding: 5px;
            background: white;
        }


.secondarylink { color: #000 }
.secondarylink A:hover { text-decoration: underline; color:#222 }
.personunknown { color: #700 }


table.calendar {
    margin-left:auto; 
    margin-right:auto;
}

table.calendar th {

}

table.calendar td {
    
}

table.calendar td.noevent {
    background-color: #aaa096;
    font-weight: normal;
}

table.calendar td.header {
    background-color: #645a50;
    font-weight: normal;
}

table.calendar td.event {
    background-color: #c0c0c0;
    font-weight: bold;
    text-decoration: underline;
}

table.calendar td.todaynoevent {
    background-color: #aaa096;
    border: 2px solid #645a50;
    font-weight: normal;
}

table.calendar td.todayevent {
    background-color: #c0c0c0;
    border: 2px solid #645a50;
    font-weight: bold;
    text-decoration: underline;
}



.event    { color: #281e14; font-style: normal; font-weight: bold; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.noevent  { color: #645a50; font-style: normal; font-weight: bold; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }


.header   { color: #aaa096; font-style: normal; font-weight: bold; font-size: 15px; font-family: Verdana, Geneva, Arial, Helvetica }



.bold      { color: #645a50; font-style: normal; font-weight: bold; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.bolddark   { color: #281e14; font-style: normal; font-weight: bold; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.bolditalic     { color: #645a50; font-style: italic; font-weight: bold; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.bolditaliclight      { color: #aaa096; font-style: italic; font-weight: bold; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.boldlight      { color: #aaa096; font-style: normal; font-weight: bold; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.boldwhite { color: #fff; font-style: normal; font-weight: bold; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.plain      { color: #645a50; font-style: normal; font-weight: normal; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.plaindark   { color: #281e14; font-style: normal; font-weight: normal; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.plainitalic     { color: #645a50; font-style: italic; font-weight: normal; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.plainitaliclight      { color: #aaa096; font-style: italic; font-weight: normal; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.plainlight      { color: #aaa096; font-style: normal; font-weight: normal; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
.plainwhite { color: #fff; font-style: normal; font-weight: normal; font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica }
