<TABLE WIDTH="150" BORDER="0" CELLSPACING="0" CELLPADDING"2" BGCOLOR="#000000">
<TR><TD><table width="100%" border="0" cellspacing="1" cellpadding="3">
<TR><TD ALIGN="CENTER" BGCOLOR="#B1B1CB">
<FONT SIZE="2" face="Arial, Helvetica, sans-serif">
<B>%%code%% Weather</B></FONT></TD></TR>
<TR><TD BGCOLOR="#FFFFFF" ALIGN="CENTER">
<FONT SIZE="3" face="Arial, Helvetica, sans-serif">
%%temperature_f%%&deg; 
</FONT></TD></TR>
<TR><TD BGCOLOR="#FFFFFF" ALIGN="center">
<FONT SIZE="1" face="Arial, Helvetica, sans-serif">
%%conditionstext%%
</FONT></TD></TR>
<TR><TD BGCOLOR="#FFFFFF" ALIGN="center">
<FONT SIZE="1" face="Arial, Helvetica, sans-serif">
Wind %%winddirtext%% at %%windspeedmph%% MPH
</FONT></TD></TR>
</TABLE>
</TD></TR></TABLE>
