<?xml version="1.0" encoding="UTF-8"?>
[% USE date %]
[% PROCESS sub/date.html %]
[% IF recent_type == 'elite' %]
[% title = c.loc('Recent Elite Topics') %]
[% ELSE %]
[% title = c.loc('Recent Topics') %]
[% END %]
<rss version="2.0">
<channel>
<title><![CDATA[[% title %]]]></title>
<link>[% c.req.base _ url_prefix %]</link>
<description><![CDATA[[% title %]]]></description>
<pubDate>[% date.format(date.now, '%Y-%m-%dT%H:%M:%S+00:00') %]</pubDate>
<lastBuildDate>[% date.format(date.now, '%Y-%m-%dT%H:%M:%S+00:00') %]</lastBuildDate>
<generator>Foorum RSS Generator</generator>

[% FOREACH t IN topics %]
<item>
<title><![CDATA[[% t.title %]]]></title>
<link>[% c.req.base _ 'forum/' _ t.forum_id _ '/topic/' _ t.topic_id %]</link>
<description><![CDATA[[% t.text %]]]></description>
<guid isPermaLink="true">[% forum.forum_url _ '/topic/' _ t.topic_id %]</guid>
<pubDate>[% date_format(t.last_update_date, '%Y-%m-%dT%I:%M:%S') %]</pubDate>
</item>
[% END %]

</channel>
</rss>