<div id="moreinfo">
<input type="hidden"  name="edit_id" id="edit_id" value="" />
<input type="hidden"  name="refresh" id="refresh" value="" />
<table>
<tr><th>Name  </th><td><input type="text" name="edit_name" id="edit_name" value="" /></td></tr>
<tr><th>PAUSE </th><td><input type="text" name="edit_pause" id="edit_pause" value="" /></td></tr>
<tr><td colspan="2"><a href="javascript:submit_tester();"><input type="button" value="Submit" /></a> <a href="javascript:less_info();"><input type="button" value="Close" /></a></td></tr>
</table>
</div>

<script type="text/javascript" src="/js/fixedmenu.js"></script>
