<div id="moreinfo">
<table>
<tr><th>GUID              </th><td>                 <span id="info_guid"  ></span></td></tr>
<tr><th width="100">Grade </th><td id="cell_grade"> <span id="info_grade" ></span></td></tr>
<tr><th>Distribution      </th><td>                 <span id="info_dist"  ></span></td></tr>
<tr><th>Version           </th><td>                 <span id="info_vers"  ></span></td></tr>
<tr><th>Perl              </th><td>                 <span id="info_perl"  ></span></td></tr>
<tr><th>OS                </th><td>                 <span id="info_os"    ></span></td></tr>
<tr><th>Date              </th><td>                 <span id="info_date"  ></span></td></tr>
<tr><th>Tester            </th><td>                 <span id="info_tester"></span></td></tr>
<tr><th>Author            </th><td>                 <span id="info_author"></span></td></tr>
<tr><td colspan="2"><a href="javascript:less_info();"><input type="button" value="Close" /></a></td></tr>
</table>
</div>
