[%

    title = 'Email Address Confirmation' ;
    crumb3_name = 'Admin' ;
    crumb3_href = '/' ;
    crumb2_name = 'User' ;
    crumb2_href = '/user-edit' ;
    crumb1_name = 'Confirmation' ;

%]

<p>Sorry, that code doesn't not match any email address confirmation request within our system. If you have copy and pasted the link into a browser, please ensure you have included all characters of the code.</p>

<p>Please <a href="/user-edit">Click here</a> to request confirmation of other addresses.</p>
