<p>In order to reduce the number of reports listed at any one time, we have several
methods for browsing the reports you have submitted which are employed.</p>

<h2>List Marked Reports</h2>

<p>When an author marks a report, it is not automatically removed, but is
marked. This then allows you the tester to confirm whether this report should
indeed be removed or contains a valid failure report.</p>

<p>Select the appropriate reports and either click to remove them, or to keep
them. By keeping them, these will become unmarked. By removing them, these
reports will be removed from CPAN Testers website listings.</p>

<h2>Browse by Date</h2>

<p>Select the date from the list of known dates of submitted reports. The list
of dates are based on the email addresses you have listed.</p>

<h2>Browse by Distribution</h2>

<p>Select a distribution to filter by, followed. From
this list you will be able to select the distribution version, which will
then list the submitted reports.</p>

<p>Select reports and click to remove them from CPAN Testers website 
listings.</p>

<h2>Find Report by ID</h2>

<p>Lastly you may request a specific report by clicking the appropriate link
in the menu and entering the report ID.</p>

<h2>Registering Email Addresses</h2>

<p>By default none of the email addresses you have used to send reports are
included within the administration system. This is to allow you to attribute
them to a single login under your control. This means that for each email
address you use, you will need to register them.</p>

<p>Click the 'Change Profile' menu option, and in the lower section of the
page, enter one email address at a time into the box to regiater them. A
confirmation email will then be sent to that address. Once you receive it,
click the link within the mail and confirm your login. Once you have completed
this process your email address will be added to your account.</p>

<p>Note that reports are only listed for the email addresses you register. If
you do not register these email addresses you will not be able to remove or
unmarked reports that you have sent.</p>
