<!doctype html>
<html>
	<head>
		<script src="lib/RGraph.svg.common.core.js" type="text/javascript"></script>
		<script src="lib/RGraph.svg.line.js" type="text/javascript"></script>
		<title>[% title %]</title>
		<meta name="description" content="SVG line graph of tone curve">
	</head>
	<body>
		<div style="width: 700px; height: 700px" id="chart-container"></div>
		<script type="text/javascript">
			new RGraph.SVG.Line({
				id: 'chart-container',
				data: [% data %],
				options: {
					backgroundGridHlinesCount: 10,
					backgroundGridVlinesCount: 11,
					colors: [% colors %],
					linewidth: 3,
					gutterLeft: 50,
					gutterBottom: 50,
					xaxisLinewidth: 1.5,
					xaxisLabels: [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1],
					xaxisLabelsPositionEdgeTickmarksCount: 11,
					yaxisMax: 1,
					yaxisLinewidth: 1.5,
					yaxisLabelsCount: 10,
					yaxisDecimals: 1,
					title: '[% title %]'
				}
			}).draw();
		</script>
	</body>
</html>
