[Unit]
Description = Rate limiting milter for Sendmail
After = syslog.target network.target
Before = sendmail.service

[Service]
Type = simple
ExecStart = /usr/local/bin/milter-limit start
Restart = on-failure

[Install]
WantedBy = multi-user.target
