command = "updatedb"; constraint = Freq, 86400; constraint = InXs, 600; notify = vipul@cloudmark.com;
command = "emerge sync"; constraint = Freq, 86400; constraint = InXs, 600; notify = vipul@cloudmark.com;
