P.Menu {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
}

P.Copy {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
}

TD.Content {
	font-family : Arial, Helvetica, sans-serif;
	font-size : small;
}

h1, h2, h3, h4, h5, h6 { 
	color: #873852; 
}
