
*~
.#*
*.a
*.bak
*.bin
/bin/protoc-gen-perl-pb
bin/protoc-gen-perl-pb
/bin/protoc-gen-perl-pb.exe
/blib/
*.bs
.Bsort.tmp
/_build/
# Build
/Build
*.BUILD
BUILD.bazel
# BUT, don't ignore directories within t/c, so Git can traverse into them
/cover_db/
/debug
# Distribution
.DS_Store
# Editor/OS
*.gcda
*.gcno
*.gcov
# Ignore all files and directories within t/c by default
# Ignore these test-related files
lib/**/*.c
local/cache/authors/id/H/HA/HAARG/
/maint/generate_xs.pl.bak
Makefile
Makefile.old
MANIFEST
MANIFEST.bak
MYMETA.*
# Now, re-include the specific file types you want to track
*.o
/pm_to_blib
ppport.h
Protobuf-*
/Protobuf.c
/Protobuf.c.test
/Protobuf.xs
/protoc-gen-perl-pb
*.so
src_google_protobuf_descriptor.pb.cc
/stderr.txt
!t/c/**/
t/c/**
!t/c/**/*.c
!t/c/**/*.h
!t/c/**/*.json
!t/c/**/*.proto
!t/data/*.bin
# Test
/third_party/
tmp/
/tmp_debug/
/tmp_gen/
vgcore.*
*.x
*.xsc
