=extends NEXT

=for layout widget

<table class="grid">
  [% call_next %]
</table>

=for layout header

<thead>
  [% call_next %]
</thead>

=for layout header_row

<tr>
  [% call_next %]
</tr>

=for layout header_cell

<th> [% call_next %] </th>

=for layout header_action_cell

<th colspan="[% col_count %]"> [% call_next %] </th>

=for layout body

<tbody>
  [% call_next %]
</tbody>

=cut
