<html>
<head>
<title><TMPL_VAR HTML_TITLE>
<meta name="description" content="<TMPL_VAR META_DESCRIPTION>">
<meta name="keywords" content="<TMPL_VAR META_KEYWORDS>">
</head>

<TMPL_VAR HTML_BODY>

</html>
