install
url --url http://centos.crazyfrogs.org/5.4/os/x86_64
lang en_US.UTF-8
keyboard fr
network --device eth0 --bootproto static --ip [% if0_ip %] --netmask [% netmask %] --gateway [% gateway %] --nameserver 192.168.0.17 --hostname [% fqdn %]
rootpw --iscrypted secret
firewall --enabled --port=22:tcp
authconfig --enableshadow --enablemd5
selinux --enforcing
timezone --utc Europe/Paris
bootloader --location=mbr --driveorder=sda
# The following is the partition information you requested
# Note that any partitions you deleted are not expressed
# here so unless you clear all partitions first, this is
# not guaranteed to work
#clearpart --linux --drives=sda
#part /boot --fstype ext3 --size=100 --ondisk=sda
#part pv.2 --size=0 --grow --ondisk=sda
#volgroup VolGroup00 --pesize=32768 pv.2
#logvol swap --fstype swap --name=LogVol01 --vgname=VolGroup00 --size=1008 --grow --maxsize=2016
#logvol / --fstype ext3 --name=LogVol00 --vgname=VolGroup00 --size=1024 --grow

%packages
@base
@core
@editors
@server-cfg
@text-internet
keyutils
trousers
fipscheck
