<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<epp xmlns="urn:ietf:params:xml:ns:epp-1.0">
  <command>
[% INCLUDE $command -%]
[% IF transaction_id %]<clTRID>[% transaction_id %]</clTRID>[% END %]
  </command>
</epp>
