
# This is tkjuke.config, the file listing the default jukebox's under tkjuke's control.
#
# IFF 'auto-connect' = 1, the master tkjuke will try to acquire the associated
# jukebox during startup.
#
# 'tkjuke' is a double-quoted OpenSSH string that invokes a slave tkjuke.

auto-connect = 1 tkjuke = "/usr/bin/ssh -p 222 -X -f root@rigel /home/root/bin/tkjuke"
auto-connect = 1 tkjuke = "/usr/bin/ssh -p 222 -X -f root@rain  /root/bin/tkjuke"
auto-connect = 1 tkjuke = "/usr/bin/ssh -p  22 -X -f root@mylib /home/root/bin/tkjuke"
auto-connect = 1 tkjuke = "/usr/bin/ssh -p  22 -X -f root@fire  /home/root/bin/tkjuke"
