    filter                             =                
    panel                              = 1                   
    pnoise                             = 0.001               
    sufile                             =                     
    sym                                = 0                   
    verbose                            = 0                   
