    amps                               = '1,1,1,1'            
    bias                               = 0.0                 
    dt                                 = 1              
    dx                                 = 1                   
    slopes                             = '1,2,3,4'                
    tmpdir                             =                  
    verbose                            = 1                  
