    dt                                 =                     
    file                               =                
    interp                             = cubic               
    pln                                = 0                   
    pwr                                = 1.0                 
    rl1                                = 0                   
    rl2                                = 0                   
    verbose                            = 0                   
    wl                                 = 0.1                 
