    dt                                 =                     
    phasefac                           = .25                 
    power                              = .5                  
    sign                               = -1                  
    verbose                            = 0                   
