    dx                                 = 1,d2,..             
    key                                = key1,key2,..        
    keyg                               = ep                  
    vf                                 = 0                   
    vmin                               = 5000                
