    key                                =                 
    median                             = 1                   
    mix                                =        
    nmed                               = 5                   
    nshift                             =                     
    sign                               = -1                  
    subtract                           = 0                   
    tfile                              =                     
    tmpdir                             =                     
    tshift                             =                
    verbose                            = 0                   
    xfile                              =                     
    xshift                             =                
