    dfile                              =             
    dpow                               = 1.0                 
    dt                                 =                     
    sl                                 = 0.05                
    smooth                             = 1                   
    verbose                            = 0                   
    wfile                              =             
    wpow                               = 1.0                 
