#!/usr/bin/bash

# 设备登录凭证
export PDK_DEVICE_USERNAME=EXAMPLE
export PDK_DEVICE_PASSWORD=EXAMPLE
export PDK_DEVICE_PASSPHRASE=EXAMPLE
export PDK_DEVICE_ENPASSWORD=EXAMPLE
#export PDK_DEVICE_ENPROMPT=Cisco

# FTP 相关的环境变量
export PDK_FTP_SERVER=192.168.99.1
export PDK_FTP_USERNAME=EXAMPLE
export PDK_FTP_PASSWORD=EXAMPLE
export PDK_FTP_PASSPHRASE=EXAMPLE

# 配置备份根目录
export PDK_DEVICE_CONFIG_HOME=/opt/pdk

# 配置备份根目录
export PDK_DEVICE_BACKUP_HOME=/opt/pdk/backup

# 项目调试级别 [1(打印日志), 2(打印CLI交互), 3(打印 Expect 底层)]
export PDK_DEVICE_DEBUG=2

# 配置备份模块调试变量
export PDK_DEVICE_CONFIG_DEBUG=0

# 是否开始异常码拦截（仅支持设置1和0，非1的数值将转换为0）
export PDK_CATCH_ERROR=1

# SMTP 相关环境变量
export PDK_SMTP_SERVER=smtp.qq.com
export PDK_SMTP_PORT=25
export PDK_SMTP_AUTH=PLAIIN
export PDK_SMTP_SENDER=crated@qq.com
export PDK_SMTP_USERNAME=crated
export PDK_SMTP_PASSWORD=wvaoxnxqsppncfeb