<div id="login-page">
    <form class="local-form" action="/login/submit" method="POST">
        <div class="field">
            <label for="login_name">Login name:</label>
            <input id="login_name" name="login_name" type="text"/>
        </div>

        <div class="field">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password"/>
        </div>

        <div class="button-group">
            <button id="submit" name="submit" type="submit">Login</button>
        </div>
    </form>
</div>
