jobs:
  include:
    - stage: Windows
      os: windows
      language: shell
      before_install:
        - cinst -y strawberryperl
        - export "PATH=/c/Strawberry/perl/site/bin:/c/Strawberry/perl/bin:/c/Strawberry/c/bin:$PATH"
      install:
        - cpanm --notest --installdeps .
      script:
        - perl Makefile.PL && gmake.exe test TEST_VERBOSE=1

language: perl
perl:
    - "5.36"
    - "5.30"
    - "5.22"
    - "5.20"
    - "5.18"
    - "5.16"
    - "5.14"
    - "5.8"
os:
    - linux

script: perl Makefile.PL && make test TEST_VERBOSE=1
