\==[doc]      [2] [\bullet(packed)[\link[\1][\2]]]
\==[program]  [3]
    [\tablerow[\1 \version[\2]] [\release[\2]]
        [\link[https://archives.eyrie.org/software/\3.tar.gz][tar.gz]
        (\link[https://archives.eyrie.org/software/\3.tar.gz.asc]
              [PGP signature])]
        [\link[https://archives.eyrie.org/software/\3.tar.xz][tar.xz]
        (\link[https://archives.eyrie.org/software/\3.tar.xz.asc]
              [PGP signature])]]
\==[download] [3]
    [\1 \version[\2]\break
     \link[https://archives.eyrie.org/software/\3.tar.gz][tar.gz]
     (\link[https://archives.eyrie.org/software/\3.tar.gz.asc]
           [signature])\break
     \link[https://archives.eyrie.org/software/\3.tar.xz][tar.xz]
     (\link[https://archives.eyrie.org/software/\3.tar.xz.asc]
           [signature])\break
    Released \release[\2]]

\heading[[% name %]][software]

\h1[[% name %]]
[% IF quote %]
\quote[% IF quote.text.length < 80 %](short)[% ELSIF quote.broken %](broken)[% END %][

[% indent(quote.text, 4) %]

][[% quote.author %]][[% IF quote.title %][% quote.title %], [% END %][% IF !quote.work || quote.work.match('"') %][% quote.work %][% ELSE %]\cite[[% quote.work %]][% END %][% IF quote.date %], [% quote.date %][% END %]]
[% END %]
\div(sidebar)[
    \h2[Download]

    \download[[% name %]][[% distribution.version %]]
        [[% distribution.section %]/[% distribution.tarname %]-\version[[% distribution.version %]]]
[% IF distribution.packaging.debian.package && !distribution.packaging.debian.personal %]
    \link[https://packages.debian.org/source/sid/[% distribution.packaging.debian.package %]]
         [Debian packages] \break[% END %]
    \link[https://archives.eyrie.org/software/ARCHIVE/[% distribution.tarname %]/]
         [Archive]

    \h2[Documentation]

    \link[readme.html][General overview] \break
    \link[news.html][Change summary][% FOREACH doc IN docs.user %] \break
    \link[[% doc.name %].html][[% doc.title %]][% END %]
[% IF advisories %]
    \h2[Security Advisories]
[% FOREACH advisory IN advisories %]
    \link[security/[% advisory.date %].html]
        [[% advisory.date %]]: [% name %] [% advisory.versions %] \break[% END %]
[% END %]
    \h2[Development]
[% FOREACH doc IN docs.developer %]
    \link[[% doc.name %].html][[% doc.title %]] \break[% END %][% IF vcs.github %]
    \link[https://github.com/[% vcs.github %]]
         [GitHub] \break[% END %][% IF support.github %]
    \link[https://github.com/[% support.github %]/issues]
         [Bug tracker] \break[% END %][% IF vcs.type == 'Git' %]
    \link[[% vcs.browse %]]
         [Git repository] \break[% END %][% IF vcs.status.travis %]
    \link[https://travis-ci.org/[% vcs.status.travis %]]
         [Travis-CI] \break[% END %][% IF distribution.cpan %]
    \link[https://metacpan.org/release/[% distribution.cpan %]]
         [MetaCPAN] \break[% END %][% IF vcs.openhub %]
    \link[[% vcs.openhub %]]
         [Open HUB code analysis] \break[% END %][% IF distribution.packaging.debian.package && !distribution.packaging.debian.personal %]
    \link[https://tracker.debian.org/pkg/[% distribution.packaging.debian.package %]]
         [Debian package tracker] \break[% END %]
]
[% IF unmaintained %]
\h2[Warning]

\class(alert)[This package is not maintained.]
[% unmaintained %]
[% END %]
\h2[Blurb]

[% to_thread(blurb) %]

\h2[Description]

[% to_thread(description) %]

\h2[Requirements]

[% to_thread(requirements) %]
[% IF build.autotools %]
To bootstrap from a Git checkout, or if you change the Automake files and
need to regenerate Makefile.in, you will need Automake
[% build.automake %] or later.  For bootstrap or if you change
configure.ac or any of the m4 files it includes and need to regenerate
configure or config.h.in, you will need Autoconf [% build.autoconf %] or
later.[% IF build.manpages %]  Perl is also required to generate manual
pages from a fresh Git checkout.[% END %][% IF build.bootstrap %]
[% to_thread(build.bootstrap) %][% END %]
[% END %]
\h2[Download]

The distribution:

\table[][
    \program[[% name %]][[% distribution.version %]]
        [[% distribution.section %]/[% distribution.tarname %]-\version[[% distribution.version %]]]
]

An \link[https://archives.eyrie.org/software/ARCHIVE/[% distribution.tarname %]/]
[archive of older releases] is also available.[% IF advisories %]
\class(alert)[Versions older than [% advisories.0.threshold %] have known
security vulnerabilities and should not be used.][% END %]
[% IF distribution.packaging.debian.summary %]
[% IF distribution.packaging.debian.personal %][% to_thread(distribution.packaging.debian.summary) %]
[% ELSE %][% to_thread(distribution.packaging.debian.summary) | trim %][% IF distribution.packaging.debian.summary.match('\n\n') %]

[% ELSE %]  [% END %]See the \link[https://tracker.debian.org/pkg/[%
distribution.packaging.debian.package %]][Debian package tracker] for more
information.

[% END %][% ELSIF distribution.packaging.debian.personal %]
A Debian package [% IF distribution.packaging.debian.package %]([% distribution.packaging.debian.package %]) [% END %]is available from my \link[../debian.html][personal
repository].
[% END %][% IF distribution.cpan %]
[% name %] is available from CPAN as the
\link[https://metacpan.org/release/[% distribution.cpan %]]
[[% distribution.cpan %] distribution].
[% END %]
[% IF distribution.packaging.extra %]
[% to_thread(distribution.packaging.extra) %]
[% END %][% name %] [% IF unmaintained %]was[% ELSE %]is[% END %]
maintained using the [% vcs.type %] version control system.  To check out
the current development tree, [% IF vcs.github %]see
\link[https://github.com/[% vcs.github %]][GitHub] or [% END %]clone:

\pre[    [% vcs.url %]]

[% IF vcs.github && !unmaintained %]Pull requests on GitHub are welcome.
[% END %]You can also \link[[% vcs.browse %]][browse the current
development source].

\h2[Documentation]
[% IF docs.api %]
\div(left)[
    \class(first)[User documentation:]

    \doc[readme.html][README]
    \doc[news.html][Change summary][% FOREACH doc IN docs.user %]
    \doc[[% doc.name %].html][[% doc.title %]][% END %]
    \doc[license.html][License and copyright]
[% IF advisories %]
    Security advisories:
[% FOREACH advisory IN advisories %]
    \doc[security/[% advisory.date %].html]
        [[% advisory.date %]: [% advisory.versions %]][% END %]
[% END %]
    Developer documentation:
[% FOREACH doc IN docs.developer %]
    \doc[[% doc.name %].html][[% doc.title %]][% END %][% IF vcs.github %]
    \doc[https://github.com/[% vcs.github %]]
        [GitHub][% END %][% IF support.github %]
    \doc[https://github.com/[% support.github %]/issues]
        [Bug tracker][% END %][% IF vcs.status.travis %]
    \doc[https://travis-ci.org/[% vcs.status.travis %]]
        [Travis-CI][% END %][% IF vcs.openhub %]
    \doc[[% vcs.openhub %]]
        [Open HUB code analysis][% END %][% IF docs.contrib %]

    Contributed programs:
[% FOREACH doc IN docs.contrib %]
    \doc[[% doc.name %].html][[% doc.title %]][% END %]
[% END %]
]

\div(right)[
    \class(first)[API documentation:]
[% FOREACH doc IN docs.api %]
    \doc[[% doc.name %].html][[% doc.title %]][% END %][% IF docs.extra %]
[% FOREACH section IN docs.extra %]
    [% section.title %]:
[% FOREACH doc IN section.links %]
    \doc[[% doc.name %].html][[% doc.title %]][% END %][% END %][% END %]
]

\h2(after)[License]
[% ELSE %]
User documentation:

\doc[readme.html][README]
\doc[news.html][Change summary][% FOREACH doc IN docs.user %]
\doc[[% doc.name %].html][[% doc.title %]][% END %]
\doc[license.html][License and copyright]
[% IF advisories %]
Security advisories:
[% FOREACH advisory IN advisories %]
\doc[security/[% advisory.date %].html]
    [[% advisory.date %]: [% advisory.versions %]][% END %]
[% END %]
Developer documentation:
[% FOREACH doc IN docs.developer %]
\doc[[% doc.name %].html][[% doc.title %]][% END %][% IF vcs.github %]
\doc[https://github.com/[% vcs.github %]]
    [GitHub][% END %][% IF support.github %]
\doc[https://github.com/[% support.github %]/issues]
    [Bug tracker][% END %][% IF vcs.status.travis %]
\doc[https://travis-ci.org/[% vcs.status.travis %]]
    [Travis-CI][% END %][% IF vcs.openhub %]
\doc[[% vcs.openhub %]]
    [Open HUB code analysis][% END %]
[% IF docs.contrib %]
Contributed programs:
[% FOREACH doc IN docs.contrib %]
\doc[[% doc.name %].html][[% doc.title %]]
[% END %][% END %]
\h2[License]
[% END %]
The [% name %] package as a whole is covered by the following copyright
and license:

\block[
[% FOREACH copr IN copyrights %]
    Copyright [% copr.years %]
        [% copr.holder %]
[% END %]

[% indent(to_thread(license.text), 4) %]
[% IF license.notices %]
[% indent(to_thread(license.notices), 4) %]
[% END %]
]

Some individual source files are covered by other, compatible licenses.
For complete copyright and license information, see the file
\link[license.html][LICENSE] in the [% name %] source distribution.

\signature
