# Copyright (c) 2023 Yuki Kimoto
# MIT License

use strict;
use warnings;

use SPVM::Builder::Config;
my $config = SPVM::Builder::Config->new_gnu99(file => __FILE__);

$config->is_resource(1);

my @source_files = qw(
  png.c
  pngerror.c
  pngget.c
  pngmem.c
  pngpread.c
  pngread.c
  pngrio.c
  pngrtran.c
  pngrutil.c
  pngset.c
  pngtest.c
  pngtrans.c
  pngwio.c
  pngwrite.c
  pngwtran.c
  pngwutil.c
  arm/arm_init.c
  arm/filter_neon_intrinsics.c
  arm/filter_neon.S
  arm/palette_neon_intrinsics.c
);

$config->add_source_file(@source_files);

$config;
