META.yml

Makefile

blib/
inc/
gonzo/
trash/

pm_to_blib

MANIFEST.bak

Makefile
inc/
*.sw[po]
*.bak
*.old
Build
_build/
xshelper.h
tags
pm_to_blib
blib/
META.yml
MYMETA.*
META.yml
README
^inc/
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
*.o
*.bs
*.swp
*.tar.gz
probe.c
