Source: libqbit-application-model-db-mysql-table-multistateactionlog-perl
Section: perl
Priority: extra
Maintainer: Sergei Svistunov <sergei-svistunov@yandex.ru>
Build-Depends: debhelper (>= 8.0.0), perl, libqbit-perl, libqbit-application-model-db-mysql-perl
Standards-Version: 3.9.4

Package: libqbit-application-model-db-mysql-table-multistateactionlog-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libqbit-perl, libqbit-application-model-db-mysql-perl
Description: Base MySQL table for logging multistates actions.
 Base MySQL table for logging multistates actions.
