<% define m1 %>
  [m1]<% $V{v} %><% $V{w} %>[/m1]
<% /define %>

<% define m2 %>
  [m2]<% $V{v} %><% $V{w} %>[/m2]
<% /define %>

<% define m3 %>
  [blöd]<% $V{v} %><% $V{x}=1; $V{w} %>[/blöd]
<% /define %>