[% 
    title = "Administration Pages" ;
%]

<br />
      
<div class="post">
  <p>Please use the menu options above to select the administration you require.</p>
  <ul>
  <li>Site Pages - Update site content pages</li>
  <li>Menus - Update the menu content</li>
  <li>Hits - A list of the top pages and photos being viewed by the public</li>
  <li>Users - A searchable list of the users registered within the system</li>
  <li>Logout - Logout of the admin site and return to the public site</li>
  </ul>
</div>
