{
    foil => {
        "localhost:3000" => {
            name => "morbo",
            logoid => 'kplogo',
            navbar_host => 'localhost:81',
            navbar_links => [qw(
                /action/
                /address/
                /docs/
                /episodes/
                /fanfic/
                /gallery/
                /gusto/
                /harmony/
                /listfont/
                http://localhost/~kat/netfic/
                /profic/
                /stories/
                /text/
                /wiki/
                )],
        },
        "localhost:3001" => {
            name => "hypnotoad",
            logoid => 'kplogo',
            navbar_host => 'localhost:81',
            navbar_links => [qw(
                /action/
                /address/
                /docs/
                /episodes/
                /fanfic/
                /gallery/
                /gusto/
                /harmony/
                /listfont/
                http://localhost/~kat/netfic/
                /profic/
                /stories/
                /text/
                /wiki/
                )],
        },
        "localhost:81" => {
            name => "KatPlay",
            logoid => 'kplogo',
            navbar_host => 'localhost:81',
            navbar_links => [qw(
                /action/
                /address/
                /docs/
                /episodes/
                /fanfic/
                /gallery/
                /gusto/
                /harmony/
                /listfont/
                http://localhost/~kat/netfic/
                /profic/
                /stories/
                /text/
                /wiki/
                )],
        },
        "iwww.localhost" => {
            name => "KatSpace Local",
            logoid => 'kslogo',
            navbar_host => 'iwww.localhost',
            navbar_links => [qw(
                /about/
                /computers/
                /contact/
                /events/
                /fandom/
                /fiction/
                /games/
                /graphics/
                /gusto/
                /links/
                /lists/
                /sitemap/
                /reviews/
                /search/
                /zines/
                )],
        },
        "www.katspace.org" => {
            name => "KatSpace",
            logoid => 'kslogo',
            navbar_host => 'www.katspace.org',
            navbar_links => [qw(
                /about/
                /computers/
                /contact/
                /events/
                /fandom/
                /fiction/
                /games/
                /graphics/
                /gusto/
                /links/
                /lists/
                /sitemap/
                /reviews/
                /search/
                /zines/
                )],
        },
    },
}
