<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<title>Delete user <!-- TMPL_VAR NAME="fullname" --></title>
	<link rel="stylesheet" href="<!-- TMPL_VAR NAME="url_examples_css" -->" type="text/css" />
</head>

  <body>
    <div id="banner">
     <h1>CGI::Application::Framework</h1>
     <h2>Example Pages</h2>
    </div>

<!-- TMPL_VAR NAME="cgiapp_embed('make_navbar')" -->

    <h1>Delete user <!-- TMPL_VAR NAME="fullname" --></h1>
    <h2>HTML::Template version</h2>

<p>
Are you sure you want to delete the user<br>
<blockquote>
Username: <!-- TMPL_VAR NAME="username" --><br>
Fullname: <!-- TMPL_VAR NAME="fullname" -->
</blockquote>
from the database?
</p>

<p>
<a href="<!-- TMPL_VAR NAME=confirm_delete_user -->">
Yes, delete this user
</a>
</p>

<p>
<a href="<!-- TMPL_VAR NAME=reject_delete_user -->">
No, do not delete this user
</a>
</p>

  </body>
</html>
