<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<title>Add User -- Processed</title>
	<link rel="stylesheet" href="/caf-examples/example.css" type="text/css" />
</head>

  <body>
    <div id="banner">
     <h1>CGI::Application::Framework</h1>
     <h2>Example Pages</h2>
    </div>
	<!-- TMPL_VAR NAME="cgiapp_embed('make_navbar')" -->
    <h1>Add User -- Processed</h1>
    <h2>HTML::Template version</h2>

  </body>

</html>
