[% INCLUDE "header.tt" %]
<h2><a href="..">[% group %]</a></h2>
<p>
[% IF (article > first_art) %]<a href="./[% article - 1 %]">[% END
%]Previous[% IF (article > first_art) %]</a>[% END %] |
[% IF (article < last_art) %]<a href="./[% article + 1 %]">[% END
%]Next[% IF (article < last_art) %]</a>[% END %] |
<a href="./[% article %][% UNLESS show_headers %]?show_headers=1[% END %]">Toggle Headers</a>
</p>
<pre>
[% text %]
</pre>
<hr />
[% thread %]
[% INCLUDE "footer.tt" %]
