<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
[% IF title %]<title>[% title %]</title>[% END %]
<link rel="stylesheet" href="./[% path_to_root %]style.css" type="text/css" />
</head>
<body>
[% IF title %]<h1>[% title %]</h1>[% END %]
