[% INCLUDE header.tt page_title = "Page Not Saved" %]
[% INCLUDE banner.tt %]

[% IF !config.content_above_navbar_in_html %]
  [% INCLUDE navbar.tt %]
[% END %]

<div id="maincontent">
  <h1>Not saved</h1>

  <p>Sorry; that looks like spam.  If it <i>isn't</i> spam, please contact
  the guide administrator.</p>
</div>

[% IF config.content_above_navbar_in_html %]
  [% INCLUDE navbar.tt %]
[% END %]

[% INCLUDE footer.tt %]
