/.gdbinit
*~
.bash_history
Bzip2.bs
Bzip2.c
Bzip2.o
Compress-Bzip2-*.tar.gz
Debian_CPANTS.txt
MANIFEST.files
META.yml
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
blib/
bzlib-src/Makefile.old
const-c.inc
const-xs.inc
/log.*
pm_to_blib
show_bzversion
t/011-tmp-sample.bz2
t/020-tmp-sample.bz2
t/021-tmp-sample.bz2
t/022-tmp-sample.bz2
t/023-tmp-sample.bz2
t/024-tmp-reference.bz2
t/024-tmp-sample.bz2
t/025-tmp-reference.bz2
t/025-tmp-sample.bz2
t/026-tmp-reference.bz2
t/026-tmp-sample.bz2
t/030-tmp-sample.txt
t/031-tmp-sample.txt
t/032-tmp-sample.txt
t/033-tmp-sample.txt
t/034-tmp-reference.bz2
t/034-tmp-reference.txt
t/034-tmp-sample.txt
t/035-tmp-sample.txt
t/041-tmp-protected.bz2
t/050-tmp-out.bz2
t/051-tmp-out.bz2
t/051-tmp-reference-out-bunzip2.txt
t/060-tmp-out.txt
