    f                                  = 5,8,90,100          
    itmax                              = NS                  
    w0                                 = 0                   
    w1                                 = 1.00                
    w2                                 = 0.75                
