Source: libxas-supervisor-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), perl
Maintainer: kevin l. esteb <kevin@kesteb.us>
Standards-Version: 3.9.4
Homepage: http://scm.kesteb.us/trac

Package: libxas-supervisor-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Middleware for Datacenter Operations - supervisor
 .
 XAS is Middleware for Datacenter Operations. It provides standardized
 methods, modules and philosophy for constructing large distributed
 applications that are the backbone of your operations center.
 .
 This package provides the supervisor modules. This supervisor will
 monitor and manage background processes.
