[address]
# alias for bounces
bounce=owner-getweb@usa.healthnet.org
# alias for internal errors
admin=getweb-admin@usa.healthnet.org

# map domains, hosts, or addresses to user groups
[map.group]
usa.healthnet.org=unlimited
healthnet.org=privileged
getweb-miser-test@usa.healthnet.org=miser

[load]
# for spool mode only:
sleep.spool=30
sleep.message=60
# for all modes:
# kill process after one hour, just in case of infinite loop
timeout=3600
# allow no outgoing messages of size > 100k
maxsize=100000

[spool]
# command to move incoming mail from $MAIL to $localSpool
get=/bin/echo 's * $localSpool' | /usr/bin/Mail -n

# specify "freebie" hosts and schemes which will not count against quota
[quota]
http://www.uth.tmc.edu=0
http://www.healthnet.org=0
ftp://www.healthnet.org=0
http://www.msh.org=0
file=0
http://www.zxvba_test_ignore.com=0

# probably do not need to edit anything below this line

[smtp]
# only split if message is 2*split_size
# host=smtp
split_multiplier=2
# since we are only testing...
never_send=1
split_size=20000

[save]
incoming=0
outgoing=0
exception=0

[profile]
allow_redirect=1
quota.message=14
quota.byte=message*10000
#multiplier.quota.message=0
#multiplier.quota.byte=0

[profile.miser]
allow_redirect=0
quota.message=2
refuse_check=1

[profile.privileged]
quota.message=56

[profile.unlimited]
quota.message=560

[service.getweb]
help=.index

[service.info]
help=.info

[service.apstract]
help=.apstract

[envelope.]
cc=admin
subject=Internal Error
quota_multiplier=0
desc=An unexpected internal error occurred:

[envelope.access_denied]
cc=admin
quota_multiplier=0
subject=Access Denied
desc=An attempted operation was not allowed:

[envelope.quota]
subject=Weekly Quota Exhausted
quota_multiplier=0
desc=<<EOT
Try again in seven days.  Send a message with the body:

HELP QUOTA

for more information.

Your request would have exceeded quota:
EOT

[envelope.corrupt]
cc=admin
subject=Corrupted Document
quota_multiplier=0
desc=<<EOT
Incoming document was corrupted or truncated. Tips:

* Forward the entire document to GetWeb, including any sections marked '** Form section (ignore) **' or '** References in this Document **'

* Try forwarding the document rather than 'replying with included text'

* If you input a new left-bracket or right-bracket, escape it with a '\'

Still having trouble?  Email the getweb administrator.

Could not parse document:
EOT

[envelope.syntax_error]
cc=admin
subject=Syntax Error
desc=A syntax error occurred:
quota_multiplier=0

[envelope.unavailable]
subject=Resource Unavailable
