
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
.tg {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 120%;
}
.h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 200%;
}
