     base_file_name  		= All_cmp
     # for sorting
     gather_header  		= ep
     # binheader,offset type pairs must be unique within a gather
     offset_type  			= tracl
     first_gather   		= 2 
     gather_inc    			= 1 
     last_gather    		= 49 
     freq    		        = 0,3,150,200
     gather_type    		= SP
     min_amplitude    	    = -5 
     max_amplitude    	    = 5 
     min_x1				= 0
     max_x1				= 10
     purpose				= geopsy
