     base_file_name  	=
     cdp_first   		= 1
     cdp_inc    		= 1
     cdp_last    		= 300
     dt_s    			= 1
     tmax_s   			= 1
     freq    		        = 0,3,400,600
     number_of_velocities   	= 300
     first_velocity   	        = 3
     velocity_increment   	= 1
     min_semblance    	    = .0
     max_semblance    	    = .75
     anis1        		 	= 0.0
  	 anis2        		 	= 0.0
  	 dtratio        	 	= 5 
  	 nsmooth        	 	= 
  	 pwr       		     	= 1.0 
  	 smute        		 	= 1.5
