kind: Secret
apiVersion: v1
metadata:
  name: [% oc_config.api_secret_s %]
  namespace: [% namespace %]
  labels:
    app: [% oc_config.api %]
data:
  secret.json: >-
    [% secrets.item('my_secret.json') %]
  some1.secret: [% secrets.item('my_secret.txt') %]
  some2.secret: [% secrets_json.someSecret1 %]
type: Opaque
