kind: Secret
apiVersion: v1
metadata:
  name: [% oc_config.api_secret_s %]
  namespace: [% namespace %]
  labels:
    app: [% oc_config.api %]
data:
  secret.json: >-
    [% secrets.item('project-secret.json') %]
  some.secret: [% secrets.instance_specific.item('my_secret.txt') %]
type: Opaque
