_build/
_eumm/
.build/
.last_cover_stats
.tidyall.d/
*.bs
*.o
**/frontmatter.json
/{{$dist->name}}-*
/blib/
/Makefile
/Makefile.old
/MANIFEST.bak
/MYMETA.*
/pm_to_blib
/releases/
Build
Build.bat
cover_db/
inc/
nytprof.out
!**/.gitignore