<div class="ra-footer" style="font-weight:bolder;background-color: #dcf3f3;">

<div style="float:right;padding-top:2px;padding-right:5px;">
[% INCLUDE rapidapp/public/log_in_out_control.tt %]
</div>

  <div>
    <div style="float:left;padding-left:20px;padding-top:7px;">
      <a 
        href="[% c.mount_url %]/" target="_self" 
        title="Back to home page"
        class="icon-home-64 banner-home-link"
      ></a>
    </div>
  
    <img
        src="/assets/local/misc/static/img/Rapi-Blog-banner-img-45.png"
        style="height:45px;"
    />
  </div>
  
  
  <div class="metro" style="position:absolute;top:0px;left:300px;font-size:13px;">
  

     <a 
       href="#![% c.mount_url %]/adm/main/db/db_post" 
       class="thumbnail tile tile-long-tiny tile-red fa-links"
     >
        <i class="fa fa-list"></i>&nbsp;Posts
    </a>
    
    <a 
       href="#![% c.mount_url %]/adm/main/db/db_post/add" 
       class="thumbnail tile tile-long-tiny tile-green fa-links"
     >
        <i class="fa fa-plus-square"></i>&nbsp;New Post
    </a>
    
    <a 
       href="#![% c.mount_url %]/adm/main/db/db_user/item/[% c.user.linkedRow.id %]" 
       class="thumbnail tile tile-long-tiny tile-pink fa-links"
     >
        <i class="fa fa-user"></i>&nbsp;My Profile
    </a>

    <div id='go-box' class="search-boxes" style="float:left;margin-left:10px;margin-top:2px;">
      <table >
        <tr>
          <th><div style="margin-right:-2px;margin-bottom:1px;"></div></th>
          <td class="middle" width="220px;">

            <div >

              <div class='ra-search-box' style="min-width:200px;">
                <form 
                  class='ra-search-form' style="height:32px;"
                  action="#!/adm/main/db/db_post" 
                  onsubmit="return Ext.ux.RapidApp.HashNav.formSubmitHandler.apply(this,arguments);"
                >
                 <input class='ra-search-text' name='quick_search' type='text'/>
                 <button class='ra-search-button' type='submit'><span><i class="fa fa-search"></i></span></button>
                </form>
              </div>

            </div>
            
          </td>
        </tr>
      </table>
    </div>

  </div>
  
  
  
  
  
  
  
  

</div>