<html>
<head>
  <title>[% title %]</title>
</head>
<body>

<p>[% loc("Dear visitor,") %]<br>

[% "<test filters>" | html %]<br>

[% loc("This is the {count TH} test", count => 1) %]<br>
[% | loc(count => 2) %]This is the {count TH} test, in a pipe[% END %]<br>
[% FILTER loc(count => 3) %]The FILTER test, number {count},
   is here[% END %]<br>
[% S("second table") %]

[% FILTER loc %]

   multi-line   cleanup
	this mess, as HTML

accepts
[% END %]

</body>
</html>
