    agc                                = 0                   
    bias                               = 0.0                 
    clip                               = none                
    epow                               = 0.0                 
    etpow                              = 1.0                 
    gagc                               = 0                   
    gpow                               = 1.0                 
    jon                                = 0                   
    mark                               = 0.                  
    maxbal                             = 0                   
    mbal                               = 1                   
    nclip                              = none                
    norm                               = 0.0                 
    panel                              = 0                   
    pbal                               = 0                   
    pclip                              = none                
    qbal                               = 0                   
    qclip                              = 1.0                 
    scale                              = 1.0                 
    tmpdir                             = if                  
    tpow                               = 0.0                 
    trap                               = none                
    verbose                            = 0                   
    vred                               = 0                   
    wagc                               = 0.5                 
