# Copyright (c) 2023 Yuki Kimoto
# MIT License

use strict;
use warnings;
use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_gnu99(file => __FILE__);

$config->add_ccflag("-DUTF8PROC_STATIC");

my @source_files = qw(
  utf8proc.c
);

$config->add_source_file(@source_files);

$config;
