<h2>The [% yapc_name %] Conference Surveys</h2>

[% IF loggedin %]

[% IF thanks == 1 %]

<div class="newsbox intro">
<p>Many thanks for completing your talk evaluation assessment form. The 
results will be provided to the presenter, after the surveys close, to enable them to 
improve the presentation for future attendees.</p>
<p>[% yapc_host %]</p>
</div>

[% ELSIF thanks == 2 %]

<div class="newsbox intro">
<p>Many thanks for completing this survey.</p>
<p>For an announcement of when the survey results are published, please check 
the usual Perl news outlets or the <a href="http://yapc-surveys.org">YAPC 
Conference Surveys</a> website.</p>
<p>[% yapc_host %]</p>
</div>

[% ELSE %]

<div class="newsbox intro">
<p>From here you can access and complete surveys pertaining to the [% yapc_name %] Perl Conference.</p>
<p>As you complete a survey, that survey will become unavailable, thus allowing you to keep a track of 
what surveys you have and haven't completed. Further information about the surveys please see the
<a href="http://yapc-surveys.org/about.html">About the Surveys</a> page on the official site.</p>
<p>
Best regards,<br />
[% yapc_host %]<br />
[% yapc_city %]</p>
</div>

[% END %]

[% IF survey_end %]
<div id="closed" class="newsbox">
<p>Surveys have now closed. Results will be on the <a href="http://yapc-surveys.org">YAPC 
Conference Surveys</a> website soon.</p>
</div>
[% END %]

<h3>Conference Survey</h3>
<div class="newsbox">
<ul>
[% IF survey_end %]
[% IF data.survey.completed %]
<li><span class="strike">[% yapc_name %] Conference Survey</span></li>
[% ELSE %]
<li>[% yapc_name %] Conference Survey</li>
[% END %]
[% ELSE %]
[% IF survey_start %]
[% IF data.survey.completed %]
<li><span class="strike seen">[% yapc_name %] Conference Survey</span></li>
[% ELSE %]
<li><a href="/survey/[% loginid %]">[% yapc_name %] Conference Survey</a></li>
[% END %]
[% ELSE %]
<li>[% yapc_name %] Conference Survey <span class="alert">(unavailable until [% survey_open %])</span></li>
[% END %]
[% END %]
</ul>
</div>

[% IF data.courses %]
<h3>Course Evaluation Surveys</h3>
<div class="newsbox">
[% IF ! course_start %]
<p class="alert">Please note these surveys are unavailable until [% course_open %].</p>
[% END %]
<ul>
[%  FOREACH item = data.courses %]
[% IF survey_end %]
[% IF item.completed %]
<li><span class="strike seen">[% item.course %] by [% item.tutor %]</span></li>
[% ELSE %]
<li>[% item.course %] by [% item.tutor %]</li>
[% END %]
[% ELSE %]
[% IF course_start %]
[% IF item.completed %]
<li><span class="strike seen">[% item.course %] by [% item.tutor %]</span></li>
[% ELSE %]
<li><a href="/course/[% item.courseid %]">[% item.course %]</a> by [% item.tutor %]</li>
[% END %]
[% ELSE %]
<li>[% item.course %] by [% item.tutor %]</li>
[% END %]
[% END %]
[% END %]
</ul>
</div>
[% END %]

[% IF data.talks %]
<h3>Talk Evaluations</h3>
<div class="newsbox">
[% IF ! talks_start %]
<p class="alert">Please note these evaluations are unavailable until [% talks_open %].</p>
[% ELSE %]
<p>Note that each Talk Evaluation is enabled after the the start of the talk it refers to.</p>
[% END %]
[%  FOREACH day = data.talks %]
<h4>[% day.date %]</h4>
<ul>
[% FOREACH item = day.talks %]
[% IF survey_end %]
[% IF item.completed %]
<li><span class="strike seen">[% item.course %] by [% item.tutor %]</span></li>
[% ELSE %]
<li>[% item.course %] by [% item.tutor %]</li>
[% END %]
[% ELSE %]
[% IF talks_start && item.datetime < talks_time %]
[% IF item.completed %]
<li><span class="strike seen">[% item.course %] by [% item.tutor %]</span></li>
[% ELSE %]
<li><a href="/talk/[% item.courseid %]">[% item.course %]</a> by [% item.tutor %]</li>
[% END %]
[% ELSE %]
<li>[% item.course %] by [% item.tutor %]</li>
[% END %]
[% END %]
[% END %]
</ul>
[% END %]
</div>
[% END %]

[% ELSE %]

<div class="newsbox">
<p>
This is the survey site for [% yapc_name %]. In order to access the various surveys available, please use the link 
containing your key sent to your registered email address. If you are unable to access this key, please see Barbie 
during the conference or email the <a href="mailto:[% administrator %]">administrator</a>.
<p>
Best regards,<br />
[% yapc_host %]<br />
[% yapc_city %]<br />
</div>

[% END %]
