<div class='one'>
<table align='center'>
	<tbody>
    <tr><td colspan='2'><div class='success'>An activation email is sent to your email. Please have a check!</div></td></tr>
	<form method='post'>
	<tr class='title'><td colspan='2'>[% c.loc('Activation') %]</td></tr>
	<tr class='misc1'><td width='20%' align='right'><label for="username">[% c.loc('Username:') %]</label></td><td><input type='text' name='username' value='[% username || c.user.username %]' length='12' /></td></tr>
	<tr class='misc2'><td align='right'><label for="activation_code">[% c.loc('Active Code:') %]</label></td><td><input type='text' name='activation_code' length='12' />[% IF ERROR_UNMATCHED %]the active code is wrong, please try it again[% END %]</td></tr>
	<tr class='misc1'><td> </td><td><input type='submit' /></td></tr>
	</form>
	</tbody>
</table>
