[% USE HTML.Strip -%]
[% BLOCK header -%]
[% INCLUDE $html_header %]
[% END -%]
[% BLOCK footer %]
[% INCLUDE $html_footer %]
[% END -%]
[% BLOCK body -%]
[% INCLUDE $html_body %]
[% END -%]
[% IF Activator_Emailer_format == 'text' -%]
[% FILTER html_strip emit_spaces = 0 -%]
[% INCLUDE body %]
[% END -%]
[% ELSE -%]
[% INCLUDE header -%]
[% INCLUDE body %]
[% INCLUDE footer -%]
[% END -%]
