    dvdx                               = 0.0,0.0        
    dvdz                               = 0.0,0.0       
    dx                                 = 10                  
    dz                                 = 10                  
    fx                                 = 0.0                 
    fz                                 = 0.0                 
    method                             = linear                              
    ninf                               = 5                   
    npmax                              = 201                 
    nx                                 = 100                 
    nz                                 = 100                 
    tfile                              = testfilename        
    v00                                = 1500,2000,2500
    x0                                 = 0.0,0.0       
    z0                                 = 0.0,0.0        