d1                                 =                     
d2                                 =                     
dx1                                =                     
dx2                                =                     
f1                                 =                     
f2                                 =                     
fx1                                =                     
fx2                                =                     
method1                            =                     
method2                            =                     
n1                                 =                     
n2                                 =                     
nx1                                =                     
nx2                                =                     
x1                                 =                     
x2                                 =                     