Source: libtest-module-runnable-perl
Section: perl
Priority: optional
Maintainer: Duncan Ross Palmer <palmer@overchat.org>
Build-Depends: debhelper (>= 9),
Build-Depends-Indep:
 libmoose-perl,
 libreadonly-perl,
 liblist-moreutils-perl,
 libtest-deep-perl,
 libtest-exception-perl,
 libtest-mockmodule-perl,
 libtest-output-perl,
Standards-Version: 4.3.0
Homepage: https://hg.sr.ht/~m6kvm/libtest-module-runnable-perl

Package: libtest-module-runnable-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 libmoose-perl,
 libtest-deep-perl,
 libtest-exception-perl,
 libtest-mockmodule-perl,
Description: Test::Module::Runnable - A runnable framework on Moose for running tests
 Base class for runnable unit tests using Moose introspection
 and a user-defined pattern for subtest routines.
 .
 For further information see:
 .
 https://metacpan.org/pod/Test::Module::Runnable
 http://www.daybologic.co.uk/software.php?content=libtest-module-runnable-perl
