[% WRAPPER layout.tt
title = 'aliens' %]
<ul>
  <li><a href="/">home</a></li>
  <li><a href="/dinosaurs.html">dinosaurs</a></li>
  <li>aliens</li>
</ul>

<img src="static/img/aliens.jpg" title="aliens">
[% END %]
