# where to write logging data.
# /etc/mongos.conf
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongos.log

# network interfaces
net:
  port: 27017
  #bindIp: <PRIVATE-IP-MONGOS>

sharding:
  configDB: configReplSet/<PRIVATE-IP-CONFIG1>:27019,<PRIVATE-IP-CONFIG2>:27019,<PRIVATE-IP-CONFIG3>:27019
