/*********/
* { margin: 0px; padding: 0px; }
/*********/
div, dl, p { margin: .5em .5em 0 .2em; }
h2 { padding: .1em 0 0 .2em; }
dt { background: #eee; }
th { text-align: left; }
/*********/
.login {
    float: right;
    text-align: right;
}
div.form {
    width: 60%;
    border: 2px solid #ddd;
    padding: .5em 0 .5em .5em;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
/*********/
#wrapper {
    width: 40em;
    margin-left: 5em;
    background-color: #fefff3;
}
#topnav h2 {
    border-left: solid #de9 5px;
    border-bottom: solid #de9 1px;
}

div#body {
    text-align: left;
}
