Source: libdevice-currentcost-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: perl (>= 5.6.10-12), libtest-requires-perl,
  libtest-sharedfork-perl, libtest-warn-perl
Maintainer: Mark Hindess <soft-debian@temporalanomaly.com>
Standards-Version: 3.9.1.0
Homepage: http://search.cpan.org/dist/Device-CurrentCost/

Package: libdevice-currentcost-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Breaks: libanyevent-currentcost-perl (<< 1.130190-1)
Description: Device::CurrentCost Perl Module
 Low-level API for reading from Current Cost energy meters.
