/*--------------------------------------------------------------------*/
/* Search Listings */

/* The selector dropdown */
#qtv-listings .grid .lrow li select {
	height: 1.5em;
    line-height: 2em;
    margin: 0.3em 0;
}




