a.dropzone48{
color:#000;
cursor:pointer;
font-family:verdana,sans-serif;
font-size:30px;
height:48px;
vertical-align:top;
background-color:#d6d2d0;
}
a.treeviewLink48 {
color:#000;
cursor:pointer;
font-family:verdana,sans-serif;
font-size:30px;
height:48px;
vertical-align:top;
}
a.treeviewLink48:hover {
color:blue;
cursor:pointer;
font-family:verdana,sans-serif;
font-size:30px;
height:48px;
vertical-align:top;
}
table.treeview48 {
color:#000;
white-space:nowrap;
}
td.captionBorder48 {
border-bottom:1px;
border-bottom-style:dashed;
color:#000;
font-family:verdana, sans-serif;
font-size:35px;
height:48px;
vertical-align:top;
}
td.clasicLastMinusNode48 {
background-image:url('/style/Crystal/48/html-menu-treeview/clasicLastMinusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
height:48px;
vertical-align:top;
}
td.clasicLastPlusNode48 {
background-image:url('/style/Crystal/48/html-menu-treeview/clasicLastPlusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
height:48px;
vertical-align:top;
}
td.clasicMinusNode48 {
background-image:url('/style/Crystal/48/html-menu-treeview/clasicMinusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
vertical-align:top;
}
td.clasicPlusNode48 {
background-image:url('/style/Crystal/48/html-menu-treeview/clasicPlusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
height:48px;
vertical-align:top;
}
td.columnsFolder48,td.columnsNode48,td.caption48 {
font-family:verdana, sans-serif;
font-size:35px;
height:48px;
vertical-align:top;
}
td.columnsFolderBorder48,td.columnsNodeBorder48,td.columnsLastNodeBorder48 {
border-left:1px;
border-left-style:dashed;
color:#000;
font-family:verdana, sans-serif;
font-size:35px;
height:48px;
vertical-align:top;
}
td.columnsLastNode48 {
font-family:verdana, sans-serif;
font-size:35px;
height:48px;
}
td.folder48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderCrystal48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_crystal_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderCrystalClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_crystal.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderFavorite48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_favorite_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderFavoriteClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_favorite.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderGray48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_grey_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderGrayClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_grey.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderGreen48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_green_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderGreenClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_green.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderHtml48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_html_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderHtmlClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_html.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderImage48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_image_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderImageClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_image.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderImportant48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_important_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderImportantClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_important.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderLocked48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_locked_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderLockedClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_locked.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderMan48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_man_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderManClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_man.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderOrange48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_orange_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderOrangeClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_orange.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderPrint48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_print_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderPrintClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_print.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderRed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_red_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderRedClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_red.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderSound48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_sound_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderSoundClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_sound.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderTar48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_tar_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderTarClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_tar.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderText48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_txt_open.png');
background-repeat:no-repeat;
background-position:top left;
color:#000;
cursor:pointer;
height:48px;
vertical-align:top;
}
td.folderTextClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_txt.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
height:48px;
vertical-align:top;
}
td.folderVideo48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_video_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderVideoClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_video.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderViolet48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_violet_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderVioletClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_violet.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderYellow48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_yellow_open.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.folderYellowClosed48 {
background-image:url('/style/Crystal/48/html-menu-treeview/folder_yellow.png');
background-repeat:no-repeat;
color:#000;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.lastMinusNode48 {
background-image:url('/style/Crystal/48/html-menu-treeview/lastMinusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
vertical-align:top;
}
td.lastNode48 {
background-image:url('/style/Crystal/48/html-menu-treeview/lastNode.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:35px;
height:48px;
vertical-align:top;
}
td.lastPlusNode48 {
background-image:url('/style/Crystal/48/html-menu-treeview/lastPlusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
height:48px;
vertical-align:top;
}
td.minusNode48 {
background-image:url('/style/Crystal/48/html-menu-treeview/minusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
vertical-align:top;
}
td.node48 {
background-image:url('/style/Crystal/48/html-menu-treeview/node.gif');
background-repeat:repeat-y;
cursor:pointer;
font-size:35px;
height:48px;
text-align:left;
vertical-align:top;
}
td.plusNode48 {
background-image:url('/style/Crystal/48/html-menu-treeview/plusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
vertical-align:top;
}
td.submenuDeco48 {
background-image:url('/style/Crystal/48/html-menu-treeview/vertLine.gif');
background-repeat:repeat-y;
}
tr.trOver{
color:black;
background-color:#d4d0c8;
}
td.img{
background-repeat:no-repeat;
cursor:pointer;
background-position:0px 0px;
padding-left:50px;
vertical-align: top;
}