language: perl
sudo: false

install:
  - cpanm --installdeps .

perl:
  - "5.8"
  - "5.10"
  - "5.12"
  - "5.14"
  - "5.16"
  - "5.18"
  - "5.20"
  - "5.22"
  - "5.24"

script:
  - perl Makefile.PL
  - make
  - make test
  - prove -bv t
  - make install
