<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
		<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
		<title>Unit tests of DTS packages: error!</title>
		<link rel="stylesheet" type="text/css" href="/style/test_result.css" />
</head>
<body>
<h1 style="text-align: center;">An error ocurred when trying to execute the unit tests:</h1>
<p class="error">
		<TMPL_VAR NAME=ERROR_MSG>
</p>
<br>
Contact your system administrator for help.
</body></html>
