.sortable-box,
.sortable-placeholder {
    margin: 5px;
}

.sortable-placeholder {
    border-style: dashed;
}

.sortable-box .inner {
    padding: 5px;
}

.sortable-box h3 {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 5px 0 0 5px;
}

.replacing .sortable-box {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    opacity: 0.5;
}

.filters .loading,
.chooser .loading {
    visibility: hidden;
}

.filters.adding .loading,
.chooser.replacing .loading {
    visibility: visible;
}

form.automatic-assignment textarea {
    font-family: monospace;
}
