/* database.config */
{
    mysql_default_config: { // default configuration
        port: 3306,
        user: "cocoa",
        password: "s3cret",
        database: "users",
        charset:  "utf8mb4",
    },
    mysql: {
        MYSQL_USER_MASTER: { host: "master.users.mysql.local", },
        MYSQL_USER_SLAVE: [ // shards
            { host: /*comment*/ "0.user.products.mysql.local", port: 33060, },
            { host: "1.user.products.mysql.local", port: 33061, },
        ],
        /* /* currently disabled */
        MYSQL_PRODUCT_MASTER: { host: "master.products.mysql.local", },
        MYSQL_PRODUCT_SLAVE: [
            { host: "0.slave.products.mysql.local", port: 33060, database: "products" },
            { host: "1.slave.products.mysql.local", port: 33061, database: "products" },
        ]
        */
    },
    redis: {
        REDIS_PRODUCT_SHARD: [
            { host: "0.shard.products.redis.local", port: 3600, },
            { host: "1.shard.products.redis.local", port: 3601, },
        ]
    }

}
/* end of database.config */

