<html>
<head><title>Exsample template</title></head>
<body>
<h1>Exsample CGI Form</h1>
<form <tmpl_var name="__StartForm__">>
<table>
<tr><td>Name     </td><td> <tmpl_var name="__NAME__">   </td></tr>
<tr><td>E-mail   </td><td> <tmpl_var name="__EMAIL__">  </td></tr>
<tr><td>Sex      </td><td> <tmpl_var name="__SEX__">    </td></tr>
<tr><td>ID       </td><td> <tmpl_var name="__ID__">     </td></tr>
<tr><td>PASSWORD </td><td> <tmpl_var name="__PASSWD__"> </td></tr>
</table>
<tmpl_var name="__SUBMIT__">
</form>
</body>
</html>
