[% PROCESS "form_macros.tt" %]
[% MACRO list_row_columns(item) BLOCK; %]
            [% FOR column = crud.model.list_columns %]
                <td>
                [% IF column == crud.model.columns('Stringify'); %]
                   <a href="[% c.uri_for_controller('view', item.id) %]">[% item.$column | html %]</a>
                [% ELSE; %]
                    [% form_field_item(column, item.$column, ['view', item.$column.id], '') %]
                [% END; %]
                </td>
            [% END %]
[% END; %]



[% MACRO list_additional_column_headings(item) BLOCK; %]
[% END; %]



[% MACRO list_actions(item) BLOCK; %]
                <a href="[% c.uri_for_controller('view', item.id) %]">View</a>
                <a href="[% c.uri_for_controller('edit', item.id) %]">Edit</a>
                <a href="[% c.uri_for_controller('delete', item.id) %]">Delete</a>
[% END; %]

