.fold {
  width: 20px;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.number {
  width: 45px;
  float: left;
  margin-right: 10px;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line {
}


body {
  background: #f4f4f4;
  font-family: "Monospace";
  font-size: 1em;
}
font {
  font-family: "Monospace";
  font-size: 1em;
}
.index {
  margin-right: 10px;
  width: 340px;
  float: left;
  height: 100%;
}
.content {
  width: 944px;
  padding: 20px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
font.Alert {
	color: Orange;
	font-weight: bold;
}


font.Annotate {
   color: Orange;
	font-style: italic;
}

font.Attribute {
   color: Maroon;
}

font.BaseN {
   color: DarkGreen;
}

font.BuiltIn {
   color: LightCoral;
}

font.Char {
   color: Magenta;
}

font.Comment {
   color: Gray;
	font-style: italic;
}

font.CommentVar {
   color: Blue;
	font-style: italic;
}

font.Constant {
   color: DarkBlue;
}

font.Control {
   color: Darkblue;
}

font.DataType {
   color: Blue;
}

font.DecVal {
   color: DarkBlue;
	font-weight: bold;
}

font.Documentation {
   color: DarkGray;
	font-style: italic;
}

font.Error {
   color: Red;
	font-weight: bold;
}

font.Extension {
   color: DarkGray;
	font-weight: bold;
}

font.Float {
   color: Blue;
	font-weight: bold;
}

font.Function {
   color: Brown;
}

font.Import {
   color: DarkRed;
}

font.Information {
   color: LightGreen;
	font-style: italic;
}

font.Keyword {
   color: DarkGreen;
	font-weight: bold;
}

font.Normal {
   color: Black;
}

font.Operator {
   color: Orange;
}

font.Others {
   color: #408040;
}

font.Preprocessor {
   color: LightGreen;
	font-weight: bold;
}

font.RegionMarker {
   color: LightBlue;
}

font.Reserved {
   color: Purple;
}

font.SpecialChar {
   color: Purple;
	font-weight: bold;
}

font.SpecialString {
   color: Plum;
}

font.String {
   color: Red;
}

font.Variable {
   color: LightBlue;
	font-weight: bold;
}

font.VerbatimString {
   color: LightRed;
}

font.Warning {
   color: Brown;
	font-weight: bold;
}

