[% 
    title = "Welcome - Into The Labyrinth" ;
%]

      <p>Labyrinth is a Website Management System, written in Perl and suitable for deployment on traditional Linux and Windows web server environments. This site consists of the project resources used to allow you to build on the codebase for Labyrinth, and create your own website.</p>
      <p>This site together with the associated packages available from CPAN form the basis of a Demo website, that provides the system files, HTML templates and SQL files used by Labyrinth. These files can then be adapted and extended to create the website for your project. For further information please see the <a href="http://labyrinth.missbarbell.co.uk">Labyrinth website</a>.</p>


      <div class="post">
			
				<a name="TemplateInfo"></a>	
				<h1>Template Info</h1>
				
				<p>Posted by <a href="/index.html" title="Home">ealigam</a></p>

				<p><strong>PixelGreen 1.2</strong> is a free, W3C-compliant, CSS-based website template 
				by <strong><a href="http://www.styleshout.com/">styleshout.com</a></strong>. This work is 
				distributed under the <a rel="license" href="http://creativecommons.org/licenses/by/2.5/">
				Creative Commons Attribution 2.5  License</a>, which means that you are free to 
				use and modify it for any purpose. All I ask is that you include a link back to  
				<a href="http://www.styleshout.com/">my website</a> in your credits.</p>  

				<p>For more free designs, you can visit 
				<a href="http://www.styleshout.com/">my website</a> to see 
				my other works.</p>
		
				<p>Good luck and I hope you find my free templates useful!</p>
				
				<p class="post-footer align-right">					
					<a href="/index.html" title="Home" class="readmore">Read more</a>
					<a href="/index.html" title="Home" class="comments">Comments (7)</a>
					<span class="date">Nov 11, 2006</span>	
				</p>
				
			</div>

<!--

				<a name="SampleTags"></a>
				<h1>Sample Tags</h1>
				
				<h3>Code</h3>				
				<p><code>
				code-sample { <br />
				font-weight: bold;<br />
				font-style: italic;<br />				
				}
				</code></p>	
			
				<h3>Example Lists</h3>
			
				<ol>
					<li>Here is an example</li>
					<li>of an ordered list</li>							
				</ol>	
						
				<ul>					
					<li>Here is an example</li>
					<li>of an unordered list</li>							
				</ul>				
				
				<h3>Blockquote</h3>			
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
				nibh euismod tincidunt ut laoreet dolore magna aliquam erat....</p></blockquote>
			
				<h3>Image and text</h3>
				<p>
				<a href="http://getfirefox.com/"><img src="images/firefox-gray.jpg" width="100" height="121" alt="firefox-gray"  class="float-left" /></a>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
				posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
				odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra 
				condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. 
				In tristique orci porttitor ipsum. Aliquam ornare diam iaculis nibh.  								
				</p>
				
				<h3>Table Styling</h3>
							
					<table>
					<tr>
						<th class="first"><strong>post</strong> date</th>
						<th>title</th>
						<th>description</th>
					</tr>
					<tr class="row-a">
						<td class="first">05.31.2006</td>
						<td><a href="/index.html" title="Home">Augue non nibh</a></td>
						<td><a href="/index.html" title="Home">Lobortis commodo metus vestibulum</a></td>
					</tr>
					<tr class="row-b">
						<td class="first">05.31.2006</td>
						<td><a href="/index.html" title="Home">Fusce ut diam bibendum</a></td>
						<td><a href="/index.html" title="Home">Purus in eget odio in sapien</a></td>
					</tr>
					<tr class="row-a">
						<td class="first">05.31.2006</td>
						<td><a href="/index.html" title="Home">Maecenas et ipsum</a></td>
						<td><a href="/index.html" title="Home">Adipiscing blandit quisque eros</a></td>
					</tr>
					<tr class="row-b">
						<td class="first">05.31.2006</td>
						<td><a href="/index.html" title="Home">Sed vestibulum blandit</a></td>
						<td><a href="/index.html" title="Home">Cras lobortis commodo metus lorem</a></td>
					</tr>
					</table>
			
				<h3>Example Form</h3>
				<form action="#">			
					<p>			
					<label>Name</label>
					<input name="dname" value="Your Name" type="text" size="30" />
					<label>Email</label>
					<input name="demail" value="Your Email" type="text" size="30" />
					<label>Your Comments</label>
					<textarea rows="5" cols="5"></textarea>
					<br />	
					<input class="button" type="submit" />		
					</p>		
				</form>				

-->
