use strict;
use Test::More;

my $FILES = [qw(
[% make_pod_test_files() %]
)];
local $@;
eval "use Test::Pod 1.00";
plan skip_all => "Test::Pod 1.00 required for testing POD" if $@;
all_pod_files_ok( @$FILES );
;1;
