kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: [% oc_config.instance_specific_name.solr_admin_log %]
  namespace: [% namespace %]
  labels:
    app: [% oc_config.instance_specific_name.solr_admin %]
  finalizers:
    - kubernetes.io/pvc-protection
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: [% oc_config.instance_specific_data.solr_admin.solr_admin_log_size %]
  storageClassName: netapp-internal
  volumeMode: Filesystem
