{namespace rname.sample}
/**
  * Comment line
  * @param? par1 Some comment
  * @param par2 Some comment
*/
{template .Hello}
 {import file="test.pod6"}
  <div>Test</div>
{/template}

/**
  * {raw .show.png type="data/raw" file="test.jpg" /}
*/
{template .Nw}
e
{/template}
