<refentry id='elt.<TMPL_VAR NAME=name>'>
  <?dbhtml filename='elt.<TMPL_VAR NAME=fname>.html' ?>

  <refentryinfo>
    <!-- TMPL_IF NAME="date" --><pubdate><!-- TMPL_VAR NAME="date" --></pubdate><!-- /TMPL_IF -->
    <bibliomisc>Page g&eacute;n&eacute;r&eacute;e par dtd2db</bibliomisc>
  </refentryinfo>

  <refmeta>
    <indexterm>
      <primary>elements</primary>
      <secondary><!-- TMPL_VAR NAME="name" --></secondary>
    </indexterm>
    <refentrytitle><!-- TMPL_VAR NAME="name" --></refentrytitle>
    <refmiscinfo><!-- TMPL_VAR NAME="generator" --></refmiscinfo>
  </refmeta>

  <refnamediv>
    <refname><!-- TMPL_VAR NAME="name" --></refname>
    <refpurpose>&elt.<!-- TMPL_VAR NAME="name" -->.brief;</refpurpose>
  </refnamediv>

  <refsynopsisdiv>
    <title>Synopsis</title>
    <informaltable frame='all'>
      <tgroup cols='3'>
        <colspec colnum='1' colname='c1'/>
        <colspec colnum='2' colname='c2'/>
        <colspec colnum='3' colname='c3'/>
        <tbody>
          <row rowsep='0'>
            <entry namest='c1' nameend='c3' align='left'>
              <emphasis>
<!-- TMPL_IF NAME="is_mixed" -->
                Contenu mixte
<!-- TMPL_ELSE -->
  <!-- TMPL_IF NAME="is_element" -->
                Contenu &eacute;l&eacute;mentaire pur
  <!-- TMPL_ELSE -->
                Contenu
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
              </emphasis>
            </entry>
          </row>
          <row rowsep='1'>
            <entry namest='c1' nameend='c3' align='left'>
              <synopsis><!-- TMPL_VAR NAME="name" --> ::=
<!-- TMPL_VAR NAME="f_model" --></synopsis>
            </entry>
          </row>
          <row rowsep='0'>
            <entry align='left' namest='c1' nameend='c3'>
              <emphasis>Attributs</emphasis>
            </entry>
          </row>
<!-- TMPL_IF NAME="attrs" -->
          <row rowsep='1'>
            <entry align='left'>
              <para><emphasis>Nom</emphasis></para>
            </entry>
            <entry align='left'>
              <para><emphasis>Type</emphasis></para>
            </entry>
            <entry align='left'>
              <para><emphasis>D&eacute;faut</emphasis></para>
            </entry>
          </row>
  <!-- TMPL_LOOP NAME="attrs" -->
          <row rowsep="1">
            <entry align='left' valign='top'><!-- TMPL_VAR NAME="attr_name" --></entry>
            <entry align='left' valign='top'>
<!-- TMPL_IF NAME="is_enum" -->
              <simplelist>
                <member><emphasis>Enum&eacute;ration:</emphasis></member>
    <!-- TMPL_LOOP NAME="enum" -->
                <member><!-- TMPL_VAR NAME="val" --></member>
    <!-- /TMPL_LOOP -->
              </simplelist>
<!-- TMPL_ELSE -->
  <!-- TMPL_IF NAME="is_notation" -->
              <simplelist>
                <member><emphasis>Notation &eacute;num&eacute;r&eacute;e:</emphasis></member>
    <!-- TMPL_LOOP NAME="enum" -->
                <member><!-- TMPL_VAR NAME="val" --></member>
    <!-- /TMPL_LOOP -->
              </simplelist>
  <!-- TMPL_ELSE -->
              <!-- TMPL_VAR NAME="type" -->
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
            </entry>
            <entry align='left' valign='top'><!-- TMPL_VAR NAME="value_default" --></entry>
          </row>
  <!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->
          <row rowsep='0'>
            <entry align='left' namest='c1' nameend='c3'>
              <emphasis>Aucun</emphasis>
            </entry>
          </row>
<!-- /TMPL_IF -->
        </tbody>
      </tgroup>
    </informaltable>
  </refsynopsisdiv>

  <refsect1>
    &elt.<!-- TMPL_VAR NAME="name" -->.desc;
  </refsect1>
<!-- TMPL_IF NAME="parents" -->
  <refsect1><title>Parents</title>
    <para>Les &eacute;l&eacute;ments suivant peuvent contenir <!-- TMPL_VAR NAME="name" -->:
      <simplelist type='inline'>
        <!-- TMPL_LOOP NAME="parents" --><member><!-- TMPL_VAR NAME="a" --></member>
        <!-- /TMPL_LOOP -->
      </simplelist>.
    </para>
  </refsect1>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="childs" -->
  <refsect1><title>Fils</title>
    <para>Les &eacute;l&eacute;ments suivant peuvent &ecirc;tre contenus dans <!-- TMPL_VAR NAME="name" -->:
      <simplelist type='inline'>
        <!-- TMPL_LOOP NAME="childs" --><member><!-- TMPL_VAR NAME="a" --></member>
        <!-- /TMPL_LOOP -->
      </simplelist>.
    </para>
  </refsect1>
<!-- /TMPL_IF -->
</refentry>

