<!-- TMPL_IF NAME="idx_elt" -->
<reference id='index.element'>
  <?dbhtml filename="index.element.html"?>
  <title>El&eacute;ments</title>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="idx_ent" -->
<reference id='index.entity'>
  <?dbhtml filename="index.entity.html"?>
  <title>Entit&eacute;s</title>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="idx_not" -->
<reference id='index.notation'>
  <?dbhtml filename="index.notation.html"?>
  <title>Notations</title>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="lst_ex" -->
<reference id='index.example'>
  <?dbhtml filename="index.example.html"?>
  <title>Exemples</title>
<!-- /TMPL_IF -->

  <referenceinfo>
    <!-- TMPL_IF NAME="date" --><bibliomisc><!-- TMPL_VAR NAME="date" --></bibliomisc><!-- /TMPL_IF -->
    <bibliomisc>Page g&eacute;n&eacute;r&eacute;e par dtd2db</bibliomisc>
    <bibliomisc><!-- TMPL_VAR NAME="generator" --></bibliomisc>
  </referenceinfo>

<!-- TMPL_IF NAME="tree" -->
  <partintro>
    <title>Arborescence des &eacute;l&eacute;ments</title>
<!-- TMPL_VAR NAME="tree" -->
  </partintro>
<!-- /TMPL_IF -->

<!-- TMPL_LOOP NAME="ent" --><!-- TMPL_VAR NAME="name" -->
<!-- /TMPL_LOOP -->

</reference>


