
body {
    color:  #000000;
    background-color: #FFFFFF;
    font-family: Helvetica, sans-serif;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

ol {
    list-style-type: upper-alpha;
}

hr {
    color: #00FF00;
    background-color: #808080;
}

table {
    border-width: medium;
    padding: 3px;
    background-color: #000000;
    margin: 5px;
}

caption {
    font-weight : bold;
    font-size: 14pt;
}

th {
    color: #FFFFFF;
    background-color: #000000;
    text-align: left;
}

tr {
    color: #000000;
    background-color: #000000;
    vertical-align: top;
}

tr.even { background-color: #F0F0F0 }
tr.odd { background-color: #D8D8D8 }
td { font-size: 12pt }

div.comment {
    font-style: italic;
    padding:    3px;
}

#tabs {
    position:           relative;
    float:              left;
    width:              100%;
    padding:            0;
    margin:             0;
    list-style:         none;
    line-height:        1em;
}

#tabs li {
    float:              left;
    margin:             0;
    padding:            0;
}

#tabs a {
    display:            block;
    color:              #444;
    text-decoration:    none;
    font-weight:        bold;
    background:         #ddd;
    margin:             0;
    padding:            0.25em 1em;
    border-left:        1px solid #fff;
    border-top:         1px solid #fff;
    border-right:       1px solid #aaa;
}

#tabs a:hover, #tabs a:active, #tabs a.here:link, #tabs a.here:visited {
    background:#bbb;
}

#tabs a.here:link, #tabs a.here:visited {
    position:relative;
    z-index:102;
}
[%# $Id: stylesheet.css 16 2007-11-20 19:16:29Z jason $ #%]
