    bare                               = 0                   
    index                              = 0                   
    key                                =                  
    ntr                                = 50                  
    option                             =                   
    sep                                =                
    verbose                            = 0                   
