    V_r                                =                     
    blvl_file                          =                     
    dx                                 =                     
    dzv                                =                     
    fx                                 =                     
    hdrs                               =                    
    mx                                 =                     
    mz                                 =                     
    no                                 =                     
    nr                                 =                     
    ns                                 =                     
    nsamp                              =                     
    rec_file                           =                     
    refr_file                          =                     
    sign                               =                     
    sou_file                           =                     
    v0                                 =                     
    v1                                 =                     
    vfile                              =                     
