    axescolor                          = #255                
    axeswidth                          = 1                   
    bckgr                              = 0.5                 
    bclip                              =                     
    bhls                               = 0.0,0.0,0.0         
    bperc                              =                     
    bps                                = 12                  
    brgb                               = 0.0,0.0,0.0         
    clip                               =                     
    curve                              =   
    curvecolor                         =  
    curvedash                          = 0                   
    curvefile                          =    
    curvewidth                         =           
    d1                                 = 1.0                 
    d1num                              = 0.0                 
    d1s                                =                  
    d2                                 = 1.0                 
    d2num                              = 0.0                 
    d2s                                = 1.0                 
    f1                                 = 0.0                 
    f1num                              =                     
    f2                                 = 0.0                 
    f2num                              =                     
    ghls                               = 0.0,1.0,0.0         
    grgb                               = 1.0,1.0,1.0         
    grid1                              = none                
    grid2                              = none                
    gridcolor                          = black               
    gridwidth                          =            
    height                             = 8.0                 
    infile                             = none                
    label1                             = label               
    label2                             = label               
    labelfont                          = Helvetica           
    labelsize                          = 18                  
    lbeg                               =                     
    ldnum                              = 0.0                 
    legend                             = 0                   
    legendfont                         = times_roman10       
    lend                               =                     
    lfnum                              =                     
    lgrid                              = none                
    lheight                            =                     
    lnice                              = 0                   
    lntic                              = 1                   
    lstyle                             = 0.                  
    lwidth                             = 1.2                 
    lx                                 = 1.0                 
    ly                                 =                     
    n1                                 =            
    n1tic                              = 1                   
    n2                                 =                  
    n2tic                              = 1                   
    npair                              =    
    perc                               = 100.0               
    style                              = seismic             
    threecolor                         = 1                   
    ticwidth                           =            
    title                              = title               
    titlecolor                         = black               
    titlefont                          = Helvetica-Bold      
    titlesize                          = 24                  
    units                              = unit                
    verbose                            = 1                   
    wclip                              =                
    whls                               = 0.0,1.0,0.0         
    width                              = 6.0                 
    wperc                              = 100.0              
    wrgb                               = 0.0,0,1.0           
    x1beg                              =                     
    x1end                              =                     
    x2beg                              =                     
    x2end                              =                     
    xbox                               = 1.5                 
    ybox                               = 1.5                 
