	axescolor                          = #255                
    bclip                              =                     
    bperc                              =                     
    clip                               =                     
    d1                                 = 1.0                 
    d1num                              = 0.0                 
    d1s                                = 1.0                 
    d2                                 = 1.0                 
    d2num                              = 0.0                 
    d2s                                = 1.0                 
    d3                                 = 1.0                 
    f1                                 = 0.0                 
    f1num                              =                     
    f2                                 = 0.0                 
    f2num                              =                     
    f3                                 =                   
    grid1                              = none                
    grid2                              = none                
    hbox                               = 8.0                 
    label1                             = label               
    label2                             = label               
    labelfont                          = Helvetica           
    labelsize                          = 18                  
    loopdsp                            = 3                   
    n1                                 =         
    n1tic                              = 1                   
    n2                                 = all                 
    n2tic                              = 1                   
    n3                                 = 1                   
    perc                               = 100.0               
    style                              = seismic             
    title                              = title               
    title2                             = second              
    titlefont                          = Helvetica-Bold      
    titlesize                          = 24                  
    verbose                            = 1                   
    wbox                               = 6.0                 
    wclip                              =                    
    wperc                              = 100.0              
    x1beg                              =                     
    x1end                              =                     
    x2beg                              =                     
    x2end                              =                     
    xbox                               = 1.0                 
    ybox                               = 1.5                 