    d1                                 =                     
    d2                                 =                     
    f1                                 =                     
    f2                                 =                     
    tmpdir                             =                     
    verbose                            = 0                   