    box_X0							   = 0
    box_Y0							   = 0          
    box_height|height                  = 600 
    box_width|width                    = 400 
    dt|d1                              =              
    dx|d2                              =              
    first_tick_num_time|f1             =              
    first_tick_number_x|f2             =  
    geometry						   =             
    grid1_type|grid1                   =  dot             
    grid2_type|grid2                   =  dash               
    gridColor                          =   4                          
    labelFont                          =                 
    linecolor                          =              
    line_widths|linewidth              =              
    mark_indices|mark                  =          
    mark_size_pix|marksize             =             
    num_points|n                       =            
    num_minor_ticks_betw_time_ticks|nTic1		=               
    num_minor_ticks_betw_distance_ticks|nTic2	=               
    nplot                              =               
    format|pairs                       =                
    reverse                            =  0                  
    orientation|axes_style|style       =  normal            
    title                              =  blue             
    titleColor                         =                
    titleFont                          = 
    verbose							   =                                
    windowtitle                        = windowtitle               
    x1_min|x1beg                       =                
    x1_max|x1end                       =               
    x2_min|x2beg                       =                
    x2_max|x2end                       =                
    x_label|label1                     =                                
    y_label|label2                     =