bias                               =                     
clip                               =                     
d1                                 =                     
d1num                              =                     
d2                                 =                     
d2num                              =                     
endian                             =                     
f1                                 =                     
f1num                              =                     
f2                                 =                     
f2num                              =                     
grid1                              =                     
grid2                              =                     
gridcolor                          =                     
hbox                               =                     
interp                             =                     
key                                =                     
label1                             =                     
label2                             =                     
labelcolor                         =                     
labelfont                          =                     
mpicks                             =                     
n1                                 =                     
n1tic                              =                     
n2                                 =                     
n2tic                              =                     
perc                               =                     
picked                             =                 
style                              =                     
title                              =                     
titlecolor                         =                     
titlefont                          =                     
va                                 =                     
verbose                            =                     
wbox                               =                     
wt                                 =                     
x1beg                              =                     
x1end                              =                     
x1x2                               =                     
x2                                 =          
x2beg                              =                     
x2end                              =                     
x2file                             =                     
xbox                               =                     
xcur                               =                     
ybox                               =                     