AuthUserFile /dev/null
AuthGroupFile /dev/null
AuthName DenyViaWeb
AuthType Basic

<Files ~ "\.(html?|cgi|pl|pm|inc|lib|zip|gz|txt)$">
    Order allow,deny
    Deny from all
</Files>

<LimitExcept GET POST OPTIONS PROPFIND>
        Order deny,allow
        Deny from all
</LimitExcept>


#Uncomment 'AddHandler' and 'Action' lines to allow direct execution of .whtml files!
#
#AddHandler wt-script .whtml
#
#Action wt-script /cgi-bin/webtools/process.cgi