kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: [% oc_config.instance_specific_name.cron_jobs %]
  namespace: [% namespace %]
  labels:
    app: [% oc_config.instance_specific_name.cron_jobs %]
spec:
  lookupPolicy:
    local: false
