<div id="banner">
<h1>[% meta_title %]</h1>

[% IF meta_logo_link %]
  <img id="babble_logo" src="[% meta_logo_link %]" alt="">
[% END %]

[%- IF meta_blurb_text -%]
<p id="blurb">
[% meta_blurb_text %]
</p>
[%- END -%]
</div>

[%#
arch-tag: 79089d74-cc4b-404b-81b2-20c74e67d73e
%]
