    aniso                              = 1
    asw                                = 0                
    bc                                 = '10,10,10,10'         
    bc_a                               = 0.95;               
    bc_r                               = 0.;                 
    c11file                            = 'c11_file'            
    c13file                            = 'c13_file'            
    c15file                            = 'c15_file'            
    c33file                            = 'c33_file'            
    c35file                            = 'c35_file'            
    c55file                            = 'c55_file'            
    dt                                 = 0.001               
    dx                                 = 10.0                
    dz                                 =                   
    favg                               = 50                  
    ft                                 = 0.0                 
    fx                                 = -1000               
    fz                                 = 0                   
    hsfile                             = 'hs.su'             
    hsz                                =                    
    lt                                 = 1.0                 
    mode                               = 0                                    
    nx                                 = 200                 
    nz                                 = 100                 
    qfile                              = q_file     
    qsw                                = 1                  
    rho                                = 1000                
    rhofile                            = rho_file
    sang                               = 0                   
    snaptime                           = '0.1,0.2,0.3'               
    snfile                             = 'snap_file_name'                
    sofile                             = 'source_file_name'                
    stype                              = 'pw'                
    sx                                 = 0                   
    sz                                 = 500                 
    ts                                 = 0.05                
    tsw                                = 1                   
    verbose                            = 0                   
    vrslfile                           = 'vsp.su'            
    vsx                                =                    
    wtype                              = 'dg'                
