    angmax                             = 60                  
    aperx                              =          
    ds                                 =    
    dt                                 = 0.004               
    dvz                                = 0.0                 
    dx                                 =      
    dxo                                = 25                  
    dxs                                = 25                  
    dxt                                =          
    dz                                 =          
    dzt                                =             
    fmax                               =         
    fs                                 =    
    ft                                 = 0.0                 
    fx                                 =                
    fxo                                = 0.0                 
    fxs                                = 0.0                 
    fxt                                =            
    fz                                 =            
    fzt                                =                      
    jpfile                             =              
    ls                                 = 1                   
    mtr                                = 100                 
    ns                                 =           
    nt                                 = 501                 
    nx                                 =             
    nxo                                = 1               
    nxs                                = 101                 
    nxt                                =              
    nz                                 =          
    nzt                                =              
    ttfile                             = ttfile       
    v0                                 = 1500       