    a                                  = 1.0                 
    angxs                              = 0.0                 
    delta                              = 0                   
    dt                                 = 0.04                
    dvdx                               = 0.0                 
    dvdz                               = 0.0                 
    dxm                                = 0.05                
    dxo                                = 0.05                
    dxs                                = 0.05                
    epsilon                            = 0                   
    epst                               = .0001               
    epsx                               = .001                
    er                                 = 0                   
    f                                  = 0.4                 
    fpeak                              = 0.2/dt              
    ft                                 = 0.0                 
    fxm                                = 0.0                 
    fxo                                = 0.0                 
    fxs                                = 0.0                 
    kilounits                          = 1                   
    l                                  = 0.3                 
    ls                                 = 0                   
    ndpfz                              = 5                   
    nitmax                             = 12                  
    nt                                 = 101                 
    ntries                             = 40                  
    nxm                                = 101                 
    nxo                                = 1                   
    nxs                                = 101                 
    ob                                 = 0                   
    ref                                = 1:1,2;4,2           
    smooth                             = 0                   
    tmin                               =          
    v00                                = 2.0                 
    verbose                            = 1                   
    x0                                 = 0.0                 
    xo                                 = 
    z0                                 = 0.0                 
