Source: dbix-easy-perl
Section: perl
Priority: optional
Maintainer: Stefan Hornburg (Racke) <racke@linuxia.de>
Standards-Version: 3.7.2
Build-Depends: debhelper

Package: libdbix-easy-perl
Architecture: all
Depends: ${perl:Depends}, libdbi-perl
Recommends: libterm-readkey-perl, libtext-csv-perl
Suggests: libdbd-mysql-perl | libdbd-pg-perl
Description: Easy to Use DBI Interface
 DBIx::Easy is an easy to use DBI interface.
 Currently the Pg, mSQL, mysql, sybase and ODBC drivers are supported.
 Note that you also need one of the DBD::* drivers to use this module.
 For additional information please refer to the manpage.
