
/* The "a" links styled as buttons are somewhat of an anomoly in the
   elevator theme for rt5.  In this extension, if we use the "a" link
   styles from rt5, the buttons aren't the correct size or color to
   match the submit inputs they show up next to.

   Since no other "a" links in rt5 need to be targeted like in this
   extension, rather than update the targets in rt5 code, this stylesheet
   is added.

   In the event this extension is made core, please put these styles
   near to the other btn-primary styles with a comment about what
   they specifically control, or spend time adding these selector targets
   to the existing submit input button targets.
*/
body.elevator-light .login-body div.form-row a.btn-primary {
    color: #fff;
    background: #4868b3;
    border-color: transparent;
}

body.elevator-light .login-body div.form-row a.btn-primary:hover,
body.elevator-light .login-body div.form-row a.btn-primary:focus {
    background: #3D5B9D;
}

body.elevator-dark .login-body div.form-row a.btn-primary {
    background: #323D42 !important;
    border-color: #717171 !important;
    color: #ededed !important;
}
