Source: libanyevent-callback-perl
Section: perl
Homepage: http://search.cpan.org/dist/AnyEvent-Callback/
Maintainer: Dmitry E. Oboukhov <unera@debian.org>
Build-Depends: debhelper (>= 7), cdbs, libanyevent-perl
Standards-Version: 3.9.2
Priority: extra
VCS-Browser: https://github.com/unera/libanyevent-callback

Package: libanyevent-callback-perl
Depends: ${perl:Depends}, ${misc:Depends}
Architecture: all
Description: callback aggregator for AnyEvent watchers
 The module allows You to create callback's hierarchy. Also the module
 groups error and result callbacks into one object.
 .
 Also the module checks if one callback was called by watcher or not.
 If a watcher doesn't call result or error callback, error callback will
 be called automatically.
 .
 Also the module checks if a callback was called reentrant. In the case
 the module will complain (using "carp" in Carp).
 .
 If a watcher touches error callback and if superior didn't define error
 callback, the module will call error callback upwards hierarchy.
