Source: libplot-perl
Section: perl
Priority: extra
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.5.9
Build-Depends: debhelper (>> 4.1), perl (>> 5.8), libplot-dev

Package: libplot-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}
Description: perl interface to plot library
 libplot is part of the plotutils package from the FSF. This package
 allows the routines to be called from perl. Only the C library
 routines are avaiable with this package.

