    cdpmin                             = 1001                
    dcdp                               =                 
    distmax                            =                  
    verbose                            = 0                   
    xline                              =                
    yline                              =                
