    add_to_all|a                       = 0                
    multiply_hdr1_by|b                 = 1               
    multiply_hdr2_by|c                 = 0               
    divide_all_by|d                    = 1               
    hdr1_exponent|e                    = 1              
    hdr2_exponent|f                    = 1              
    result_header|key1                 = 'offset'              
    first_header|key2                  = 'gx'            
    second_header|key3                 = 'sx'             
