    a                                  = 0                   
    key                                =                
    max                                = 1                   
    min                                = 0                   
    noise                              =                
    seed                               =           
