cfold                              =                     
fldr                               =                     
hdrs                               =                     
mode                               =                     
nc                                 =                     
niter                              =                     
nr                                 =                     
nshot                              =                     
ntpick                             =                     
ntraces                            =                     
perc                               =                     
rfold                              =                     
rsol                               =                     
sfold                              =                     
ssol                               =                     
sub                                =                     
tracf                              =                     
verbose                            =                     